Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Fix: Remove UUID migration logic in Model.loadLayer()
  cli/src/core/model.ts
Due: eslint, typescript-check

Fix: Remove properties fallback from element.ts initializeFromSpecNode()
  cli/src/core/changeset-exporter.ts
  cli/src/core/element.ts
  cli/tests/helpers/test-fixtures.ts
Due: eslint, typescript-check

Fix: Update all test files to use attributes instead of properties
  cli/tests/fixtures/base-schemas/spec-node-examples.ts
  cli/tests/helpers/test-model.ts
  cli/tests/integration/cache-invalidation.test.ts
  cli/tests/integration/changeset-export-import.test.ts
  cli/tests/integration/changeset-storage-location.test.ts
  cli/tests/integration/export-command.test.ts
  cli/tests/integration/golden-copy-integration.test.ts
  cli/tests/integration/staging-workflow.test.ts
  cli/tests/integration/test-commit-workflow.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/performance/graph-model.test.ts
  cli/tests/performance/staging-performance.test.ts
  cli/tests/unit/core/staged-changeset.test.ts
  cli/tests/unit/export/archimate-exporter.test.ts
  cli/tests/unit/export/json-schema-exporter.test.ts
  cli/tests/unit/export/markdown-exporter.test.ts
  cli/tests/unit/export/markdown-generator.test.ts
  cli/tests/unit/export/mermaid-markdown-exporter.test.ts
  cli/tests/unit/export/openapi-exporter.test.ts
  cli/tests/unit/graph-model.test.ts
  cli/tests/unit/openapi-importer.test.ts
  cli/tests/unit/scripts/generate-validators.test.ts
  cli/tests/unit/test-changeset-validation.ts
  cli/tests/unit/test-element-conversion.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint

Fix: Correct overapplied properties→attributes rename in test fixtures and graph tests
  cli/tests/fixtures/base-schemas/spec-node-examples.ts
  cli/tests/unit/graph-model.test.ts
Due: eslint

Complete work for issue #486
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/export/archimate-exporter.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/export/markdown-generator.ts
  cli/src/export/openapi-exporter.ts
  cli/tests/unit/export/markdown-generator.test.ts
  cli/tests/unit/scripts/generate-validators.test.ts
Due: eslint, typescript-check

Complete work for issue #486
  cli/src/core/layer.ts
Due: eslint, typescript-check

Fix token extraction and add auth flow integration test
  cli/src/commands/visualize.ts
  cli/tests/integration/visualization-server-auth-flow.test.ts
Due: eslint, typescript-check

Bundle dr-viewer v0.3.0 as the default visualization UI
  cli/.gitignore
  cli/esbuild.config.js
  cli/package.json
  cli/scripts/download-viewer.sh
  cli/src/server/server.ts
Due: eslint, typescript-check

Fix visualization server hang: derive viewer-compatible spec_node_id for all elements
  cli/src/server/server.ts
Due: eslint, typescript-check

Fix visualize command to auto-detect available port when default is in use
  cli/src/commands/visualize.ts
  cli/tests/integration/visualization-server-custom-viewer.test.ts
Due: eslint, typescript-check

Fix changeset commit crash when relationships registry is missing from projected model
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Separate UUID id from slug path across all elements
  cli/src/analysis/data-model-analyzer.ts
  cli/src/commands/add.ts
  cli/src/commands/catalog.ts
  cli/src/commands/conformance.ts
  cli/src/commands/list.ts
  cli/src/commands/search.ts
  cli/src/core/dependency-tracker.ts
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/reference-registry.ts
  cli/src/core/report-data-model.ts
  cli/src/core/staging-area.ts
  cli/src/core/stats-collector.ts
  cli/src/core/virtual-projection.ts
  cli/src/export/graphml-exporter.ts
  cli/src/export/markdown-exporter.ts
  cli/src/export/plantuml-exporter.ts
  cli/src/schemas/bundled/base.json
  cli/src/server/server.ts
  cli/src/types/index.ts
  cli/src/utils/id-generator.ts
  cli/src/validators/naming-validator.ts
  cli/src/validators/reference-validator.ts
  cli/src/validators/schema-validator.ts
  cli/src/validators/semantic-validator.ts
  cli/src/validators/validation-formatter.ts
  cli/tests/fixtures/base-schemas/model-node-examples.ts
  cli/tests/integration/element-id-persistence.test.ts
  cli/tests/unit/core/element.test.ts
  cli/tests/unit/core/layer.test.ts
  cli/tests/unit/core/model-deterministic-uuid.test.ts
  cli/tests/unit/server/visualization-server.test.ts
  cli/tests/unit/validators/base-schemas.test.ts
  spec/dist/base.json
  spec/schemas/base/spec-node.schema.json
Due: eslint, typescript-check

Fix 16 test failures: PlantUML assertion and ReportDataModel timeouts
  cli/tests/unit/core/report-data-model.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
Due: eslint

Fix latent timeout risk in report-command integration test
  cli/tests/integration/report-command.test.ts
Due: eslint

Fix /api/model returning empty links array when model has relationships
  cli/src/core/model.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Fix: Prevent test-full CI job from running on default branch pushes
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #490
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Fix: Skip CI test jobs for draft pull requests
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #491
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Fix: Enable CI workflow to trigger on all branches
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #497
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Complete work for issue #498
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Remove unused resolveViewerSpecNodeId method and VALID_SPEC_NODE_IDS variable
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #499
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Complete work for issue #493
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Complete work for issue #492
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Complete work for issue #496
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Remove resolveViewerSpecNodeId test suite
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Complete work for issue #496
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #500
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
  cli/tests/integration/commands.test.ts
Due: eslint

Complete work for issue #500
  cli/tests/integration/commands.test.ts
Due: eslint

Complete work for issue #496
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint

Fix CI timeout issues by excluding heavy tests from parallel execution and adding timeout protection
  cli/package.json
  cli/scripts/run-parallel-tests.sh
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/integration/visualization-server-jsonrpc-chat.test.ts
Due: eslint

Complete work for issue #501
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Complete work for issue #502
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Fix resolveViewerSpecNodeId — Spec Node ID Resolution
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

