Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #512
  cli/tests/integration/changeset-staged-visibility.test.ts
Due: eslint

Update .mcp.json configuration
  .mcp.json
Due: none

Complete work for issue #512
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Complete work for issue #513
  cli/tests/integration/export-roundtrip.test.ts
Due: eslint

Complete work for issue #514
  cli/tests/integration/audit-populated.test.ts
Due: eslint

Complete work for issue #515
  cli/tests/integration/trace-populated.test.ts
Due: eslint

Complete work for issue #516
  cli/test-commit-debug.ts
  cli/test-commit-debug2.ts
  cli/test-commit-debug3.ts
  cli/tests/integration/changeset-new-layer-commit.test.ts
Due: eslint

Complete work for issue #517
  cli/tests/integration/schema-validator-consistency.test.ts
Due: eslint

Complete work for issue #518
  cli/tests/integration/flag-effectiveness.test.ts
Due: eslint

Complete work for issue #519
  cli/tests/integration/commands.test.ts
Due: eslint

Complete work for issue #520
  cli/tests/integration/regression-type-normalization.test.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #520
  cli/tests/integration/regression-type-normalization.test.ts
Due: eslint

Complete work for issue #520
  cli/scripts/generate-openapi.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #521
  cli/tests/integration/regression-naming-edge-cases.test.ts
Due: eslint

Complete work for issue #524
  README.md
Due: none

Address code review feedback for README.md updates
  README.md
Due: none

Fix remaining lowercase "claude code" capitalization issues
  README.md
Due: none

Fix Prettier formatting in relationship-audit.ts
  scripts/relationship-audit.ts
Due: none

Complete work for issue #524
  cli/src/export/openapi-exporter.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/doc-examples.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/export-command.test.ts
Due: eslint, typescript-check

Fix false conflict detection and misleading upgrade labels
  cli/src/integrations/base-manager.ts
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Address code review feedback for PR #526
  cli/src/integrations/base-manager.ts
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
  cli/src/integrations/types.ts
  cli/tests/unit/integrations/base-manager.test.ts
Due: eslint, typescript-check

Fix false conflict detection and misleading labels in dr upgrade (#526)
  cli/src/integrations/base-manager.ts
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
  cli/src/integrations/types.ts
  cli/tests/unit/integrations/base-manager.test.ts
Due: eslint, typescript-check

Fix schema limitations identified during codebase mapping
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/security.json
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  spec/dist/api.json
  spec/dist/application.json
  spec/dist/data-model.json
  spec/dist/manifest.json
  spec/dist/security.json
  spec/schemas/relationships/api/tag.aggregates.operation.relationship.schema.json
  spec/schemas/relationships/application/applicationservice.depends-on.applicationservice.relationship.schema.json
  spec/schemas/relationships/application/applicationservice.flows-to.applicationservice.relationship.schema.json
  spec/schemas/relationships/data-model/schemadefinition.composes.schemadefinition.relationship.schema.json
  spec/schemas/relationships/data-model/schemadefinition.maps-to.collection.relationship.schema.json
  spec/schemas/relationships/data-model/schemadefinition.references.schemadefinition.relationship.schema.json
  spec/schemas/relationships/security/securitypolicy.governs.businessservice.relationship.schema.json
  spec/schemas/relationships/security/securitypolicy.governs.passwordpolicy.relationship.schema.json
Due: none

Fix applicationcomponent realizes applicationservice cardinality to many-to-many
  cli/src/schemas/bundled/application.json
  spec/dist/application.json
  spec/schemas/relationships/application/applicationcomponent.realizes.applicationservice.relationship.schema.json
Due: none

Fix droppedAttributesCount schema type and changeset commit validation
  cli/src/core/changeset-validator.ts
  cli/src/schemas/bundled/apm.json
  spec/dist/apm.json
  spec/schemas/nodes/apm/instrumentationscope.node.schema.json
  spec/schemas/nodes/apm/logrecord.node.schema.json
  spec/schemas/nodes/apm/span.node.schema.json
  spec/schemas/nodes/apm/spanevent.node.schema.json
  spec/schemas/nodes/apm/spanlink.node.schema.json
Due: eslint, typescript-check

Add dr validate --orphans mode and improve relationship wiring workflow
  cli/src/cli.ts
  cli/src/commands/changeset.ts
  cli/src/commands/validate.ts
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
Due: eslint, typescript-check

Fix telemetry unit tests clobbering ~/.dr-config.yaml
  cli/tests/unit/telemetry/config.test.ts
Due: eslint

Replace otel-collector-config.example.yml with otel-send-config.example.yml
  cli/otel-collector-config.example.yml
  cli/otel-send-config.example.yml
Due: none

Optimize CLI telemetry performance with build-time constants and lazy loading
  .dr-config.README.md
  .dr-config.yaml
  cli/esbuild.config.js
  cli/src/cli.ts
  cli/src/commands/version.ts
  cli/src/telemetry/index.ts
  cli/src/telemetry/resilient-exporter.ts
  cli/src/telemetry/resilient-log-exporter.ts
Due: eslint, typescript-check

feat(scan): Implement Phase 1 MCP client integration and configuration
  .gitignore
  cli/src/cli.ts
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
  cli/src/telemetry/index.ts
  cli/tests/unit/scan/config.test.ts
  cli/tests/unit/scan/mcp-client.test.ts
Due: eslint, typescript-check
