Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #785
  cli/src/mcp/tools/model-delete.ts
  cli/tests/unit/mcp/model-tools.test.ts
Due: eslint, typescript-check

Complete work for issue #786
  cli/src/mcp/tools/annotation-shared.ts
Due: eslint, typescript-check

fix: bump CI node-version to 22 for npm Trusted Publisher OIDC support
  .github/workflows/cli-tests.yml
  .github/workflows/release.yml
Due: none

fix: upgrade npm in release-cli job for OIDC trusted publisher support (needs >=11.5.1)
  .github/workflows/release.yml
Due: none

fix: move opentelemetry and glob from devDependencies to dependencies
  cli/package-lock.json
  cli/package.json
Due: none

ci: add fresh-install smoke test to release gate
  .github/workflows/release.yml
Due: none

fix: trim dependency bloat and harden CI smoke test per review
  .github/workflows/release.yml
  cli/package-lock.json
  cli/package.json
Due: none

fix(visualize): show actionable error when Bun runtime is missing
  cli/src/commands/visualize.ts
Due: eslint, typescript-check

fix: move opentelemetry and glob from devDependencies to dependencies (#798)
  .github/workflows/release.yml
  cli/package-lock.json
  cli/package.json
Due: none

fix(visualize): show actionable error when Bun runtime is missing (#801)
  cli/src/commands/visualize.ts
Due: eslint, typescript-check

chore(release): bump CLI to v0.1.6
  cli/CHANGELOG.md
  cli/package.json
Due: none

fix(test): relax analyzer handshake timeout, fix suite-wide test timeout
  .github/workflows/cli-tests.yml
  cli/bunfig.toml
  cli/package.json
  cli/scripts/run-smoke-tests.sh
  cli/src/analyzers/stdio-client.ts
  cli/tests/setup.ts
Due: eslint, typescript-check

chore(release): bump CLI to v0.1.7, supersede unreleased 0.1.6
  cli/CHANGELOG.md
  cli/package.json
Due: none

fix(visualize): port dr visualize server off Bun-specific runtime APIs
  cli/package-lock.json
  cli/package.json
  cli/src/commands/visualize.ts
  cli/src/server-entry.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

fix(visualize): handle async spawn/listen errors correctly under Node
  cli/src/commands/visualize.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

test(visualize): add regression coverage for the Bun->Node migration fixes
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/integration/visualize-node-runtime.test.ts
  cli/tests/unit/server/chat-subprocess-lifecycle.test.ts
  cli/tests/unit/server/http-bind-error.test.ts
Due: eslint, typescript-check

fix(visualize): port dr visualize server off Bun-specific runtime APIs (#803)
  cli/package-lock.json
  cli/package.json
  cli/src/commands/visualize.ts
  cli/src/server-entry.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/integration/visualize-node-runtime.test.ts
  cli/tests/unit/server/chat-subprocess-lifecycle.test.ts
  cli/tests/unit/server/http-bind-error.test.ts
Due: eslint, typescript-check

chore(release): bump CLI to v0.1.8
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
Due: none

Complete work for issue #790
  spec/layers/03-product.layer.json
  spec/schemas/base/predicates.json
  spec/schemas/nodes/product/capability.node.schema.json
  spec/schemas/nodes/product/feature.node.schema.json
  spec/schemas/nodes/product/milestone.node.schema.json
  spec/schemas/nodes/product/persona.node.schema.json
  spec/schemas/nodes/product/userworkflow.node.schema.json
  spec/schemas/relationships/product/capability.aggregates.capability.relationship.schema.json
  spec/schemas/relationships/product/capability.fulfills.motivation.requirement.relationship.schema.json
  spec/schemas/relationships/product/capability.realizes.business.businessfunction.relationship.schema.json
  spec/schemas/relationships/product/capability.scheduled-for.milestone.relationship.schema.json
  spec/schemas/relationships/product/capability.supports.motivation.goal.relationship.schema.json
  spec/schemas/relationships/product/feature.delivers-value.motivation.value.relationship.schema.json
  spec/schemas/relationships/product/feature.depends-on.feature.relationship.schema.json
  spec/schemas/relationships/product/feature.realizes.business.businessservice.relationship.schema.json
  spec/schemas/relationships/product/feature.realizes.capability.relationship.schema.json
  spec/schemas/relationships/product/feature.satisfies.motivation.requirement.relationship.schema.json
  spec/schemas/relationships/product/feature.scheduled-for.milestone.relationship.schema.json
  spec/schemas/relationships/product/feature.serves.persona.relationship.schema.json
  spec/schemas/relationships/product/milestone.precedes.milestone.relationship.schema.json
  spec/schemas/relationships/product/persona.realizes.motivation.stakeholder.relationship.schema.json
  spec/schemas/relationships/product/persona.serves.business.businessrole.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.aggregates.business.businessprocess.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.composes.feature.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.delivers.motivation.outcome.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.serves.persona.relationship.schema.json
Due: none

fix: resolve layer numbering collision and fix relationship schema filenames
  spec/layers/04-security.layer.json
  spec/layers/05-application.layer.json
  spec/layers/06-technology.layer.json
  spec/layers/07-api.layer.json
  spec/layers/08-data-model.layer.json
  spec/layers/09-data-store.layer.json
  spec/layers/10-ux.layer.json
  spec/layers/11-navigation.layer.json
  spec/layers/12-apm.layer.json
  spec/layers/13-testing.layer.json
  spec/schemas/relationships/product/capability.fulfills.requirement.relationship.schema.json
  spec/schemas/relationships/product/capability.realizes.businessfunction.relationship.schema.json
  spec/schemas/relationships/product/capability.supports.goal.relationship.schema.json
  spec/schemas/relationships/product/feature.delivers-value.value.relationship.schema.json
  spec/schemas/relationships/product/feature.realizes.businessservice.relationship.schema.json
  spec/schemas/relationships/product/feature.satisfies.requirement.relationship.schema.json
  spec/schemas/relationships/product/persona.realizes.stakeholder.relationship.schema.json
  spec/schemas/relationships/product/persona.serves.businessrole.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.aggregates.businessprocess.relationship.schema.json
  spec/schemas/relationships/product/userworkflow.delivers.outcome.relationship.schema.json
Due: none

fix: update spec build scripts and predicates for 13-layer model
  cli/scripts/generate-registry.ts
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/schemas/base/predicates.json
  spec/scripts/build-spec.ts
Due: eslint

Complete work for issue #790
  cli/docs/AGENT_ABSTRACTION.md
  integrations/claude_code/commands/dr-relate.md
  spec/schemas/nodes/api/operation.node.schema.json
  spec/schemas/nodes/product/capability.node.schema.json
  spec/schemas/nodes/product/feature.node.schema.json
Due: none

Complete work for issue #790
  .mcp.json
  Dockerfile.agent
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
Due: none

Complete work for issue #790
  .mcp.json
  cli/src/cli.ts
  cli/src/commands/reports.ts
  cli/src/core/layers.ts
  cli/src/export/markdown-utils.ts
  cli/tests/integration/validate-schemas.test.ts
  cli/tests/unit/audit/coverage-analyzer.test.ts
  cli/tests/unit/chat.test.ts
  cli/tests/unit/core/report-data-model.test.ts
  cli/tests/unit/core/spec-loader.test.ts
  cli/tests/unit/export/markdown-utils.test.ts
  cli/tests/unit/export/mermaid-markdown-exporter.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
  cli/tests/unit/generation/extract-layers.test.ts
  cli/tests/unit/generation/extract-nodes.test.ts
  cli/tests/unit/generators/generate-registry.test.ts
  cli/tests/unit/node-types.test.ts
  cli/tests/unit/reports/model-report-data.test.ts
  cli/tests/unit/server/visualization-server.test.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

Complete work for issue #790
  cli-validation/test-project/baseline/documentation-robotics/model/03_product/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/04_security/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/05_application/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/05_application/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/06_technology/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/07_api/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/07_api/operation.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-model/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-model/entity.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/09_data-store/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/09_data-store/column.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/09_data-store/table.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/10_ux/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/11_navigation/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/12_apm/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/13_testing/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli/src/server/server.ts
  cli/tests/helpers/golden-copy.ts
  cli/tests/integration/changeset-rollback.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
Due: eslint, typescript-check

Complete work for issue #790
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/goal.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/05_application/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/07_api/operation.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/integration/analyzers/verify-engine.test.ts
  cli/tests/integration/analyzers/verify.test.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/conformance-command.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/error-scenarios.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
  cli/tests/integration/regression-naming-edge-cases.test.ts
  cli/tests/integration/regression-type-normalization.test.ts
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
  cli/tests/integration/relationship-validation.test.ts
  cli/tests/integration/staging-orchestrator-hooks.test.ts
  cli/tests/integration/stats-command.test.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Complete work for issue #790
  cli/test-debug.js
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/element-id-persistence.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
  cli/tests/integration/source-reference.test.ts
Due: eslint

Complete work for issue #790
  cli/tests/integration/commands.test.ts
  cli/tests/integration/conformance-command.test.ts
  cli/tests/integration/error-scenarios.test.ts
  cli/tests/integration/regression-naming-edge-cases.test.ts
  cli/tests/integration/regression-type-normalization.test.ts
  cli/tests/integration/relationship-validation.test.ts
  cli/tests/integration/stats-command.test.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Complete work for issue #790
  cli/tests/integration/visualization-server-api.test.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint

Complete work for issue #790
  cli/tests/integration/commands.test.ts
  cli/tests/integration/regression-naming-edge-cases.test.ts
  cli/tests/integration/regression-type-normalization.test.ts
Due: eslint

Complete work for issue #790
  cli/test_debug.ts
  cli/tests/integration/error-scenarios.test.ts
Due: eslint

Complete work for issue #790
  cli/tests/integration/relationship-validation.test.ts
  cli/tests/integration/stats-command.test.ts
Due: eslint

Complete work for issue #790
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/relationship-validation.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

fix: correct stale layer descriptions and remove debug/config files
  .gitignore
  .mcp.json
  cli/docs/AGENT_ABSTRACTION.md
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  cli/test-debug.js
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/layers/04-security.layer.json
  spec/layers/05-application.layer.json
  spec/layers/06-technology.layer.json
  spec/layers/07-api.layer.json
  spec/layers/08-data-model.layer.json
  spec/layers/09-data-store.layer.json
  spec/layers/10-ux.layer.json
  spec/layers/11-navigation.layer.json
  spec/layers/12-apm.layer.json
  spec/layers/13-testing.layer.json
  spec/schemas/nodes/api/operation.node.schema.json
Due: eslint

Complete work for issue #789
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/relationship-validation.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
  cli/docs/AGENT_ABSTRACTION.md
  spec/schemas/nodes/api/operation.node.schema.json
Due: none

Configure prettier with proseWrap preserve for consistent formatting
  .prettierrc
Due: none

Add product layer to analyzer schema dr_layer enum
  spec/schemas/base/analyzer-node-mapping.schema.json
Due: none

fix: update analyzer schema description to reference 13 layers instead of 12
  spec/schemas/base/analyzer-node-mapping.schema.json
Due: none

Complete work for issue #792
  cli/scripts/generate-registry.ts
  cli/src/audit/relationships/ai/prompts.ts
  cli/src/commands/show.ts
  cli/src/commands/upgrade.ts
  cli/src/core/model.ts
  cli/src/export/markdown-exporter.ts
  cli/src/export/mermaid-markdown-exporter.ts
  cli/src/export/plantuml-exporter.ts
  cli/src/export/types.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

fix: Remove duplicate layer order array and update documentation
  cli/src/core/model.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

