Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #447
  cli/src/audit/pipeline/pipeline-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #448
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/audit-orchestrator.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #449
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/src/audit/audit-orchestrator.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/audit/snapshot-storage.ts
  cli/src/commands/audit.ts
  cli/tests/integration/audit-pipeline.test.ts
  cli/tests/integration/audit/ai-evaluation.test.ts
  cli/tests/unit/audit/ai/claude-invoker.test.ts
Due: eslint, typescript-check

Complete work for issue #449
  cli/src/cli.ts
Due: eslint, typescript-check

Complete work for issue #449
  cli/src/audit/reports/report-generator.ts
  cli/tests/unit/audit/coverage-analyzer.test.ts
Due: eslint, typescript-check

Complete work for issue #450
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/snapshot-storage.ts
  cli/tests/integration/audit-diff.test.ts
  cli/tests/integration/audit-differential.test.ts
  cli/tests/integration/audit-pipeline.test.ts
  cli/tests/integration/audit-snapshots.test.ts
  cli/tests/unit/audit/graph/relationship-graph-errors.test.ts
  cli/tests/unit/export/audit-formatters.test.ts
Due: eslint, typescript-check

Complete work for issue #450
  cli/tests/unit/export/audit-formatters.test.ts
Due: eslint

Complete work for issue #450
  cli/tests/integration/audit-diff.test.ts
  cli/tests/integration/audit-snapshots.test.ts
  docs/api-spec.yaml
Due: eslint

Fix low-priority code review issues in audit system
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/src/audit/analysis/gap-analyzer.ts
  cli/src/audit/differential-analyzer.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/audit/snapshot-storage.ts
  cli/src/audit/types.ts
  cli/src/export/audit-formatters.ts
Due: eslint, typescript-check

Complete work for issue #451
  cli-validation/test-suite/tests/comparator.test.ts
  cli-validation/test-suite/tests/normalizers.test.ts
Due: none

Complete work for issue #451
  cli-validation/test-suite/normalizers/index.ts
  cli-validation/test-suite/normalizers/json-normalizer.ts
  cli-validation/test-suite/normalizers/yaml-normalizer.ts
  cli-validation/test-suite/reporters/console-reporter.ts
  cli-validation/test-suite/reporters/junit-reporter.ts
  cli-validation/test-suite/reporters/reporter.ts
  cli-validation/test-suite/run-tests.ts
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/tests/comparator.test.ts
  cli-validation/test-suite/tests/reporters.test.ts
  cli-validation/test-suite/tests/runner-config.test.ts
Due: none

Complete work for issue #451
  cli-validation/test-suite/package.json
  cli-validation/test-suite/tests/comparator.test.ts
  cli-validation/test-suite/tests/normalizers.test.ts
  cli-validation/test-suite/tests/reporters.test.ts
  cli-validation/test-suite/tests/runner-config.test.ts
Due: none

Complete work for issue #451
  cli-validation/test-suite/tests/runner-config.test.ts
  cli-validation/test-suite/tsconfig.json
Due: none

Complete work for issue #451
  cli/scripts/generate-openapi.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #451
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/tests/setup.ts
Due: eslint, typescript-check

Complete work for issue #452
  cli/src/audit/pipeline/pipeline-orchestrator.ts
Due: eslint, typescript-check

feat(cli): redirect dr audit to analyze project model relationships
  cli/src/audit/graph/relationship-graph.ts
  cli/src/audit/model/model-audit-orchestrator.ts
  cli/src/audit/model/model-balance-assessor.ts
  cli/src/audit/model/model-coverage-analyzer.ts
  cli/src/audit/model/model-duplicate-detector.ts
  cli/src/audit/model/model-gap-analyzer.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/cli.ts
  cli/src/commands/audit.ts
  cli/tests/integration/audit-pipeline.test.ts
  package.json
  scripts/relationship-audit-pipeline.ts
Due: eslint, typescript-check

refactor: move relationship-audit.ts to top-level scripts/
  cli/package.json
  package.json
  scripts/relationship-audit.ts
Due: none

fix(audit): read manifest name/version from project block
  cli/src/audit/audit-orchestrator.ts
Due: eslint, typescript-check

feat(audit): add node audit script for spec node type quality analysis
  README.md
  cli/src/audit/nodes/analysis/node-completeness-checker.ts
  cli/src/audit/nodes/analysis/node-definition-analyzer.ts
  cli/src/audit/nodes/analysis/node-layer-alignment.ts
  cli/src/audit/nodes/analysis/node-overlap-detector.ts
  cli/src/audit/nodes/node-audit-orchestrator.ts
  cli/src/audit/nodes/node-audit-types.ts
  cli/src/audit/nodes/node-schema-loader.ts
  cli/src/export/audit-formatters.ts
  package.json
  scripts/node-audit.ts
Due: eslint, typescript-check

refactor(audit): remove deterministic keyword-based alignment scoring
  cli/src/audit/nodes/analysis/node-layer-alignment.ts
  cli/src/audit/nodes/node-audit-orchestrator.ts
  cli/src/audit/nodes/node-audit-types.ts
  cli/src/export/audit-formatters.ts
Due: eslint, typescript-check

feat(audit): implement AI evaluation for node audit (--enable-ai)
  cli/src/audit/nodes/ai/node-ai-evaluator.ts
  cli/src/audit/nodes/ai/node-prompt-templates.ts
  cli/src/audit/nodes/ai/node-response-parser.ts
  cli/src/audit/nodes/node-audit-orchestrator.ts
  cli/src/audit/nodes/node-audit-types.ts
  cli/src/export/audit-formatters.ts
  scripts/node-audit.ts
Due: eslint, typescript-check

feat(audit): stream Claude CLI output to console in real-time
  cli/src/audit/ai/claude-invoker.ts
Due: eslint, typescript-check

fix(audit): stream node audit Claude output and add 5-min timeout
  cli/src/audit/nodes/ai/node-ai-evaluator.ts
Due: eslint, typescript-check

feat(audit): add /dr-audit-resolve command and default audit-reports/ output
  .claude/commands/dr-audit-resolve.md
  .gitignore
  cli/src/audit/nodes/ai/node-prompt-templates.ts
  scripts/node-audit.ts
  scripts/relationship-audit.ts
Due: eslint, typescript-check

fix(audit): stream Claude output to stderr, save result from stream-json
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/nodes/ai/node-ai-evaluator.ts
  cli/src/utils/claude-stream.ts
Due: eslint, typescript-check

fix(audit): add --verbose flag required by stream-json output format
  cli/src/utils/claude-stream.ts
Due: eslint, typescript-check

refactor(audit): reuse ClaudeCodeClient in invokeClaudeStreaming
  cli/src/coding-agents/base-chat-client.ts
  cli/src/coding-agents/claude-code-client.ts
  cli/src/coding-agents/copilot-client.ts
  cli/src/utils/claude-stream.ts
Due: eslint, typescript-check

fix(audit): address code review findings — error handling and test coverage
  cli/src/audit/ai/runner.ts
  cli/src/audit/nodes/ai/evaluator.ts
  cli/src/audit/nodes/model/orchestrator.ts
  cli/src/audit/nodes/types.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/relationships/ai/evaluator.ts
  cli/src/commands/audit.ts
  cli/tests/integration/audit.test.ts
  cli/tests/integration/audit/model-node-orchestrator.test.ts
  cli/tests/unit/audit/ai/claude-invoker.test.ts
Due: eslint, typescript-check

refactor(coding-agents): consolidate AI client to ClaudeCodeClient with outputStream control
  cli/src/coding-agents/base-chat-client.ts
  cli/src/coding-agents/claude-client.ts
  cli/src/coding-agents/claude-code-client.ts
  cli/src/coding-agents/context-provider.ts
  cli/src/coding-agents/tools.ts
  cli/src/utils/claude-stream.ts
  cli/tests/integration/chat-command.test.ts
  cli/tests/unit/chat/claude-client.test.ts
  cli/tests/unit/chat/context-provider.test.ts
  cli/tests/unit/chat/tools.test.ts
Due: eslint, typescript-check

refactor(spec): remove cross-layer annotation node types from data-model layer
  cli/src/audit/ai/runner.ts
  cli/src/schemas/bundled/nodes/data-model/jsonschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/reference.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/schemadefinition.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/schemaproperty.node.schema.json
  cli/src/utils/claude-stream.ts
  spec/schemas/nodes/data-model/databasemapping.node.schema.json
  spec/schemas/nodes/data-model/datagovernance.node.schema.json
  spec/schemas/nodes/data-model/dataqualitymetrics.node.schema.json
  spec/schemas/nodes/data-model/jsonschema.node.schema.json
  spec/schemas/nodes/data-model/jsontype.node.schema.json
  spec/schemas/nodes/data-model/reference.node.schema.json
  spec/schemas/nodes/data-model/schemadefinition.node.schema.json
  spec/schemas/nodes/data-model/schemaproperty.node.schema.json
  spec/schemas/nodes/data-model/x-apm-data-quality-metrics.node.schema.json
  spec/schemas/nodes/data-model/x-business-object-ref.node.schema.json
  spec/schemas/nodes/data-model/x-data-governance.node.schema.json
  spec/schemas/nodes/data-model/x-database.node.schema.json
  spec/schemas/nodes/data-model/x-security.node.schema.json
  spec/schemas/nodes/data-model/x-ui.node.schema.json
  spec/schemas/relationships/business/businessobject.governance-owner.datagovernance.relationship.schema.json
  spec/schemas/relationships/data-model/jsonschema.apm-data-quality-metrics.dataqualitymetrics.relationship.schema.json
  spec/schemas/relationships/data-model/jsonschema.data-governance.datagovernance.relationship.schema.json
  spec/schemas/relationships/data-model/jsonschema.database-mapping.databasemapping.relationship.schema.json
  spec/schemas/relationships/data-model/schemaproperty.database-mapping.databasemapping.relationship.schema.json
Due: eslint, typescript-check

Added audit reports to gitignore
  .gitignore
  documentation-robotics/model/manifest.yaml
Due: none

refactor(spec): collapse data-store enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/08-data-store.layer.json
  cli/src/schemas/bundled/nodes/data-store/column.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/constraint.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/database.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/function.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/index.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/sequence.node.schema.json
  cli/src/schemas/bundled/nodes/data-store/trigger.node.schema.json
  spec/layers/08-data-store.layer.json
  spec/schemas/nodes/data-store/column.node.schema.json
  spec/schemas/nodes/data-store/constraint.node.schema.json
  spec/schemas/nodes/data-store/constrainttype.node.schema.json
  spec/schemas/nodes/data-store/database.node.schema.json
  spec/schemas/nodes/data-store/databasetype.node.schema.json
  spec/schemas/nodes/data-store/function.node.schema.json
  spec/schemas/nodes/data-store/functionlanguage.node.schema.json
  spec/schemas/nodes/data-store/functionvolatility.node.schema.json
  spec/schemas/nodes/data-store/generationtype.node.schema.json
  spec/schemas/nodes/data-store/index.node.schema.json
  spec/schemas/nodes/data-store/indexmethod.node.schema.json
  spec/schemas/nodes/data-store/parallelsafety.node.schema.json
  spec/schemas/nodes/data-store/parametermode.node.schema.json
  spec/schemas/nodes/data-store/referentialaction.node.schema.json
  spec/schemas/nodes/data-store/refreshmode.node.schema.json
  spec/schemas/nodes/data-store/securitydefiner.node.schema.json
  spec/schemas/nodes/data-store/sequence.node.schema.json
  spec/schemas/nodes/data-store/sequencedatatype.node.schema.json
  spec/schemas/nodes/data-store/sqldatatype.node.schema.json
  spec/schemas/nodes/data-store/trigger.node.schema.json
  spec/schemas/nodes/data-store/triggerevent.node.schema.json
  spec/schemas/nodes/data-store/triggerforeach.node.schema.json
  spec/schemas/nodes/data-store/triggertiming.node.schema.json
Due: none

feat(audit): run node audit per-layer when no --layer flag is given
  scripts/node-audit.ts
Due: none

refactor(spec): collapse api enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/06-api.layer.json
  cli/src/schemas/bundled/nodes/api/encoding.node.schema.json
  cli/src/schemas/bundled/nodes/api/parameter.node.schema.json
  cli/src/schemas/bundled/nodes/api/securityscheme.node.schema.json
  spec/layers/06-api.layer.json
  spec/schemas/nodes/api/encoding.node.schema.json
  spec/schemas/nodes/api/parameter.node.schema.json
  spec/schemas/nodes/api/parameterlocation.node.schema.json
  spec/schemas/nodes/api/parameterstyle.node.schema.json
  spec/schemas/nodes/api/securityscheme.node.schema.json
  spec/schemas/nodes/api/securitytype.node.schema.json
Due: none
