Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

fix(audit): scope completeness issues to requested layer in per-layer node audit reports
  cli/src/audit/nodes/spec/orchestrator.ts
Due: eslint, typescript-check

refactor(spec): collapse application enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/04-application.layer.json
  cli/src/schemas/bundled/nodes/application/applicationcomponent.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationevent.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationinteraction.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationinterface.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationservice.node.schema.json
  spec/layers/04-application.layer.json
  spec/schemas/nodes/application/applicationcomponent.node.schema.json
  spec/schemas/nodes/application/applicationevent.node.schema.json
  spec/schemas/nodes/application/applicationeventtype.node.schema.json
  spec/schemas/nodes/application/applicationinteraction.node.schema.json
  spec/schemas/nodes/application/applicationinterface.node.schema.json
  spec/schemas/nodes/application/applicationservice.node.schema.json
  spec/schemas/nodes/application/componenttype.node.schema.json
  spec/schemas/nodes/application/interactionpattern.node.schema.json
  spec/schemas/nodes/application/interfaceprotocol.node.schema.json
  spec/schemas/nodes/application/servicetype.node.schema.json
Due: none

refactor(spec): collapse business enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/02-business.layer.json
  cli/src/schemas/bundled/nodes/business/businessevent.node.schema.json
  cli/src/schemas/bundled/nodes/business/representation.node.schema.json
  spec/layers/02-business.layer.json
  spec/schemas/nodes/business/businessevent.node.schema.json
  spec/schemas/nodes/business/eventtype.node.schema.json
  spec/schemas/nodes/business/representation.node.schema.json
  spec/schemas/nodes/business/representationformat.node.schema.json
Due: none

refactor(spec): collapse motivation enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/01-motivation.layer.json
  cli/src/schemas/bundled/nodes/motivation/assessment.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/constraint.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/driver.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/goal.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/outcome.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/principle.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/requirement.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/stakeholder.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/value.node.schema.json
  cli/tests/unit/audit/balance-assessor.test.ts
  spec/layers/01-motivation.layer.json
  spec/schemas/nodes/motivation/assessment.node.schema.json
  spec/schemas/nodes/motivation/assessmenttype.node.schema.json
  spec/schemas/nodes/motivation/constraint.node.schema.json
  spec/schemas/nodes/motivation/constrainttype.node.schema.json
  spec/schemas/nodes/motivation/driver.node.schema.json
  spec/schemas/nodes/motivation/drivercategory.node.schema.json
  spec/schemas/nodes/motivation/goal.node.schema.json
  spec/schemas/nodes/motivation/outcome.node.schema.json
  spec/schemas/nodes/motivation/outcomestatus.node.schema.json
  spec/schemas/nodes/motivation/principle.node.schema.json
  spec/schemas/nodes/motivation/principlecategory.node.schema.json
  spec/schemas/nodes/motivation/priority.node.schema.json
  spec/schemas/nodes/motivation/requirement.node.schema.json
  spec/schemas/nodes/motivation/requirementtype.node.schema.json
  spec/schemas/nodes/motivation/stakeholder.node.schema.json
  spec/schemas/nodes/motivation/stakeholdertype.node.schema.json
  spec/schemas/nodes/motivation/value.node.schema.json
  spec/schemas/nodes/motivation/valuetype.node.schema.json
Due: eslint

fix(audit): improve robustness of per-layer node audit and AI runner
  cli/src/audit/ai/runner.ts
  cli/src/audit/nodes/spec/loader.ts
  scripts/node-audit.ts
Due: eslint, typescript-check

refactor(spec): collapse navigation enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/10-navigation.layer.json
  cli/src/schemas/bundled/layers/11-apm.layer.json
  cli/src/schemas/bundled/nodes/apm/flowanalytics.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/contextvariable.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/flowstep.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/guardaction.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/navigationguard.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/navigationtransition.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/route.node.schema.json
  spec/layers/10-navigation.layer.json
  spec/layers/11-apm.layer.json
  spec/schemas/nodes/apm/flowanalytics.node.schema.json
  spec/schemas/nodes/navigation/breadcrumbmode.node.schema.json
  spec/schemas/nodes/navigation/contextscope.node.schema.json
  spec/schemas/nodes/navigation/contextvariable.node.schema.json
  spec/schemas/nodes/navigation/datamapping.node.schema.json
  spec/schemas/nodes/navigation/flowanalytics.node.schema.json
  spec/schemas/nodes/navigation/flowstep.node.schema.json
  spec/schemas/nodes/navigation/guardaction.node.schema.json
  spec/schemas/nodes/navigation/guardactiontype.node.schema.json
  spec/schemas/nodes/navigation/guardtype.node.schema.json
  spec/schemas/nodes/navigation/httpmethod.node.schema.json
  spec/schemas/nodes/navigation/navigationguard.node.schema.json
  spec/schemas/nodes/navigation/navigationtransition.node.schema.json
  spec/schemas/nodes/navigation/navigationtrigger.node.schema.json
  spec/schemas/nodes/navigation/notificationaction.node.schema.json
  spec/schemas/nodes/navigation/notificationtype.node.schema.json
  spec/schemas/nodes/navigation/processtracking.node.schema.json
  spec/schemas/nodes/navigation/route.node.schema.json
  spec/schemas/nodes/navigation/routetype.node.schema.json
  spec/schemas/nodes/navigation/storagetype.node.schema.json
  spec/schemas/nodes/navigation/truncationtype.node.schema.json
  spec/schemas/nodes/navigation/waittype.node.schema.json
Due: none

refactor(spec): collapse technology enum-masquerader node types into parent attributes
  cli/src/schemas/bundled/layers/05-technology.layer.json
  cli/src/schemas/bundled/nodes/technology/artifact.node.schema.json
  cli/src/schemas/bundled/nodes/technology/communicationnetwork.node.schema.json
  cli/src/schemas/bundled/nodes/technology/device.node.schema.json
  cli/src/schemas/bundled/nodes/technology/node.node.schema.json
  cli/src/schemas/bundled/nodes/technology/path.node.schema.json
  cli/src/schemas/bundled/nodes/technology/systemsoftware.node.schema.json
  cli/src/schemas/bundled/nodes/technology/technologyevent.node.schema.json
  cli/src/schemas/bundled/nodes/technology/technologyinterface.node.schema.json
  cli/src/schemas/bundled/nodes/technology/technologyservice.node.schema.json
  spec/layers/05-technology.layer.json
  spec/schemas/nodes/technology/artifact.node.schema.json
  spec/schemas/nodes/technology/artifacttype.node.schema.json
  spec/schemas/nodes/technology/communicationnetwork.node.schema.json
  spec/schemas/nodes/technology/device.node.schema.json
  spec/schemas/nodes/technology/devicetype.node.schema.json
  spec/schemas/nodes/technology/networktype.node.schema.json
  spec/schemas/nodes/technology/node.node.schema.json
  spec/schemas/nodes/technology/nodetype.node.schema.json
  spec/schemas/nodes/technology/path.node.schema.json
  spec/schemas/nodes/technology/pathtype.node.schema.json
  spec/schemas/nodes/technology/systemsoftware.node.schema.json
  spec/schemas/nodes/technology/systemsoftwaretype.node.schema.json
  spec/schemas/nodes/technology/techeventtype.node.schema.json
  spec/schemas/nodes/technology/technologyevent.node.schema.json
  spec/schemas/nodes/technology/technologyinterface.node.schema.json
  spec/schemas/nodes/technology/technologyservice.node.schema.json
  spec/schemas/nodes/technology/techprotocol.node.schema.json
  spec/schemas/nodes/technology/techservicetype.node.schema.json
Due: none

fix(cli): remove stale motivation enum-masquerader schemas from bundled directory
  cli/src/schemas/bundled/nodes/motivation/assessmenttype.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/constrainttype.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/drivercategory.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/outcomestatus.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/principlecategory.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/priority.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/requirementtype.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/stakeholdertype.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/valuetype.node.schema.json
  cli/src/utils/spec-installer.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

chore(commands): update dr-audit-resolve and add dr-audit-refine command
  .claude/commands/dr-audit-refine.md
  .claude/commands/dr-audit-resolve.md
Due: none

refined audit fix commands
  .claude/commands/dr-audit-refine.md
  .claude/commands/dr-audit-resolve.md
Due: none

fix(spec): remove misaligned apm node types and improve descriptions
  cli/src/schemas/bundled/layers/11-apm.layer.json
  cli/src/schemas/bundled/nodes/api/components.node.schema.json
  cli/src/schemas/bundled/nodes/api/operation.node.schema.json
  cli/src/schemas/bundled/nodes/apm/instrumentationconfig.node.schema.json
  cli/src/schemas/bundled/nodes/apm/span.node.schema.json
  spec/layers/11-apm.layer.json
  spec/schemas/nodes/api/components.node.schema.json
  spec/schemas/nodes/api/operation.node.schema.json
  spec/schemas/nodes/apm/attribute.node.schema.json
  spec/schemas/nodes/apm/flowanalytics.node.schema.json
  spec/schemas/nodes/apm/instrumentationconfig.node.schema.json
  spec/schemas/nodes/apm/meterconfig.node.schema.json
  spec/schemas/nodes/apm/span.node.schema.json
  spec/schemas/nodes/apm/spanstatus.node.schema.json
  spec/schemas/relationships/apm/logprocessor.accesses.attribute.relationship.schema.json
  spec/schemas/relationships/apm/meterconfig.composes.metricinstrument.relationship.schema.json
  spec/schemas/relationships/apm/meterconfig.composes.spanevent.relationship.schema.json
  spec/schemas/relationships/apm/meterconfig.composes.traceconfiguration.relationship.schema.json
  spec/schemas/relationships/apm/metricinstrument.accesses.attribute.relationship.schema.json
Due: none

docs(spec): improve application and api layer node descriptions
  cli/src/schemas/bundled/nodes/api/info.node.schema.json
  cli/src/schemas/bundled/nodes/api/openapidocument.node.schema.json
  cli/src/schemas/bundled/nodes/api/parameter.node.schema.json
  cli/src/schemas/bundled/nodes/api/pathitem.node.schema.json
  cli/src/schemas/bundled/nodes/api/requestbody.node.schema.json
  cli/src/schemas/bundled/nodes/api/response.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationevent.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationfunction.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationinteraction.node.schema.json
  cli/src/schemas/bundled/nodes/application/applicationprocess.node.schema.json
  cli/src/schemas/bundled/nodes/application/dataobject.node.schema.json
  spec/schemas/nodes/api/info.node.schema.json
  spec/schemas/nodes/api/openapidocument.node.schema.json
  spec/schemas/nodes/api/parameter.node.schema.json
  spec/schemas/nodes/api/pathitem.node.schema.json
  spec/schemas/nodes/api/requestbody.node.schema.json
  spec/schemas/nodes/api/response.node.schema.json
  spec/schemas/nodes/application/applicationevent.node.schema.json
  spec/schemas/nodes/application/applicationfunction.node.schema.json
  spec/schemas/nodes/application/applicationinteraction.node.schema.json
  spec/schemas/nodes/application/applicationprocess.node.schema.json
  spec/schemas/nodes/application/dataobject.node.schema.json
Due: none

docs(spec): improve api layer node descriptions with OpenAPI 3.0 precision
  cli/src/schemas/bundled/nodes/api/callback.node.schema.json
  cli/src/schemas/bundled/nodes/api/encoding.node.schema.json
  cli/src/schemas/bundled/nodes/api/externaldocumentation.node.schema.json
  cli/src/schemas/bundled/nodes/api/header.node.schema.json
  cli/src/schemas/bundled/nodes/api/license.node.schema.json
  cli/src/schemas/bundled/nodes/api/link.node.schema.json
  cli/src/schemas/bundled/nodes/api/mediatype.node.schema.json
  cli/src/schemas/bundled/nodes/api/oauthflow.node.schema.json
  cli/src/schemas/bundled/nodes/api/oauthflows.node.schema.json
  cli/src/schemas/bundled/nodes/api/paths.node.schema.json
  cli/src/schemas/bundled/nodes/api/responses.node.schema.json
  cli/src/schemas/bundled/nodes/api/schema.node.schema.json
  cli/src/schemas/bundled/nodes/api/securityscheme.node.schema.json
  cli/src/schemas/bundled/nodes/api/server.node.schema.json
  cli/src/schemas/bundled/nodes/api/servervariable.node.schema.json
  cli/src/schemas/bundled/nodes/api/tag.node.schema.json
  spec/schemas/nodes/api/callback.node.schema.json
  spec/schemas/nodes/api/encoding.node.schema.json
  spec/schemas/nodes/api/externaldocumentation.node.schema.json
  spec/schemas/nodes/api/header.node.schema.json
  spec/schemas/nodes/api/license.node.schema.json
  spec/schemas/nodes/api/link.node.schema.json
  spec/schemas/nodes/api/mediatype.node.schema.json
  spec/schemas/nodes/api/oauthflow.node.schema.json
  spec/schemas/nodes/api/oauthflows.node.schema.json
  spec/schemas/nodes/api/paths.node.schema.json
  spec/schemas/nodes/api/responses.node.schema.json
  spec/schemas/nodes/api/schema.node.schema.json
  spec/schemas/nodes/api/securityscheme.node.schema.json
  spec/schemas/nodes/api/server.node.schema.json
  spec/schemas/nodes/api/servervariable.node.schema.json
  spec/schemas/nodes/api/tag.node.schema.json
Due: none

docs(spec): improve business layer node descriptions with ArchiMate 3.2 precision
  cli/src/schemas/bundled/nodes/business/businessactor.node.schema.json
  cli/src/schemas/bundled/nodes/business/businesscollaboration.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessevent.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessfunction.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessinteraction.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessinterface.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessobject.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessprocess.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessrole.node.schema.json
  cli/src/schemas/bundled/nodes/business/businessservice.node.schema.json
  cli/src/schemas/bundled/nodes/business/contract.node.schema.json
  cli/src/schemas/bundled/nodes/business/product.node.schema.json
  cli/src/schemas/bundled/nodes/business/representation.node.schema.json
  spec/schemas/nodes/business/businessactor.node.schema.json
  spec/schemas/nodes/business/businesscollaboration.node.schema.json
  spec/schemas/nodes/business/businessevent.node.schema.json
  spec/schemas/nodes/business/businessfunction.node.schema.json
  spec/schemas/nodes/business/businessinteraction.node.schema.json
  spec/schemas/nodes/business/businessinterface.node.schema.json
  spec/schemas/nodes/business/businessobject.node.schema.json
  spec/schemas/nodes/business/businessprocess.node.schema.json
  spec/schemas/nodes/business/businessrole.node.schema.json
  spec/schemas/nodes/business/businessservice.node.schema.json
  spec/schemas/nodes/business/contract.node.schema.json
  spec/schemas/nodes/business/product.node.schema.json
  spec/schemas/nodes/business/representation.node.schema.json
Due: none

fix(spec): improve data-model layer node alignment with JSON Schema Draft 7
  cli/src/schemas/bundled/nodes/data-model/objectschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/schemacomposition.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/schemadefinition.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/schemaproperty.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/stringschema.node.schema.json
  spec/schemas/nodes/data-model/objectschema.node.schema.json
  spec/schemas/nodes/data-model/schemacomposition.node.schema.json
  spec/schemas/nodes/data-model/schemadefinition.node.schema.json
  spec/schemas/nodes/data-model/schemaproperty.node.schema.json
  spec/schemas/nodes/data-model/string.node.schema.json
  spec/schemas/nodes/data-model/stringschema.node.schema.json
Due: none

fix(spec): add sortKey attribute to data-store.accesspattern
  cli/src/schemas/bundled/nodes/data-store/accesspattern.node.schema.json
  spec/schemas/nodes/data-store/accesspattern.node.schema.json
Due: none

docs(spec): improve apm layer node descriptions and add missing OTel attributes
  cli/src/schemas/bundled/nodes/apm/exporterconfig.node.schema.json
  cli/src/schemas/bundled/nodes/apm/instrumentationscope.node.schema.json
  cli/src/schemas/bundled/nodes/apm/logrecord.node.schema.json
  cli/src/schemas/bundled/nodes/apm/metricconfiguration.node.schema.json
  cli/src/schemas/bundled/nodes/apm/metricinstrument.node.schema.json
  cli/src/schemas/bundled/nodes/apm/resource.node.schema.json
  cli/src/schemas/bundled/nodes/apm/spanevent.node.schema.json
  cli/src/schemas/bundled/nodes/apm/spanlink.node.schema.json
  cli/src/schemas/bundled/nodes/apm/traceconfiguration.node.schema.json
  spec/schemas/nodes/apm/exporterconfig.node.schema.json
  spec/schemas/nodes/apm/instrumentationscope.node.schema.json
  spec/schemas/nodes/apm/logrecord.node.schema.json
  spec/schemas/nodes/apm/metricconfiguration.node.schema.json
  spec/schemas/nodes/apm/metricinstrument.node.schema.json
  spec/schemas/nodes/apm/resource.node.schema.json
  spec/schemas/nodes/apm/spanevent.node.schema.json
  spec/schemas/nodes/apm/spanlink.node.schema.json
  spec/schemas/nodes/apm/traceconfiguration.node.schema.json
Due: none

docs(spec): improve navigation layer node descriptions and attribute documentation
  cli/src/schemas/bundled/nodes/navigation/contextvariable.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/guardaction.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/guardcondition.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/routemeta.node.schema.json
  spec/schemas/nodes/navigation/contextvariable.node.schema.json
  spec/schemas/nodes/navigation/guardaction.node.schema.json
  spec/schemas/nodes/navigation/guardcondition.node.schema.json
  spec/schemas/nodes/navigation/routemeta.node.schema.json
Due: none

docs(spec): improve data-model layer node descriptions and fix type constraints
  cli/src/schemas/bundled/nodes/data-model/arrayschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/jsonschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/numericschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/reference.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/stringschema.node.schema.json
  spec/schemas/nodes/data-model/arrayschema.node.schema.json
  spec/schemas/nodes/data-model/jsonschema.node.schema.json
  spec/schemas/nodes/data-model/numericschema.node.schema.json
  spec/schemas/nodes/data-model/reference.node.schema.json
  spec/schemas/nodes/data-model/stringschema.node.schema.json
Due: none

fix(spec): improve security layer node alignment with NIST SP 800-53
  cli/src/schemas/bundled/layers/03-security.layer.json
  cli/src/schemas/bundled/layers/06-api.layer.json
  cli/src/schemas/bundled/nodes/api/ratelimit.node.schema.json
  cli/src/schemas/bundled/nodes/security/actor.node.schema.json
  cli/src/schemas/bundled/nodes/security/bindingofduty.node.schema.json
  cli/src/schemas/bundled/nodes/security/dataclassification.node.schema.json
  cli/src/schemas/bundled/nodes/security/delegation.node.schema.json
  cli/src/schemas/bundled/nodes/security/evidence.node.schema.json
  cli/src/schemas/bundled/nodes/security/informationentity.node.schema.json
  cli/src/schemas/bundled/nodes/security/informationright.node.schema.json
  cli/src/schemas/bundled/nodes/security/policyaction.node.schema.json
  cli/src/schemas/bundled/nodes/security/resourceoperation.node.schema.json
  cli/src/schemas/bundled/nodes/security/validationrule.node.schema.json
  spec/layers/03-security.layer.json
  spec/layers/06-api.layer.json
  spec/schemas/nodes/api/ratelimit.node.schema.json
  spec/schemas/nodes/security/actor.node.schema.json
  spec/schemas/nodes/security/actorobjective.node.schema.json
  spec/schemas/nodes/security/bindingofduty.node.schema.json
  spec/schemas/nodes/security/classification.node.schema.json
  spec/schemas/nodes/security/dataclassification.node.schema.json
  spec/schemas/nodes/security/delegation.node.schema.json
  spec/schemas/nodes/security/evidence.node.schema.json
  spec/schemas/nodes/security/informationentity.node.schema.json
  spec/schemas/nodes/security/informationright.node.schema.json
  spec/schemas/nodes/security/policyaction.node.schema.json
  spec/schemas/nodes/security/resourceoperation.node.schema.json
  spec/schemas/nodes/security/socialdependency.node.schema.json
  spec/schemas/nodes/security/validationrule.node.schema.json
  spec/schemas/relationships/technology/artifact.classification.classification.relationship.schema.json
  spec/schemas/relationships/technology/artifact.referenced-by.classification.relationship.schema.json
Due: none

fix(spec): rename schemas → namespaces on data-store.database for consistency
  cli/src/schemas/bundled/nodes/data-store/database.node.schema.json
  spec/schemas/nodes/data-store/database.node.schema.json
Due: none

docs(spec): improve testing layer node descriptions and attribute documentation
  cli/src/schemas/bundled/nodes/testing/contextvariation.node.schema.json
  cli/src/schemas/bundled/nodes/testing/coveragegap.node.schema.json
  cli/src/schemas/bundled/nodes/testing/environmentfactor.node.schema.json
  cli/src/schemas/bundled/nodes/testing/inputpartitionselection.node.schema.json
  cli/src/schemas/bundled/nodes/testing/outcomecategory.node.schema.json
  cli/src/schemas/bundled/nodes/testing/partitiondependency.node.schema.json
  cli/src/schemas/bundled/nodes/testing/targetinputfield.node.schema.json
  cli/src/schemas/bundled/nodes/testing/testcasesketch.node.schema.json
  spec/schemas/nodes/testing/contextvariation.node.schema.json
  spec/schemas/nodes/testing/coveragegap.node.schema.json
  spec/schemas/nodes/testing/environmentfactor.node.schema.json
  spec/schemas/nodes/testing/inputpartitionselection.node.schema.json
  spec/schemas/nodes/testing/outcomecategory.node.schema.json
  spec/schemas/nodes/testing/partitiondependency.node.schema.json
  spec/schemas/nodes/testing/targetinputfield.node.schema.json
  spec/schemas/nodes/testing/testcasesketch.node.schema.json
Due: none

docs(spec): improve motivation layer node descriptions with ArchiMate 3.2 alignment
  cli/src/schemas/bundled/nodes/motivation/assessment.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/constraint.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/driver.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/meaning.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/outcome.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/principle.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/requirement.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/stakeholder.node.schema.json
  cli/src/schemas/bundled/nodes/motivation/value.node.schema.json
  spec/schemas/nodes/motivation/assessment.node.schema.json
  spec/schemas/nodes/motivation/constraint.node.schema.json
  spec/schemas/nodes/motivation/driver.node.schema.json
  spec/schemas/nodes/motivation/meaning.node.schema.json
  spec/schemas/nodes/motivation/outcome.node.schema.json
  spec/schemas/nodes/motivation/principle.node.schema.json
  spec/schemas/nodes/motivation/requirement.node.schema.json
  spec/schemas/nodes/motivation/stakeholder.node.schema.json
  spec/schemas/nodes/motivation/value.node.schema.json
Due: none

docs(spec): improve navigation layer node descriptions and attribute documentation
  cli/src/schemas/bundled/nodes/navigation/breadcrumbconfig.node.schema.json
  cli/src/schemas/bundled/nodes/navigation/navigationgraph.node.schema.json
  cli/src/schemas/bundled/nodes/ux/errorconfig.node.schema.json
  spec/schemas/nodes/navigation/breadcrumbconfig.node.schema.json
  spec/schemas/nodes/navigation/navigationgraph.node.schema.json
  spec/schemas/nodes/ux/errorconfig.node.schema.json
Due: none

docs(spec): improve UX layer node alignment with HTML 5.3 and resolve anti-patterns
  cli/src/schemas/bundled/layers/09-ux.layer.json
  cli/src/schemas/bundled/nodes/ux/actioncomponent.node.schema.json
  cli/src/schemas/bundled/nodes/ux/actionpattern.node.schema.json
  cli/src/schemas/bundled/nodes/ux/chartseries.node.schema.json
  cli/src/schemas/bundled/nodes/ux/componentinstance.node.schema.json
  cli/src/schemas/bundled/nodes/ux/componentreference.node.schema.json
  cli/src/schemas/bundled/nodes/ux/dataconfig.node.schema.json
  cli/src/schemas/bundled/nodes/ux/experiencestate.node.schema.json
  cli/src/schemas/bundled/nodes/ux/librarycomponent.node.schema.json
  cli/src/schemas/bundled/nodes/ux/librarysubview.node.schema.json
  cli/src/schemas/bundled/nodes/ux/stateaction.node.schema.json
  cli/src/schemas/bundled/nodes/ux/stateactiontemplate.node.schema.json
  cli/src/schemas/bundled/nodes/ux/statepattern.node.schema.json
  cli/src/schemas/bundled/nodes/ux/statetransition.node.schema.json
  cli/src/schemas/bundled/nodes/ux/subview.node.schema.json
  cli/src/schemas/bundled/nodes/ux/uxapplication.node.schema.json
  cli/src/schemas/bundled/nodes/ux/uxlibrary.node.schema.json
  cli/src/schemas/bundled/nodes/ux/uxspec.node.schema.json
  spec/layers/09-ux.layer.json
  spec/schemas/nodes/ux/actioncomponent.node.schema.json
  spec/schemas/nodes/ux/actionpattern.node.schema.json
  spec/schemas/nodes/ux/chartseries.node.schema.json
  spec/schemas/nodes/ux/componentinstance.node.schema.json
  spec/schemas/nodes/ux/componentreference.node.schema.json
  spec/schemas/nodes/ux/condition.node.schema.json
  spec/schemas/nodes/ux/dataconfig.node.schema.json
  spec/schemas/nodes/ux/experiencestate.node.schema.json
  spec/schemas/nodes/ux/librarycomponent.node.schema.json
  spec/schemas/nodes/ux/librarysubview.node.schema.json
  spec/schemas/nodes/ux/performancetargets.node.schema.json
  spec/schemas/nodes/ux/stateaction.node.schema.json
  spec/schemas/nodes/ux/stateactiontemplate.node.schema.json
  spec/schemas/nodes/ux/statepattern.node.schema.json
  spec/schemas/nodes/ux/statetransition.node.schema.json
  spec/schemas/nodes/ux/subview.node.schema.json
  spec/schemas/nodes/ux/uxapplication.node.schema.json
  spec/schemas/nodes/ux/uxlibrary.node.schema.json
  spec/schemas/nodes/ux/uxspec.node.schema.json
  spec/schemas/nodes/ux/validationrule.node.schema.json
Due: none

docs(spec): improve security layer node descriptions and sync bundled schemas
  cli/src/schemas/bundled/nodes/security/condition.node.schema.json
  cli/src/schemas/bundled/nodes/security/fieldaccesscontrol.node.schema.json
  cli/src/schemas/bundled/nodes/security/securityconstraints.node.schema.json
  cli/src/schemas/bundled/nodes/security/securitymodel.node.schema.json
  spec/schemas/nodes/security/fieldaccesscontrol.node.schema.json
  spec/schemas/nodes/security/securitymodel.node.schema.json
  spec/schemas/nodes/testing/coveragerequirement.node.schema.json
Due: none

docs(spec): refine well-aligned testing layer node descriptions for IEEE 829-2008 clarity
  cli/src/schemas/bundled/nodes/testing/coverageexclusion.node.schema.json
  cli/src/schemas/bundled/nodes/testing/coveragerequirement.node.schema.json
  cli/src/schemas/bundled/nodes/testing/inputselection.node.schema.json
  cli/src/schemas/bundled/nodes/testing/inputspacepartition.node.schema.json
  cli/src/schemas/bundled/nodes/testing/partitionvalue.node.schema.json
  cli/src/schemas/bundled/nodes/testing/targetcoveragesummary.node.schema.json
  cli/src/schemas/bundled/nodes/testing/testcoveragemodel.node.schema.json
  spec/schemas/nodes/testing/coverageexclusion.node.schema.json
  spec/schemas/nodes/testing/inputselection.node.schema.json
  spec/schemas/nodes/testing/inputspacepartition.node.schema.json
  spec/schemas/nodes/testing/partitionvalue.node.schema.json
  spec/schemas/nodes/testing/targetcoveragesummary.node.schema.json
  spec/schemas/nodes/testing/testcoveragemodel.node.schema.json
Due: none

feat(commands): add --auto flag to dr-audit-refine and dr-audit-resolve
  .claude/commands/dr-audit-refine.md
  .claude/commands/dr-audit-resolve.md
Due: none

fix(commands): close auto-mode blocking gaps found in code review
  .claude/commands/dr-audit-refine.md
  .claude/commands/dr-audit-resolve.md
Due: none

feat(audit): add impact/alignment scores to relationship findings and unify command semantics
  .claude/commands/dr-audit-refine.md
  .claude/commands/dr-audit-resolve.md
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/relationships/ai/evaluator.ts
  cli/src/audit/relationships/ai/parser.ts
  cli/src/audit/relationships/analysis/duplicate-detector.ts
  cli/src/audit/relationships/analysis/gap-analyzer.ts
  cli/src/audit/relationships/model/duplicate-detector.ts
  cli/src/audit/relationships/model/gap-analyzer.ts
  cli/src/audit/types.ts
  cli/tests/unit/audit/ai/response-parser.test.ts
Due: eslint, typescript-check

fix(tests): add impactScore/alignmentScore to test fixtures and expand score coverage
  cli/tests/integration/audit-differential.test.ts
  cli/tests/integration/audit-pipeline.test.ts
  cli/tests/unit/audit/ai/response-parser.test.ts
  cli/tests/unit/export/audit-formatters.test.ts
Due: eslint

feat(scripts): add --enable-ai flag to relationship-audit.ts
  scripts/relationship-audit.ts
Due: none

fix(audit): harden AI prompts, normalize inter-layer parser output, add run logging
  cli/src/audit/relationships/ai/parser.ts
  cli/src/audit/relationships/ai/prompts.ts
  cli/tests/unit/audit/ai/prompt-templates.test.ts
  cli/tests/unit/audit/ai/response-parser.test.ts
  scripts/relationship-audit.ts
Due: eslint, typescript-check

feat(scripts): add --ai-step flag to run individual AI evaluation stages
  scripts/relationship-audit.ts
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

