Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Fix TypeScript build errors and test failures in Element and Layer classes
  cli/src/core/element.ts
  cli/src/core/layer.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: eslint, typescript-check

Complete work for issue #462
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Regenerate spec/browser reports with updated timestamps
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Regenerate spec/browser and spec/neo4j exports
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update generated spec/browser and spec/neo4j reports
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update spec/browser and neo4j generated files
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update generated reports with latest timestamps
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #462
  package-lock.json
  package.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update generated layer reports with latest timestamps
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Update generated reports and Neo4j export files
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update generated reports with latest timestamps (3rd update)
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Fix CI timeout by separating slow tests from main suite
  .github/workflows/cli-tests.yml
  cli/package.json
Due: none

Complete work for issue #462
  cli/tests/unit/source-reference.test.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: eslint

Complete work for issue #462
  cli/src/core/virtual-projection.ts
  cli/tests/unit/search-source-file.test.ts
Due: eslint, typescript-check

Fix spec/dist regeneration test by removing downstream artifact generation
  spec/scripts/build-spec.ts
Due: none

Fix TypeScript build error: Remove unused GraphNode import
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Complete work for issue #463
  cli/src/core/layer.ts
  cli/src/core/virtual-projection.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #463
  cli/src/commands/add.ts
  cli/src/commands/update.ts
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/core/reference-registry.ts
  cli/src/core/virtual-projection.ts
  cli/src/server/server.ts
  cli/src/types/index.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Fix all 33 failing integration tests by implementing semantic ID lookup and properties/attributes compatibility
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/server/server.ts
  cli/src/types/index.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/virtual-projection.test.ts
Due: eslint, typescript-check

Complete work for issue #463
  cli/src/core/element.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staging-area.ts
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Update virtual projection implementation
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Complete work for issue #464
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/tests/compatibility/model-format.test.ts
Due: eslint, typescript-check

Complete work for issue #464
  cli/src/commands/chat.ts
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/src/server/server.ts
  cli/tests/compatibility/model-format.test.ts
  cli/tests/integration/chat-explicit-client.test.ts
  cli/tests/integration/chat-multi-client.test.ts
Due: eslint, typescript-check

Complete work for issue #464
  cli/tests/integration/chat-explicit-client.test.ts
  cli/tests/integration/chat-multi-client.test.ts
Due: eslint

Complete work for issue #464
  cli/documentation-robotics/model/01_motivation/goal.yaml
  cli/documentation-robotics/model/manifest.yaml
  cli/src/core/manifest.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Phase 8: Complete legacy code cleanup and verification
  .gitignore
  cli/documentation-robotics/model/01_motivation/goal.yaml
  cli/documentation-robotics/model/manifest.yaml
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/tests/integration/chat-explicit-client.test.ts
  cli/tests/unit/core/manifest.test.ts
Due: eslint, typescript-check

Complete work for issue #468
  CLAUDE.md
  VALIDATION_RESULTS.md
  cd
Due: none

Complete work for issue #469
  cli/src/core/element.ts
  cli/src/core/layer.ts
Due: eslint, typescript-check

Complete work for issue #469
  cli/src/core/layer.ts
  cli/tests/unit/core/element.test.ts
  cli/tests/unit/core/layer.test.ts
Due: eslint, typescript-check

Fix changeset-rollback test by adding id field to element
  cli/tests/integration/changeset-rollback.test.ts
Due: eslint

Complete work for issue #470
  cli/src/core/model.ts
Due: eslint, typescript-check

Complete work for issue #471
  cli/src/core/changeset-exporter.ts
  cli/src/core/changeset.ts
  cli/src/core/manifest.ts
  cli/src/core/staged-changeset-storage.ts
Due: eslint, typescript-check

Complete work for issue #471
  cli/src/core/changeset-exporter.ts
  cli/src/core/changeset.ts
  cli/src/core/manifest.ts
  cli/src/core/staged-changeset-storage.ts
  cli/tests/unit/core/changeset-migration.test.ts
Due: eslint, typescript-check

Complete work for issue #471
  cli/src/core/changeset-exporter.ts
  cli/src/core/staged-changeset-storage.ts
  cli/tests/unit/core/changeset-migration.test.ts
Due: eslint, typescript-check

Complete work for issue #472
  cli/tests/integration/element-command.test.ts
  cli/tests/unit/core/element.test.ts
  cli/tests/unit/core/staged-changeset.test.ts
Due: eslint

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

