Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #460
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #460
  VALIDATION_RESULTS.md
  package-lock.json
  package.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #460
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Fix test: Regenerate spec/dist now validates formatting matches Prettier
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #460
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/core/changeset-exporter.ts
  cli/src/core/changeset.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staged-changeset-storage.ts
  cli/src/core/staging-area.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #460
  cli/src/core/changeset-exporter.ts
  cli/src/core/mutation-handler.ts
Due: eslint, typescript-check

Complete work for issue #460
  .mcp.json
  VALIDATION_RESULTS.md
Due: none

Fix test expectation for changeset status
  cli/tests/unit/core/staged-changeset.test.ts
Due: eslint

Complete work for issue #461
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Update generated spec documentation and exports
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Fix spec/dist formatting: Use Prettier config from file system
  spec/scripts/build-spec.ts
Due: none

Fix: Install root dependencies in spec-validation CI job
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #461
  cli/src/commands/changeset.ts
  cli/src/core/staging-area.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #461
  cli/tests/integration/changeset-export-import.test.ts
  cli/tests/integration/changeset-storage-location.test.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: eslint

Regenerate spec/dist and browser reports with Prettier formatting
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Regenerate browser layer reports with updated timestamps.
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Regenerate browser layer reports with updated timestamps.
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #461
  .mcp.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #461
  Dockerfile.agent
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #462
  cli/src/core/element.ts
Due: eslint, typescript-check

Complete work for issue #462
  cli/src/core/element.ts
  cli/tests/unit/core/element.test.ts
Due: eslint, typescript-check

Complete work for issue #462
  cli/tests/unit/core/element.test.ts
Due: eslint

Complete work for issue #462
  .mcp.json
  cli/src/commands/conformance.ts
  cli/src/commands/show.ts
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/export/markdown-exporter.ts
Due: eslint, typescript-check

Complete work for issue #462
  cli/src/core/element.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

