Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #323
  .pre-commit-config.yaml
  reports/validation/validation-report.md
Due: none

Complete work for issue #325
  PHASE4_IMPLEMENTATION_SUMMARY.md
  cli/scripts/generate-spec-instances.ts
  cli/src/core/virtual-projection.ts
  cli/src/export/graph-migration.ts
  cli/src/export/model-migration.ts
  cli/src/validators/schema-validator.ts
  cli/test-graph-debug.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

Complete work for issue #325
  cli/src/validators/schema-validator.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

Complete work for issue #325
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint

Complete work for issue #325
  cli/src/core/virtual-projection.ts
  cli/src/schemas/bundled/07-data-model-layer.schema.json
Due: eslint, typescript-check

Initial commit
  .claude_prompt_repair_test_pre-commit_type1_iter2_attempt0_senior_software_engineer_1770544797.txt
  cli/src/export/model-migration.ts
Due: eslint, typescript-check

Complete work for issue #325
  .claude_prompt_repair_test_pre-commit_type1_iter2_attempt0_senior_software_engineer_1770544797.txt
  cli/tests/unit/validators/schema-validator.test.ts
Due: eslint

Complete work for issue #325
  cli/tests/compatibility/model-format.test.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint

Complete work for issue #325
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/input-space-partitions.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/test-case-sketches.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/test-coverage-models.yaml
Due: none

Complete work for issue #326
  FIXES_SUMMARY.md
  cli/docs/GRAPH_REPRESENTATION_MAPPING.md
  cli/src/commands/import.ts
  cli/src/commands/validate.ts
  cli/src/core/graph-mapping.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/export/ladybug-migration.ts
  cli/src/utils/spec-installer.ts
  cli/tests/unit/graph-model.test.ts
Due: eslint, typescript-check

Complete work for issue #326
  cli/src/commands/docs.ts
  cli/src/commands/graph-migrate.ts
  cli/src/core/layer.ts
  cli/src/export/ladybug-migration.ts
  cli/src/export/model-migration.ts
  cli/src/types/index.ts
  cli/tests/unit/core/layer.test.ts
  docs/GRAPH_REPRESENTATION_MAPPING.md
Due: eslint, typescript-check

orchestrator cleanup
  cli/docs/GRAPH_REPRESENTATION_MAPPING.md
  cli/src/export/model-migration.ts
Due: eslint, typescript-check

Complete work for issue #326
  cli/src/core/graph-mapping.ts
  cli/src/export/ladybug-migration.ts
Due: eslint, typescript-check

Complete work for issue #326
  FIXES_SUMMARY.md
  docs/GRAPH_REPRESENTATION_MAPPING.md
Due: none

Complete work for issue #326
  cli/src/validators/semantic-validator.ts
  cli/test_output.txt
  cli/tests/unit/validators/debug-test.ts
  cli/tests/unit/validators/semantic-validator.test.ts
  cli/tests/unit/validators/validator.test.ts
Due: eslint, typescript-check

Complete work for issue #326
  cli/test_output.txt
  cli/tests/integration/graph-migration.test.ts
Due: eslint

Complete work for issue #327
  FIXES_SUMMARY.md
  cli/scripts/generate-spec-instances.ts
  cli/src/commands/docs.ts
  cli/src/export/model-migration.ts
  cli/src/export/neo4j-migration.ts
  cli/src/import/archimate-importer.ts
  cli/src/import/openapi-importer.ts
  cli/tests/integration/trace-project-commands.test.ts
  docs/api/graph-migration-api.md
  scripts/generate-layer-docs.ts
Due: eslint, typescript-check

Complete work for issue #327
  cli/scripts/generate-spec-instances.ts
  cli/src/import/openapi-importer.ts
Due: eslint, typescript-check

Complete work for issue #327
  cli/tests/integration/graph-migration.test.ts
  docs/api/graph-migration-api.md
Due: eslint

Complete repair cycle for issue #327
  cli/tests/integration/trace-project-commands.test.ts
Due: eslint

Complete work for issue #328
  cli/tests/helpers/golden-copy.ts
  reports/validation/validation-report.json
Due: eslint

Complete work for issue #329
  cli/src/commands/docs.ts
  cli/src/utils/spec-installer.ts
  cli/tests/integration/trace-project-commands.test.ts
  cli/tests/unit/utils/spec-installer.test.ts
  docs/api/graph-migration-api.md
Due: eslint, typescript-check

Complete work for issue #329
  cli/src/utils/spec-installer.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

Claude.md refinement and update
  CLAUDE.md
Due: none

Update documentation for relationship schema conversion
  spec/CHANGELOG.md
Due: none

Update documentation for schema architecture simplification
  CLAUDE.md
  spec/CHANGELOG.md
Due: none

Remove legacy schema files and update predicates catalog
  cli/src/schemas/bundled/common/layer-extensions.schema.json
  cli/src/schemas/bundled/common/predicates.schema.json
  cli/src/schemas/bundled/common/relationships.schema.json
  cli/src/utils/spec-installer.ts
  spec/predicates.json
  spec/schemas/common/layer-extensions.schema.json
  spec/schemas/common/predicates.schema.json
  spec/schemas/common/relationships.schema.json
Due: eslint, typescript-check

Consolidate common schemas into base directory
  CLAUDE.md
  cli/src/schemas/bundled/base/attribute-spec.schema.json
  cli/src/schemas/bundled/base/model-node-relationship.schema.json
  cli/src/schemas/bundled/base/source-references.schema.json
  cli/src/schemas/bundled/base/spec-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node.schema.json
  cli/src/utils/spec-installer.ts
  cli/tests/unit/validators/base-schemas.test.ts
  spec/schemas/base/attribute-spec.schema.json
  spec/schemas/base/model-node-relationship.schema.json
  spec/schemas/base/source-references.schema.json
  spec/schemas/base/spec-node-relationship.schema.json
  spec/schemas/base/spec-node.schema.json
Due: eslint, typescript-check

Remove unused relationship-type.schema.json
  CLAUDE.md
  cli/src/schemas/bundled/relationship-type.schema.json
  cli/src/utils/spec-installer.ts
  spec/schemas/relationship-type.schema.json
Due: eslint, typescript-check

Move predicates.json to spec/schemas/base/
  CLAUDE.md
  cli/tests/unit/generation/extract-predicates.test.ts
  spec/schemas/base/predicates.json
Due: eslint
