Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #872
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Complete repair cycle for issue #872
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Phase 6: Add global --json flag with per-command JSON output contracts
  cli/src/cli.ts
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
  cli/src/utils/errors.ts
  cli/src/utils/globals.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint, typescript-check

Fix JSON output phase 6 issues: use changesetStatus field, restore PascalCase for non-JSON, verbose gating, add missing tests, consistent changeset identifiers
  cli-validation/test-project/baseline/documentation-robotics/README.md
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/actor.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/business_process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/business_service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli-validation/test-project/baseline/documentation-robotics/reports/02-business-layer-report.md
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
  cli/src/utils/errors.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint, typescript-check

Fix review feedback 2: add --json flag to tests, revert baseline corruption, add changesetStatus to add.ts, fix changeset create details
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/actor.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/business_process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/business_service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint, typescript-check

Fix review feedback 3: add required attributes to test add commands, restore corrupted baseline files
  cli-validation/test-project/baseline/documentation-robotics/README.md
  cli-validation/test-project/baseline/documentation-robotics/reports/02-business-layer-report.md
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint

Fix test issues: correct invalid predicate and fix line count assertion
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint

Fix --json flag handling in commands to merge global and local options
  cli/src/cli.ts
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Fix --json flag handling for element and relationship subcommands
  cli/src/cli.ts
  cli/src/commands/element.ts
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Complete work for issue #890
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/utils/errors.ts
Due: eslint, typescript-check

Fix JSON output contract and error handling redundancy
  cli/src/cli.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
  cli/tests/unit/error-handling-json.test.ts
Due: eslint, typescript-check

Complete work for issue #890
  cli/tests/integration/analyzers/end-to-end.test.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint

Remove hanging subcommands integration test
  cli/tests/integration/analyzers/subcommands.test.ts
Due: eslint

Fix changeset command JSON support and validation error handling
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix changeset command output handling issues
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix duplicate output in staged command empty case
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Complete work for issue #892
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Fix mutating command verbose flag propagation
  cli/src/cli.ts
Due: eslint, typescript-check

Fix JSON Output Contract violations in changeset, delete, update, and relationship commands
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Fix JSON Output Contract violations in changeset command catch blocks
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix missing isJson() guard in changeset revert command error path
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Complete work for issue #894
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Complete repair cycle for issue #894
  cli/src/cli.ts
  cli/src/utils/ansi-suppressor.ts
  cli/src/utils/color-utils.ts
Due: eslint, typescript-check

Complete work for issue #895
  cli/src/utils/globals.ts
  cli/tests/integration/analyzers/subcommands.test.ts
  cli/tests/integration/json-output-mutating-commands.test.ts
Due: eslint, typescript-check

Complete work for issue #896
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

feat: Add external model declarations support to manifest
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/src/types/index.ts
  cli/tests/unit/core/manifest.test.ts
Due: eslint, typescript-check

Phase 2: Add qualified cross-model reference path parsing
  cli/src/utils/element-reference-shape.ts
  cli/src/utils/reference-path-parser.ts
  cli/tests/unit/reference-path-parser.test.ts
  cli/tests/unit/utils/element-reference-shape-qualified.test.ts
Due: eslint, typescript-check

Phase 3: Implement local validation of qualified references
  cli/src/validators/reference-validator.ts
  cli/tests/unit/validators/reference-validator.test.ts
Due: eslint, typescript-check

Fix review feedback: correct test data and add integration tests
  cli/tests/integration/validate-qualified-references.test.ts
  cli/tests/unit/validators/reference-validator.test.ts
Due: eslint

Fix integration tests: use Map.get() instead of array indexing for layer.elements
  cli/tests/integration/validate-qualified-references.test.ts
Due: eslint

Phase 4: Implement composed validation scope for cross-model reference resolution
  cli/src/cli.ts
  cli/src/commands/validate.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/validate-composed-scope-manual.test.ts
  cli/tests/integration/validate-composed-scope.test.ts
Due: eslint, typescript-check

Fix critical issues in composed validation scope
  cli/src/commands/validate.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/validate-composed-scope-manual.test.ts
Due: eslint, typescript-check

Clean up broken relationship from test baseline
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
Due: none

Update test to be more lenient with assertion messages
  cli/tests/integration/validate-composed-scope.test.ts
Due: eslint

Complete work for issue #855
  cli/test-check-yaml.ts
  cli/test-debug-validation.ts
  cli/test-full-validation.ts
  cli/test-graph-issue.ts
  cli/test-ref-validator.ts
  cli/test-refs-debug.ts
  cli/test-save-layer.ts
  cli/test-tojson.ts
  cli/test-trace-refs.ts
  cli/test-two-layers.ts
Due: eslint

Fix: Remove debug scripts and update test assertion
  cli/test-check-yaml.ts
  cli/test-debug-validation.ts
  cli/test-full-validation.ts
  cli/test-graph-issue.ts
  cli/test-ref-validator.ts
  cli/test-refs-debug.ts
  cli/test-save-layer.ts
  cli/test-single.ts
  cli/test-tojson.ts
  cli/test-trace-refs.ts
  cli/test-two-layers.ts
  cli/tests/integration/validate-composed-scope.test.ts
Due: eslint

Fix: Initialize relationships.yaml with empty array instead of null
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
Due: none

Fix: Initialize relationships.yaml with empty array instead of null
  cli/src/core/model.ts
  cli/test-output.txt
  cli/tests/integration/commands.test.ts
Due: eslint, typescript-check

Complete work for issue #855
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
  cli/src/core/model.ts
  spec/analyzers/test-multiple-duplicate-edges/analyzer.json
  spec/analyzers/test-multiple-duplicate-edges/edge-mapping.json
  spec/analyzers/test-multiple-duplicate-edges/extraction-heuristics.json
  spec/analyzers/test-multiple-duplicate-edges/node-mapping.json
Due: eslint, typescript-check

Complete repair cycle for issue #855
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

