Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #380
  .claude_prompt_932d2430-301c-4571-8d85-9a759e0b7676.txt
Due: none

Fix: Address all 9 medium-priority code review issues
  cli/src/core/relationship-catalog.ts
  cli/src/core/report-data-model.ts
  cli/src/core/spec-loader-types.ts
  cli/src/export/markdown-generator.ts
  cli/src/export/mermaid-markdown-exporter.ts
  cli/src/export/report-exporter.ts
  cli/tests/unit/core/staged-changeset.test.ts
  cli/tests/unit/export/markdown-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #380
  cli/tests/unit/core/staged-changeset.test.ts
  cli/tests/unit/export/markdown-generator.test.ts
  scripts/generate-layer-reports.ts
Due: eslint

Complete work for issue #380
  cli/tests/unit/core/staged-changeset.test.ts
Due: eslint

Complete work for issue #381
  PR_REVIEW_LOW_PRIORITY_ISSUES.md
Due: none

Complete work for issue #381
  cli/src/analysis/relationship-classifier.ts
  cli/src/core/report-data-model.ts
  cli/src/export/markdown-exporter.ts
  cli/src/export/markdown-generator.ts
  cli/src/export/markdown-utils.ts
Due: eslint, typescript-check

Complete work for issue #381
  cli/src/export/markdown-utils.ts
Due: eslint, typescript-check

Complete work for issue #381
  cli/src/core/report-data-model.ts
  cli/src/export/markdown-utils.ts
Due: eslint, typescript-check

Complete work for issue #381
  PR_REVIEW_HIGH_PRIORITY_ISSUES.md
  PR_REVIEW_LOW_PRIORITY_ISSUES.md
Due: none

Complete work for issue #382
  ERROR_HANDLING_AUDIT_REPORT.md
  IMPLEMENTATION_GAPS_FIXES_APPLIED.md
  IMPLEMENTATION_GAPS_SUMMARY.md
  PR_REVIEW_ACTION_SUMMARY.md
  REMAINING_ISSUES_GUIDE.md
  REVIEW_CHECKLIST.md
  cli/src/analysis/relationship-classifier.ts
  cli/src/core/relationship-catalog.ts
  cli/src/core/report-data-model.ts
  cli/src/core/spec-data-service.ts
  cli/src/core/stats-collector.ts
  cli/src/export/report-exporter.ts
  cli/src/export/report-formatters.ts
Due: eslint, typescript-check

Complete work for issue #382
  ERROR_HANDLING_AUDIT_REPORT.md
  IMPLEMENTATION_GAPS_FIXES_APPLIED.md
  IMPLEMENTATION_GAPS_SUMMARY.md
  PR_REVIEW_ACTION_SUMMARY.md
  REMAINING_ISSUES_GUIDE.md
  REVIEW_CHECKLIST.md
Due: none

fix: Address remaining implementation gaps from PR review
  cli/src/core/report-data-model.ts
  cli/tests/integration/layer-naming-validation.test.ts
  cli/tests/performance/validator-benchmark.test.ts
  cli/tests/unit/core/report-data-model.test.ts
  cli/tests/unit/core/spec-data-service.test.ts
  cli/tests/unit/core/spec-loader.test.ts
  cli/tests/unit/validators/schema-validator-fallback.test.ts
  scripts/generate-layer-reports.ts
Due: eslint, typescript-check

Complete work for issue #383
  IMPLEMENTATION_GAPS_RESOLUTION.md
Due: none

fix: Address all three implementation gaps from PR review
  ERROR_HANDLING_AUDIT_REPORT.md
  IMPLEMENTATION_GAPS_FIXES_APPLIED.md
  IMPLEMENTATION_GAPS_RESOLUTION.md
  IMPLEMENTATION_GAPS_SUMMARY.md
  PR_REVIEW_ACTION_SUMMARY.md
  PR_REVIEW_HIGH_PRIORITY_ISSUES.md
  PR_REVIEW_LOW_PRIORITY_ISSUES.md
  REMAINING_ISSUES_GUIDE.md
  REVIEW_CHECKLIST.md
Due: none

fix: Implement three report generation improvements
  scripts/generate-layer-reports.ts
Due: none

Complete work for issue #383
  cli/tests/unit/core/spec-data-service.test.ts
  cli/tests/unit/core/spec-loader.test.ts
Due: eslint

Complete repair cycle for issue #383
  cli/tests/unit/core/report-data-model.test.ts
Due: eslint

Complete work for issue #384
  cli/package.json
  cli/tests/unit/core/spec-loader.test.ts
  scripts/generate-layer-reports.ts
  scripts/test/generate-layer-reports.test.ts
Due: eslint

Complete work for issue #390
  scripts/test/generate-layer-reports.test.ts
  spec/browser/.gitignore
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #390
  scripts/test/generate-layer-reports.test.ts
Due: none

Complete work for issue #391
  cli/src/analysis/relationship-classifier.ts
  cli/src/core/report-data-model.ts
  cli/src/export/report-exporter.ts
  cli/tests/unit/export/markdown-generator.test.ts
Due: eslint, typescript-check

fix: Correct JSON Schema validation in attribute-spec schema
  .claude_prompt_c715ac5c-9859-40a9-aefc-3b502a3fa831.txt
  cli/src/schemas/bundled/base/attribute-spec.schema.json
  package-lock.json
  package.json
  spec/schemas/base/attribute-spec.schema.json
Due: none

Complete work for issue #392
  .claude_prompt_c715ac5c-9859-40a9-aefc-3b502a3fa831.txt
Due: none

refactor: Remove unnecessary dependencies and improve gitignore
  .gitignore
  package-lock.json
  package.json
Due: none

docs: Regenerate layer reports with updated timestamps
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Update markdown-generator tests for new API
  cli/tests/unit/export/markdown-generator.test.ts
Due: eslint

fix: Make validate-docs workflow use PR HEAD instead of merge commit
  .github/workflows/validate-docs.yml
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

docs: Regenerate layer reports with updated commit hash
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Ignore timestamp and commit hash in validate-docs check
  .github/workflows/validate-docs.yml
Due: none

docs: Fix non-deterministic ordering in layer reports
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Add deterministic sorting to layer report generation
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Add sorting to remaining non-deterministic outputs
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Improve validate-docs diff filter to check only content changes
  .github/workflows/validate-docs.yml
Due: none

fix: Refine diff filter to exclude diff headers
  .github/workflows/validate-docs.yml
Due: none

fix: Remove commit hash from generated documentation footer
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Add deterministic sorting to all relationship data structures
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

fix: Use locale-independent string comparison for sorting
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

ci: Temporarily disable validate-docs workflow
  .github/workflows/validate-docs.yml
Due: none

Complete work for issue #393
  cli/package-lock.json
  cli/package.json
  cli/src/server/schemas.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #393
  cli/src/server/schemas.ts
  cli/tests/integration/visualization-server.test.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

