Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete repair cycle for issue #393
  .github/workflows/validate-docs.yml
Due: none

Complete work for issue #394
  cli/src/server/schemas.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #394
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-api.test.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint, typescript-check

Complete work for issue #395
  cli/package-lock.json
  cli/package.json
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #395
  cli/scripts/generate-openapi.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #395
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Complete work for issue #397
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #398
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Complete work for issue #398
  cli/src/server/server.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Complete work for issue #398
  cli/src/server/server.ts
  cli/tests/integration/visualization-server.test.ts
Due: eslint, typescript-check

Address code review feedback (iteration 1)
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint, typescript-check

Complete work for issue #399
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #399
  cli/bun.lock
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint, typescript-check

Complete work for issue #399
  cli/tests/integration/visualization-server-api.test.ts
  cli/tests/integration/visualization-server-websocket-advanced.test.ts
Due: eslint

Complete repair cycle for issue #399
  cli/tests/integration/visualization-server.test.ts
Due: eslint

Complete work for issue #400
  cli/src/server/schemas.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Complete work for issue #401
  .github/workflows/cli-tests.yml
  cli/docs/api-spec.yaml
  cli/scripts/generate-openapi.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #401
  cli/docs/api-spec.yaml
  cli/scripts/generate-openapi.ts
Due: eslint

Address code review feedback (iteration 1)
  CRITICAL_ISSUES_FIXES.md
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #402
  CRITICAL_ISSUES_FIXES.md
Due: none

Complete repair cycle for issue #402
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #403
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/helpers/test-model.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Complete work for issue #403
  cli/tests/integration/visualization-server-websocket-advanced.test.ts
Due: eslint

Complete work for issue #404
  cli/src/server/schemas.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #404
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #405
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-api.test.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Complete work for issue #405
  cli/tests/integration/commands.test.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Complete work for issue #406
  ERROR_HANDLING_AUDIT.md
Due: none

Complete work for issue #406
  .github/workflows/cli-tests.yml
  cli/src/server/schemas.ts
  cli/tests/unit/scripts/generate-openapi.test.ts
  cli/tests/unit/server/schemas.test.ts
  docs/ci-cd-integration.md
Due: eslint, typescript-check

Fix remaining issues from code review feedback
  ERROR_HANDLING_AUDIT.md
  cli/package.json
Due: none

Complete work for issue #406
  cli/src/telemetry/config.ts
  docs/ci-cd-integration.md
Due: eslint, typescript-check

Complete work for issue #407
  cli/package.json
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/unit/scripts/generate-openapi.test.ts
Due: eslint, typescript-check

Complete work for issue #408
  cli/src/server/server.ts
  cli/src/telemetry/config.ts
Due: eslint, typescript-check

Fix high-priority code review issues from PR #307
  cli/package.json
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/unit/scripts/generate-openapi.test.ts
Due: eslint, typescript-check

Fix PR code review high-priority issues: Logging, type derivation, schema tests
  cli/src/server/server.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Fix TagSchema import in test file
  cli/tests/unit/server/schemas.test.ts
Due: eslint

Complete work for issue #410
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/integration/visualization-server.test.ts
  cli/tests/unit/server/schemas.test.ts
  cli/tests/unit/server/server.test.ts
Due: eslint, typescript-check

Complete work for issue #410
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint, typescript-check

Complete work for issue #413
  ERROR_HANDLING_AUDIT.md
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

