Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Phase 1: Foundation — types, interfaces & mapping loader
  cli/src/analyzers/base-analyzer.ts
  cli/src/analyzers/mapping-loader.ts
  cli/src/analyzers/types.ts
  cli/tests/unit/analyzers/mapping-loader.test.ts
Due: eslint, typescript-check

Fix review feedback: private constructor, remove unused types, clean up tests
  cli/src/analyzers/mapping-loader.ts
  cli/src/analyzers/types.ts
  cli/tests/unit/analyzers/mapping-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #684
  cli/src/analyzers/session-state.ts
  cli/src/analyzers/stdio-client.ts
  cli/tests/unit/analyzers/session-state.test.ts
  cli/tests/unit/analyzers/stdio-client.test.ts
Due: eslint, typescript-check

Phase 2 Revision 1: Fix session-state.ts with baseDir parameter, fix stdio-client variable shadowing and drain handler, add tests
  cli/src/analyzers/session-state.ts
  cli/src/analyzers/stdio-client.ts
  cli/tests/fixtures/mock-analyzer.cjs
  cli/tests/fixtures/mock-analyzer.mjs
  cli/tests/unit/analyzers/session-state.test.ts
  cli/tests/unit/analyzers/stdio-client.test.ts
Due: eslint, typescript-check

Fix mock analyzer to handle direct method calls
  cli/tests/fixtures/mock-analyzer.cjs
Due: none

Phase 3: Implement analyzer registry and CBM analyzer backend
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/registry.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/registry.test.ts
Due: eslint, typescript-check

Fix review feedback for analyzer implementation
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/registry.ts
  cli/src/analyzers/version.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/registry.test.ts
Due: eslint, typescript-check

Phase 4: Implement analyzer commands and CLI registration
  cli/src/analyzers/mapping-loader.ts
  cli/src/cli.ts
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Fix Phase 4 analyzer commands: session path consistency, discover re-prompt, rename AnalyzerMetadata, static import, add tests
  cli/src/analyzers/mapping-loader.ts
  cli/src/commands/analyzer.ts
  cli/tests/integration/analyzer-commands.test.ts
Due: eslint, typescript-check

Fix analyzer command review feedback: JSON output, session handling, and test assertions
  cli/src/commands/analyzer.ts
  cli/tests/integration/analyzer-commands.test.ts
Due: eslint, typescript-check

Complete work for issue #686
  cli/src/cli.ts
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Complete work for issue #687
  cli/tests/fixtures/mock-mcp-server.cjs
  cli/tests/integration/analyzers/discover.test.ts
  cli/tests/integration/analyzers/end-to-end.test.ts
Due: eslint

Fix vacuous test assertions and wire up mock MCP server integration
  cli/tests/integration/analyzers/discover.test.ts
  cli/tests/integration/analyzers/end-to-end.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Fix Phase 5 test issues: remove dead variables, fix hollow assertions, add proper confidence downgrade test, implement mock MCP server workflow
  cli/tests/integration/analyzers/end-to-end.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Simplify mock MCP server integration tests to focus on documented workflow
  cli/tests/integration/analyzers/end-to-end.test.ts
Due: eslint

Fix hollow test assertions and remove unused imports
  cli/tests/integration/analyzers/end-to-end.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Address review cycle 4 feedback: fix test issues
  cli/tests/integration/analyzers/end-to-end.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Complete work for issue #689
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Fix PR feedback on Detection Flow (detect()): TypeScript errors, hardcoded values, and missing tests
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/mapping-loader.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Fix test quality issues and naming consistency in detect()
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Fix hollow tests by extracting checkMcpRegistration() into testable helper
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Complete work for issue #690
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/types.ts
  cli/src/commands/analyzer.ts
  cli/tests/fixtures/mock-mcp-server.cjs
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Fix EndpointCandidate test suite for new confidence logic
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Complete work for issue #690
  .mcp.json
Due: none

Complete work for issue #691
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/session-state.ts
  cli/src/commands/analyzer.ts
  cli/tests/unit/analyzers/session-state.test.ts
Due: eslint, typescript-check

Fix: Make analyzerName required and validate optional fields in validators
  cli/src/analyzers/session-state.ts
Due: eslint, typescript-check

Implement: Add name and displayName properties to AnalyzerBackend interface
  cli/src/analyzers/base-analyzer.ts
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Complete work for issue #693
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Fix: Index operation - prevent re-indexing, check git before backend mutation, fix error category
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Complete work for issue #694
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Fix: Extract duplicated test patterns and add test coverage for isTestCode
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Fix: Replace vacuous if guard with explicit precondition assertions in isTestCode test
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Complete work for issue #695
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Fix: System error detection and reduce duplication in analyzer commands
  cli/src/commands/analyzer.ts
  cli/src/utils/errors.ts
Due: eslint, typescript-check

Fix: Revert fabricated homepage fallback to honest placeholder
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Fix: StdioClient JSON parse errors and SIGKILL fallback handling
  cli/src/analyzers/stdio-client.ts
Due: eslint, typescript-check

Fix: StdioClient SIGKILL fallback and add test coverage for new behaviors
  cli/src/analyzers/stdio-client.ts
  cli/tests/unit/analyzers/stdio-client.test.ts
Due: eslint, typescript-check

Fix: Version Resolution - use single source of truth instead of dynamic import
  cli/src/analyzers/version.ts
Due: eslint, typescript-check

Fix: Test Quality Issues in CBM Analyzer Tests
  cli/tests/fixtures/mock-mcp-server.cjs
  cli/tests/integration/analyzers/discover.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint

Fix: Test Quality Issues in CBM Analyzer Tests
  cli/tests/fixtures/mock-mcp-server.cjs
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint
