Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #793
  CLAUDE.md
  cli/src/export/archimate-exporter.ts
Due: eslint, typescript-check

fix: Format CLAUDE.md with proper spacing around section headers
  CLAUDE.md
Due: none

Phase 6: Update test assertions and descriptions for 13-layer model
  cli/tests/integration/info-command.test.ts
  cli/tests/integration/reports/model-reports.test.ts
  cli/tests/integration/visualization-server-api.test.ts
  cli/tests/unit/export/report-formatters.test.ts
Due: eslint

fix: Update remaining 12-layer references to 13-layer and fix layer numbering issues
  .github/skills/dr_01_motivation_layer/SKILL.md
  .github/skills/dr_03_product_layer/SKILL.md
  CLAUDE.md
  cli-validation/test-project/baseline/.claude/agents/dr-advisor.md
  cli-validation/test-project/baseline/.claude/agents/dr-architect.md
  cli-validation/test-project/baseline/.claude/commands/dr-init.md
  cli-validation/test-project/baseline/.claude/commands/dr-model.md
  cli-validation/test-project/baseline/.claude/skills/dr_01_motivation_layer/SKILL.md
  cli-validation/test-project/baseline/.claude/skills/dr_03_product_layer/SKILL.md
  integrations/claude_code/agents/dr-advisor.md
  integrations/claude_code/agents/dr-extractor.md
  integrations/claude_code/commands/dr-info.md
  integrations/claude_code/commands/dr-init.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-model.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/docs/QUICK_START.md
  integrations/claude_code/docs/README.md
  integrations/claude_code/skills/dr_01_motivation_layer/SKILL.md
  integrations/claude_code/skills/dr_03_product_layer/SKILL.md
  integrations/claude_code/skills/dr_engineering_guide/SKILL.md
  integrations/github_copilot/agents/dr-advisor.md
  integrations/github_copilot/agents/dr-architect.md
  integrations/github_copilot/skills/dr_01_motivation_layer/SKILL.md
  integrations/github_copilot/skills/dr_03_product_layer/SKILL.md
Due: none

Complete work for issue #795
  .github/skills/dr_03_product_layer/SKILL.md
  README.md
  cli-validation/test-project/baseline/.claude/skills/dr_03_product_layer/SKILL.md
  integrations/claude_code/skills/dr_03_product_layer/SKILL.md
  integrations/github_copilot/skills/dr_03_product_layer/SKILL.md
  spec/README.md
Due: none

Complete work for issue #795
  .github/skills/dr_03_product_layer/SKILL.md
  cli-validation/test-project/baseline/.claude/skills/dr_03_product_layer/SKILL.md
  integrations/claude_code/skills/dr_03_product_layer/SKILL.md
Due: none

Release: Spec v0.9.0 - Product layer addition (breaking change)
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  cli/src/utils/spec-version.ts
  spec/CHANGELOG.md
  spec/VERSION
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: eslint, typescript-check

fix: Remove duplicate Analyzer Mappings entry in 0.9.0 changelog
  spec/CHANGELOG.md
Due: none

Fix changelog structure and update version references
  CLAUDE.md
  spec/CHANGELOG.md
Due: none

Complete work for issue #806
  cli/src/audit/relationships/analysis/gap-analyzer.ts
  cli/src/cli.ts
  cli/src/commands/validate.ts
  cli/src/core/spec-loader-types.ts
  cli/src/core/spec-loader.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/export/openapi-exporter.ts
  cli/src/import/archimate-importer.ts
  cli/src/import/openapi-importer.ts
  cli/src/utils/spec-installer.ts
  spec/scripts/build-spec.ts
Due: eslint, typescript-check

fix: Add missing product layer entry to LAYER_FALLBACK in visualization server
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

fix: Add missing product layer gap-analysis template and eliminate duplicate layer order array
  cli/src/audit/relationships/ai/prompts.ts
  cli/src/audit/relationships/analysis/layer-templates.ts
Due: eslint, typescript-check

Complete work for issue #809
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/unit/export/archimate-exporter.test.ts
  scripts/test/generate-layer-reports.test.ts
Due: eslint

Fix test case filename for product userworkflow element
  cli-validation/test-suite/test-cases/element-crud.yaml
Due: none

Complete work for issue #810
  cli/src/core/migration-registry.ts
  cli/tests/unit/migration-registry.test.ts
Due: eslint, typescript-check

fix: Address migration registry review feedback
  cli/src/core/migration-registry.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/unit/migration-registry.test.ts
Due: eslint, typescript-check

fix: Add product layer to node audit and stats collector
  cli/src/audit/nodes/ai/prompts.ts
  cli/src/core/stats-collector.ts
Due: eslint, typescript-check

Complete work for issue #812
  cli/src/cli.ts
  cli/src/export/report-formatters.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

fix: Import CANONICAL_LAYER_NAMES instead of duplicating layer list
  cli/src/server/server.ts
Due: eslint, typescript-check

fix: Improve migration registry error handling
  cli/src/core/migration-registry.ts
Due: eslint, typescript-check

fix: Prevent version bump on migration errors and add comprehensive error tests
  cli/src/core/migration-registry.ts
  cli/tests/unit/migration-registry.test.ts
Due: eslint, typescript-check

fix: Fix EACCES permission error test to properly exercise code path
  cli/tests/unit/migration-registry.test.ts
Due: eslint

chore(release): bump CLI to v0.1.9
  CLAUDE.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/scripts/download-viewer.sh
  cli/src/utils/spec-version.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

chore(release): bump CLI to v0.1.10
  CLAUDE.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/scripts/download-viewer.sh
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

chore: resolve stale stash conflict in .claude/settings.local.json
  .claude/settings.local.json
Due: none

chore(release): bump CLI to v0.1.11
  CLAUDE.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/src/cli.ts
  cli/src/commands/repair.ts
  cli/src/core/attribute-collision-repair.ts
  cli/src/core/model.ts
  cli/src/utils/spec-version.ts
  cli/tests/integration/attribute-collision-repair.test.ts
  cli/tests/integration/attribute-persistence-collision.test.ts
Due: eslint, typescript-check

fix(cli): exclude pre-existing dr trace failures from the v0.1.11 release gate
  cli/CHANGELOG.md
  cli/package.json
Due: none

fix(cli): close 3 more instances of the schema-blind field-munging bug class (v0.1.12)
  CLAUDE.md
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
  cli/src/core/graph-model.ts
  cli/src/core/model.ts
  cli/src/core/reference-registry.ts
  cli/src/export/plantuml-exporter.ts
  cli/src/utils/element-reference-shape.ts
  cli/src/utils/spec-version.ts
  cli/tests/integration/attribute-persistence-collision.test.ts
  cli/tests/unit/core/reference-registry.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
  cli/tests/unit/graph-model.test.ts
  cli/tests/unit/utils/element-reference-shape.test.ts
Due: eslint, typescript-check

Complete work for issue #817
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #817
  cli/tests/helpers/cli-runner.ts
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
Due: eslint

feat(tests): add mock-claude-stream and mock-copilot-stream fixtures for streaming tests
  cli/tests/fixtures/mock-claude-stream.cjs
  cli/tests/fixtures/mock-copilot-stream.cjs
Due: none

Complete work for issue #819
  cli/tests/unit/server/chat-subprocess-lifecycle.test.ts
  cli/tests/unit/server/helpers.ts
Due: eslint

feat(tests): add fixture-based end-to-end streaming tests for chat implementations
  cli/tests/fixtures/mock-claude-stream.cjs
  cli/tests/fixtures/mock-copilot-stream.cjs
  cli/tests/unit/server/chat-streaming-fixture.test.ts
Due: eslint

fix(tests): address code review feedback on streaming fixture tests
  cli/tests/fixtures/mock-claude-stream.cjs
  cli/tests/unit/server/chat-streaming-fixture.test.ts
Due: eslint

Complete work for issue #821
  cli/tests/unit/server-chat-streaming.test.ts
Due: eslint

Complete work for issue #837
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #838
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #839
  cli/tests/unit/server/chat-streaming-fixture.test.ts
Due: eslint

Complete work for issue #840
  cli/tests/fixtures/mock-claude-stream.cjs
  cli/tests/fixtures/mock-copilot-stream.cjs
Due: none
