Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Removed legacy claude context
  integrations/claude_code/reference_sheets/dr-layer-reference.md
  integrations/claude_code/templates/archimate-template.xml
Due: none

feat(dr-architect): add outside-in extraction strategy for blank-slate models
  .github/agents/dr-architect.md
Due: none

fix(dr-architect): address review findings in extraction strategy
  .github/agents/dr-architect.md
Due: none

fix(dr-architect): apply extraction strategy to the correct integration source
  integrations/claude_code/agents/dr-architect.md
Due: none

refactor(dr-architect): restructure agent for clarity, inside-out extraction
  integrations/claude_code/agents/dr-architect.md
Due: none

fix(dr-architect): correct CLI syntax errors found in review
  integrations/claude_code/agents/dr-advisor.md
  integrations/claude_code/agents/dr-architect.md
Due: none

fix(dr-architect): clarify CLI failure handling, remove fallback ambiguity
  integrations/claude_code/agents/dr-architect.md
Due: none

feat(cli): unify model read/write to spec-node format
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/tests/unit/core/element.test.ts
Due: eslint, typescript-check

fix(cli): persist spec-node fields in updateElement(); fix misleading test
  cli/src/core/layer.ts
  cli/tests/unit/core/element.test.ts
Due: eslint, typescript-check

fix(dr-architect,skill): use dr relationship add for cross-layer links
  .github/agents/dr-architect.md
  .github/skills/dr_06_api_layer/SKILL.md
  cli-validation/test-project/baseline/.claude/agents/dr-architect.md
  cli-validation/test-project/baseline/.claude/skills/dr_06_api_layer/SKILL.md
  integrations/claude_code/agents/dr-architect.md
  integrations/claude_code/skills/dr_06_api_layer/SKILL.md
  integrations/github_copilot/agents/dr-architect.md
  integrations/github_copilot/skills/dr_06_api_layer/SKILL.md
Due: none

feat(cli): use snake_case for model YAML filenames
  cli/src/core/model.ts
Due: eslint, typescript-check

feat(cli): use singular filenames for model YAML files
  cli/src/core/model.ts
Due: eslint, typescript-check

Complete work for issue #458
  cli/src/commands/migrate-elements.ts
  cli/src/export/model-migration.ts
  cli/src/utils/element-migration.ts
  cli/tests/integration/changeset-migration-validation.test.ts
  cli/tests/integration/model-migration.test.ts
  cli/tests/unit/test-element-migration.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
  cli/package-lock.json
Due: none

Complete work for issue #458
  cli/src/cli.ts
Due: eslint, typescript-check

Complete work for issue #458
  .mcp.json
  cd
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #459
  cli/tests/integration/upgrade-command.test.ts
Due: eslint

Complete work for issue #459
  cli/src/commands/add.ts
Due: eslint, typescript-check

Complete work for issue #458
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/integration/upgrade-command.test.ts
Due: eslint, typescript-check

Complete work for issue #458
  cli/src/cli.ts
  cli/src/commands/element.ts
  cli/src/core/layer.ts
  cli/src/export/audit-formatters.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/integration/visualization-server.test.ts
Due: eslint, typescript-check

Complete work for issue #459
  .mcp.json
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Update docker-entrypoint-agent.sh to handle corrupted .gitconfig mount gracefully
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #459
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Complete work for issue #460
  cli/src/core/changeset.ts
Due: eslint, typescript-check

Complete work for issue #460
  .mcp.json
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/core/changeset.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staging-area.ts
Due: eslint, typescript-check

Complete work for issue #460
  cli/src/core/changeset.ts
  cli/tests/unit/core/staged-changeset.test.ts
Due: eslint, typescript-check

Enforce spec/dist synchronization in CI and pre-commit hooks
  .github/workflows/cli-tests.yml
  .pre-commit-config.yaml
Due: none

Regenerate spec/browser and spec/neo4j reports
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Regenerate spec/browser and spec/neo4j reports (final sync)
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #460
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
Due: none

Complete work for issue #460
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/neo4j/csv/edges.csv
  spec/neo4j/csv/nodes.csv
Due: none

Fix pre-commit formatting violations: Prettier formatting for JSON and newlines for CSV
  scripts/export-spec-to-neo4j.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/neo4j/import.cypher
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #0
  .mcp.json
  cli/tests/integration/report-command.test.ts
  cli/tests/unit/analysis/data-model-analyzer.test.ts
  cli/tests/unit/core/report-data-model.test.ts
Due: eslint

Complete work for issue #460
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/neo4j/import.cypher
Due: none

Fix spec/dist JSON formatting to match Prettier output
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/scripts/build-spec.ts
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

