Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Fix: Remove trivial result-merger abstraction and unnecessary comment
  cli-validation/test-suite/reporters/result-merger.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Fix: Worker IPC & Lifecycle Issues
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/worker.ts
Due: none

Fix: Result Aggregation & Reporting - Suite Start/Complete Lifecycle
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #0
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Fix: Error Handling & Silent Failures
  cli-validation/test-suite/comparator.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Complete repair cycle for issue #610
  .mcp.json
Due: none

Fix: Fast-Fail Coordination - Read and Use shouldStopAllWorkers Flag
  cli-validation/test-suite/test-runner.ts
Due: none

Fix: Fast-Fail Coordination - Eliminate timer leak and race conditions
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #612
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/tests/worker.test.ts
Due: none

Fix test coverage gaps: Export functions, replace custom assertions, fix empty array handling
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/tests/worker.test.ts
  cli-validation/test-suite/worker.ts
Due: none

Fix: Correct JSDoc comment for Mode 2 snapshot selection logic
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #612
  cli-validation/test-suite/test-cases/changeset.yaml
  cli/src/commands/delete.ts
Due: eslint, typescript-check

Fix: Baseline Integrity Validation - Implement Per-Worker Checksum Validation
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Fix test isolation issue: Run CLI commands from project root instead of model directory
  cli-validation/test-suite/worker.ts
Due: none

Fix testcasesketch filename in test case - use test_case_sketch.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
Due: none

Fix validate command exit code expectations in tests
  cli-validation/test-suite/test-cases/relationship-validation.yaml
Due: none

Fix remaining test cases: JSON schema export and validation output
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Fix test isolation issue by ensuring testing layer directory exists in baseline
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/.gitkeep
  cli/tests/helpers/golden-copy.ts
Due: eslint

Fix: Apply prettier formatting to list command
  cli/src/commands/list.ts
Due: eslint, typescript-check

Fix: Restore missing layer directories in baseline to fix golden copy verification
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/03_security/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/04_application/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/05_technology/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/06_api/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/07_data-model/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/09_ux/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/10_navigation/.gitkeep
  cli-validation/test-project/baseline/documentation-robotics/model/11_apm/.gitkeep
Due: none

Complete repair cycle for issue #613
  cli/src/commands/info.ts
Due: eslint, typescript-check

Fix: Remove dead code and unused definitions in test suite
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/worker.ts
Due: none

Fix: Remove orphaned FastFailSignal type definition
  cli-validation/test-suite/types.ts
Due: none

docs: Document false positive finding for workdirPath investigation
  REVISION_NOTES_599.md
Due: none

Complete work for issue #614
  REVISION_NOTES_599.md
Due: none

Complete work for issue #614
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli/tests/integration/backup-validation-failures.test.ts
Due: eslint

Complete repair cycle for issue #614
  cli/tests/integration/scan.test.ts
Due: eslint

fix: Address worker process lifecycle issues in test-runner.ts
  cli-validation/test-suite/test-runner.ts
Due: none

fix: Address worker process lifecycle issues in worker.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #616
  cli-validation/test-project/ts-cli-1/.baseline-checksums.json
  cli-validation/test-project/ts-cli-2/.baseline-checksums.json
  cli-validation/test-project/ts-cli-3/.baseline-checksums.json
  cli-validation/test-project/ts-cli-4/.baseline-checksums.json
Due: none

fix: Populate baseline test model with elements and relationships
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/goal.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/actor.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/04_application/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/06_api/operation.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/07_data-model/entity.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/column.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/table.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
  cli/scripts/populate-baseline-model.ts
Due: eslint

Complete work for issue #616
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/goal.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/actor.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/process.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/02_business/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/04_application/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/06_api/operation.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/07_data-model/entity.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/column.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/table.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

fix: Buffer worker stderr and validate IPC messages in test-runner
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #618
  cli-validation/test-suite/test-runner.ts
  cli/src/commands/info.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

