Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #413
  cli/scripts/generate-openapi.ts
  cli/src/server/schemas.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

docs: Format ERROR_HANDLING_AUDIT.md with prettier
  ERROR_HANDLING_AUDIT.md
Due: none

fix: Add tsx dependency and fix Bun-specific imports for Node.js compatibility
  cli/package-lock.json
  cli/package.json
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #414
  cli/src/server/server.ts
Due: eslint, typescript-check

fix: Address critical findings from PR code review
  cli/scripts/generate-openapi.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-websocket-advanced.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

refactor: Fix WebSocket test assertions and api-spec.yaml header consistency
  cli/tests/integration/visualization-server-websocket-advanced.test.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #416
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-comprehensive.test.ts
Due: eslint, typescript-check

Complete work for issue #417
  ERROR_HANDLING_AUDIT.md
Due: none

Complete work for issue #417
  ERROR_HANDLING_AUDIT.md
  cli/src/server/server.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #417
  .pre-commit-config.yaml
  CLAUDE.md
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #418
  CODE_REVIEW_LOW_PRIORITY_ISSUES.md
Due: none

Complete work for issue #418
  CODE_REVIEW_LOW_PRIORITY_ISSUES.md
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-api.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete repair cycle for issue #418
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Fix CI validation and release workflow for OpenAPI auto-generation
  .github/workflows/cli-tests.yml
  .github/workflows/release.yml
Due: none

Fix documentation inconsistency: update HAND-MAINTAINED references to AUTO-GENERATED
  docs/ci-cd-integration.md
Due: none

Complete work for issue #420
  cli/tests/unit/scripts/generate-openapi.test.ts
Due: eslint

Complete work for issue #421
  cli/src/server/server.ts
  cli/tests/unit/server/server.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #421
  cli/src/server/server.ts
  cli/tests/unit/server/server.test.ts
Due: eslint, typescript-check

Complete work for issue #422
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-jsonrpc-chat.test.ts
  cli/tests/unit/server/schemas.test.ts
Due: eslint, typescript-check

Complete work for issue #422
  cli/src/server/server.ts
  cli/tests/integration/visualization-server-jsonrpc-chat.test.ts
Due: eslint, typescript-check

Complete work for issue #423
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/integration/visualization-server.test.ts
Due: eslint, typescript-check

Complete work for issue #423
  cli/tests/integration/visualization-server.test.ts
Due: eslint

Complete work for issue #424
  cli/src/server/schemas.ts
  cli/src/server/server.ts
  cli/tests/unit/server-chat-streaming.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #424
  cli/scripts/generate-openapi.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #424
  cli/package-lock.json
  cli/src/server/schemas.ts
  package-lock.json
  package.json
  spec/CHANGELOG.md
Due: eslint, typescript-check

Complete work for issue #424
  cli/package-lock.json
  cli/package.json
Due: none

docs: correct model path in API spec documentation
  docs/api-spec.yaml
Due: none

Documentation cleanup
  docs/ARCHITECTURE.md
  docs/CLI_SCHEMA_DRIVEN_ARCHITECTURE.md
  docs/COLLABORATION_GUIDE.md
  docs/DOCUMENTATION_PLAN.md
  docs/ELEMENT_TYPE_REFERENCE.md
  docs/ERROR_HANDLING_GUIDE.md
  docs/GRAPH_REPRESENTATION_MAPPING.md
  docs/MIGRATION.md
  docs/REPORT_GUIDE.md
  docs/SCHEMA_DRIVEN_DOCS.md
  docs/STAGING_GUIDE.md
  docs/TECHNICAL_DOCUMENTATION_ANALYSIS_ISSUE_330.md
  docs/api/graph-migration-api.md
  docs/ci-cd-integration.md
  docs/ci-cd-workflows.md
  docs/cli-otlp-error-handling.md
  docs/guides/graph-migration.md
  docs/quick-start/01-simple-api.md
  docs/quick-start/02-microservices.md
  docs/quick-start/README.md
  docs/reference/cheat-sheet.md
  docs/telemetry-periodic-flush.md
  docs/troubleshooting/common-errors.md
  docs/visualization-api-annotations-chat.md
Due: none

feat(neo4j): automate CORS server lifecycle in launch script
  spec/neo4j/.gitignore
  spec/neo4j/GUIDE_USAGE.md
  spec/neo4j/README.md
  spec/neo4j/launch-neo4j.sh
  spec/neo4j/stop-neo4j.sh
Due: none

feat(neo4j): add layer-by-layer explorer guide
  spec/neo4j/GUIDE_USAGE.md
  spec/neo4j/README.md
  spec/neo4j/launch-neo4j.sh
  spec/neo4j/layer-explorer-guide.html
Due: none

fix(neo4j): correct layer references in layer-explorer-guide
  spec/neo4j/layer-explorer-guide.html
Due: none

refactor(cli): enhance telemetry detection and improve cross-platform compatibility
  cli/scripts/sync-spec-schemas.sh
  cli/src/commands/version.ts
  cli/src/commands/visualize.ts
  cli/src/telemetry/detect.ts
Due: eslint, typescript-check

Added model for the model maker
  documentation-robotics/model/manifest.yaml
Due: none

feat(cli): install complete specification reference to .dr/spec/ directory
  cli/README.md
  cli/src/commands/upgrade.ts
  cli/src/core/spec-loader.ts
  cli/src/utils/spec-installer.ts
  cli/tests/unit/core/spec-loader.test.ts
  cli/tests/unit/utils/spec-installer.test.ts
Due: eslint, typescript-check

fix(cli): handle missing baseline in integration upgrade conflict detection
  cli/src/integrations/base-manager.ts
  cli/tests/unit/integrations/base-manager.test.ts
Due: eslint, typescript-check

upgraded github dr agent local install version
  .github/.dr-copilot-version
  .github/agents/dr-advisor.md
  .github/agents/dr-architect.md
  .github/skills/dr_01_motivation_layer/SKILL.md
  .github/skills/dr_02_business_layer/SKILL.md
  .github/skills/dr_03_security_layer/SKILL.md
  .github/skills/dr_04_application_layer/SKILL.md
  .github/skills/dr_05_technology_layer/SKILL.md
  .github/skills/dr_06_api_layer/SKILL.md
Due: none

Complete work for issue #432
  cli/src/audit/README.md
  cli/src/audit/analysis/balance-assessor.ts
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/src/audit/analysis/duplicate-detector.ts
  cli/src/audit/analysis/gap-analyzer.ts
  cli/src/audit/graph/connectivity.ts
  cli/src/audit/graph/relationship-graph.ts
  cli/src/audit/index.ts
  cli/src/audit/types.ts
  cli/tests/unit/audit/balance-assessor.test.ts
  cli/tests/unit/audit/connectivity.test.ts
  cli/tests/unit/audit/coverage-analyzer.test.ts
  cli/tests/unit/audit/duplicate-detector.test.ts
  cli/tests/unit/audit/gap-analyzer.test.ts
  cli/tests/unit/audit/relationship-graph.test.ts
Due: eslint, typescript-check

Complete work for issue #432
  cli/src/audit/README.md
  cli/src/audit/analysis/balance-assessor.ts
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/src/audit/analysis/duplicate-detector.ts
  cli/src/audit/analysis/gap-analyzer.ts
  cli/src/audit/analysis/layer-templates.ts
  cli/src/audit/graph/relationship-graph.ts
Due: eslint, typescript-check

Complete work for issue #432
  cli/src/audit/README.md
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

