Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, validate-markdown-specs, check-schemas-up-to-date, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlintrc]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # Python formatting and linting (for CLI)
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        files: ^cli/
        args: [--line-length=100, --target-version=py310]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        files: ^cli/
        args: [--fix]

      # Also run ruff in check mode (no auto-fix) to catch remaining issues
      - id: ruff
        name: ruff-check
        files: ^cli/

  # Python type checking (for CLI) - runs like CI but doesn't block (informational only)
  - repo: local
    hooks:
      - id: mypy-check
        name: mypy (type checking - informational)
        entry: bash -c 'source .venv/bin/activate && cd cli && mypy src/documentation_robotics/ || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        pass_filenames: false
        files: ^cli/src/
        types: [python]

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Markdown validation and schema generation
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --all'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: check-schemas-up-to-date
        name: Check JSON Schemas match markdown
        entry: bash -c 'source .venv/bin/activate && python scripts/generate_schemas.py --check-only'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false
        always_run: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

  # Spell checking (optional - can be enabled later)
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.2.6
  #   hooks:
  #     - id: codespell
  #       args: [--ignore-words=.codespell-ignore]

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    \.venv/|
    venv/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    node_modules/|
    dist/|
    build/|
    \.egg-info/|
    coverage/
  )

Complete work for issue #33
  .claude_prompt_review_cycle_code_reviewer_1766164301.txt
Due: none

Complete work for issue #33
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_33_1766162024_senior_software_engineer_1766162025.txt
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_33_1766163909_senior_software_engineer_1766163911.txt
  cli/src/documentation_robotics/schemas/bundled/09-ux-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/10-navigation-layer.schema.json
  spec/layers/09-ux-layer.md
  spec/layers/10-navigation-layer.md
  spec/schemas/09-ux-layer.schema.json
  spec/schemas/10-navigation-layer.schema.json
  spec/test-fixtures/valid/navigation/with-source-references.yaml
  spec/test-fixtures/valid/ux/with-source-references.yaml
Due: validate-markdown-specs, check-schemas-up-to-date, validate-link-registry

Complete work for issue #31
  spec/test-fixtures/valid/application/with-source-references.yaml
Due: none

Complete repair cycle for issue #30
  .mcp.json
  Dockerfile.agent
  cli/src/documentation_robotics/server/drbot_orchestrator.py
  cli/tests/conftest.py
  cli/tests/unit/server/test_drbot_orchestrator.py
Due: mypy-check

Complete work for issue #32
  cli/src/documentation_robotics/schemas/bundled/06-api-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/07-data-model-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/08-datastore-layer.schema.json
  spec/schemas/06-api-layer.schema.json
  spec/schemas/07-data-model-layer.schema.json
  spec/schemas/08-datastore-layer.schema.json
  spec/test-fixtures/invalid/api/invalid-source-references.yaml
  spec/test-fixtures/invalid/data-model/invalid-source-references.yaml
  spec/test-fixtures/invalid/datastore/invalid-source-references.yaml
  spec/test-fixtures/valid/api/with-source-references.yaml
  spec/test-fixtures/valid/data-model/with-source-references.yaml
  spec/test-fixtures/valid/datastore/with-source-references.yaml
Due: none

Remove Phase references from UX and Navigation layer documentation
  spec/layers/09-ux-layer.md
  spec/layers/10-navigation-layer.md
Due: validate-markdown-specs, check-schemas-up-to-date, validate-link-registry

Complete work for issue #35
  cli/src/documentation_robotics/schemas/link-registry.json
  spec/core/06-cross-layer-reference-registry.md
  spec/schemas/link-registry.json
Due: validate-link-registry

Complete work for issue #38
  cli/src/documentation_robotics/commands/export.py
  cli/src/documentation_robotics/export/source_map_exporter.py
  cli/tests/unit/test_source_map_exporter.py
Due: mypy-check

Complete work for issue #36
  cli/src/documentation_robotics/commands/add.py
  cli/tests/integration/test_add_validation.py
Due: mypy-check

Complete work for issue #37
  cli/src/documentation_robotics/commands/validate.py
  cli/tests/unit/test_source_link_validation.py
Due: mypy-check

Complete repair cycle for issue #39
  cli/tests/integration/test_search_source_filters.py
Due: none

Complete work for issue #37
  cli/src/documentation_robotics/commands/validate.py
  cli/src/documentation_robotics/validators/link_validator.py
  cli/tests/unit/test_source_link_validation.py
Due: mypy-check

Complete work for issue #39
  IMPLEMENTATION_SUMMARY_PHASE_10.md
  cli/src/documentation_robotics/commands/links.py
  cli/src/documentation_robotics/commands/search.py
  cli/src/documentation_robotics/utils/source_ref_utils.py
  cli/src/documentation_robotics/utils/staleness_checker.py
  cli/tests/commands/test_search_source_filters.py
  cli/tests/utils/__init__.py
  cli/tests/utils/test_source_ref_utils.py
  cli/tests/utils/test_staleness_checker.py
Due: mypy-check

Complete work for issue #39
  cli/src/documentation_robotics/commands/links.py
  cli/src/documentation_robotics/utils/source_ref_utils.py
  cli/src/documentation_robotics/utils/staleness_checker.py
  cli/tests/conftest.py
  cli/tests/integration/test_search_source_filters.py
  cli/tests/utils/test_source_ref_utils.py
  cli/tests/utils/test_staleness_checker.py
Due: mypy-check

Complete work for issue #38
  cli/src/documentation_robotics/commands/export.py
  cli/src/documentation_robotics/export/export_manager.py
  cli/src/documentation_robotics/export/source_map_exporter.py
  cli/tests/integration/test_export_command.py
  cli/tests/unit/test_source_map_exporter.py
Due: mypy-check

Complete work for issue #34
  cli/src/documentation_robotics/schemas/bundled/11-apm-observability-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/12-testing-layer.schema.json
  spec/layers/11-apm-observability-layer.md
  spec/layers/12-testing-layer.md
  spec/schemas/11-apm-observability-layer.schema.json
  spec/schemas/12-testing-layer.schema.json
Due: validate-markdown-specs, check-schemas-up-to-date, validate-link-registry

Cleanup
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_30_1766147556_senior_software_engineer_1766147557.txt
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_33_1766162024_senior_software_engineer_1766162025.txt
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_44_1766091769_senior_software_engineer_1766091769.txt
  IMPLEMENTATION_SUMMARY_PHASE_10.md
Due: none

Cleanup
  .claude/commands/dr-release-prep.md
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_44_1766091769_senior_software_engineer_1766091769.txt
  cli/CHANGELOG.md
  cli/docs/DRBOT_README.md
  cli/docs/claude-code-improvements-for-developers.md
  cli/docs/claude-code-raw-todo.md
  cli/src/documentation_robotics/schemas/bundled/01-motivation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/02-business-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/03-security-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/04-application-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/05-technology-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/06-api-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/07-data-model-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/08-datastore-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/09-ux-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/10-navigation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/11-apm-observability-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/12-testing-layer.schema.json
  integrations/claude_code/README.md
  integrations/claude_code/USER_GUIDE.md
  integrations/claude_code/reference_sheets/tier1-essentials.md
  integrations/claude_code/reference_sheets/tier2-developer-guide.md
  integrations/claude_code/skills/CHANGESET_REVIEWER/SKILL.md
  integrations/claude_code/skills/LINK_VALIDATION/SKILL.md
  integrations/claude_code/templates/README.md
  integrations/github_copilot/agents/dr-architect.md
  plans/relationship-schema-migration.md
Due: none

- visualize auth fix - updated copilot integration to use the claude integration agent and skills as those seem to be supported
  cli/src/documentation_robotics/server/visualization_server.py
  cli/tests/unit/server/test_visualization_server.py
  integrations/claude_code/agents/dr-architect.md
  integrations/github_copilot/agents/dr-advisor.md
  integrations/github_copilot/agents/dr-architect.md
  integrations/github_copilot/knowledge/tier1-essentials.md
  integrations/github_copilot/knowledge/tier2-developer-guide.md
  integrations/github_copilot/knowledge/tier3-complete-reference.md
  integrations/github_copilot/skills/dr_01_motivation_layer/SKILL.md
  integrations/github_copilot/skills/dr_02_business_layer/SKILL.md
  integrations/github_copilot/skills/dr_03_security_layer/SKILL.md
  integrations/github_copilot/skills/dr_04_application_layer/SKILL.md
  integrations/github_copilot/skills/dr_05_technology_layer/SKILL.md
  integrations/github_copilot/skills/dr_06_api_layer/SKILL.md
  integrations/github_copilot/skills/dr_07_data_model_layer/SKILL.md
  integrations/github_copilot/skills/dr_08_dataset_layer/SKILL.md
  integrations/github_copilot/skills/dr_09_ux_layer/SKILL.md
  integrations/github_copilot/skills/dr_10_navigation_layer/SKILL.md
  integrations/github_copilot/skills/dr_11_apm_layer/SKILL.md
  integrations/github_copilot/skills/dr_12_testing_layer/SKILL.md
  integrations/github_copilot/skills/dr_changeset_reviewer/SKILL.md
  integrations/github_copilot/skills/dr_layer_02_business/SKILL.md
  integrations/github_copilot/skills/dr_layer_04_app/SKILL.md
Due: mypy-check

linting and test fixes
  .mcp.json
  cli/src/documentation_robotics/commands/search.py
  cli/src/documentation_robotics/commands/validate.py
  cli/src/documentation_robotics/utils/staleness_checker.py
  cli/src/documentation_robotics/validators/link_validator.py
  cli/tests/conftest.py
  cli/tests/integration/test_add_validation.py
  cli/tests/integration/test_full_workflow.py
  cli/tests/integration/test_search_source_filters.py
  cli/tests/unit/test_source_link_validation.py
  cli/tests/unit/test_source_map_exporter.py
  cli/tests/unit/test_source_reference_schema.py
  cli/tests/utils/test_source_ref_utils.py
  cli/tests/utils/test_staleness_checker.py
  spec/core/06-cross-layer-reference-registry.md
Due: mypy-check

Fix catastrophic test performance regression
  cli/tests/conftest.py
Due: none

Add FR-2 Phase 4 labels to UX and Navigation source references
  spec/layers/09-ux-layer.md
  spec/layers/10-navigation-layer.md
Due: validate-markdown-specs, check-schemas-up-to-date, validate-link-registry

integrated viewer v0.2.0
  cli/pyproject.toml
  cli/src/documentation_robotics/schemas/bundled/01-motivation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/02-business-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/03-security-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/04-application-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/05-technology-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/06-api-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/07-data-model-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/08-datastore-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/09-ux-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/10-navigation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/11-apm-observability-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/12-testing-layer.schema.json
  cli/src/documentation_robotics/schemas/link-registry.json
  cli/src/documentation_robotics/server/visualization_server.py
  cli/tests/integration/test_full_workflow.py
  cli/tests/unit/server/test_visualization_server.py
  scripts/bundle_viewer.py
Due: mypy-check

Fix mypy type error: add missing LinkInstance parameters
  cli/src/documentation_robotics/validators/link_validator.py
Due: mypy-check

Fixes for ci, un-ignored bundled files for cli
  cli/.gitignore
  cli/src/documentation_robotics/schemas/bundled/.manifest.json
  cli/src/documentation_robotics/schemas/bundled/01-motivation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/02-business-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/03-security-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/04-application-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/05-technology-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/06-api-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/07-data-model-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/08-datastore-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/09-ux-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/10-navigation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/11-apm-observability-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/12-testing-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/common/predicates.schema.json
  cli/src/documentation_robotics/schemas/bundled/common/relationships.schema.json
  cli/src/documentation_robotics/schemas/bundled/common/source-references.schema.json
  cli/src/documentation_robotics/schemas/bundled/relationship-catalog.json
  cli/src/documentation_robotics/schemas/link-registry.json
Due: none

Work on copilot integration, updated bundled viewer version
  .github/.dr-copilot-version
  .github/agents/dr-advisor.md
  .github/agents/dr-architect.md
  .github/skills/dr_01_motivation_layer/SKILL.md
  .github/skills/dr_02_business_layer/SKILL.md
  .github/skills/dr_03_security_layer/SKILL.md
  .github/skills/dr_04_application_layer/SKILL.md
  .github/skills/dr_05_technology_layer/SKILL.md
  .github/skills/dr_06_api_layer/SKILL.md
  .github/skills/dr_07_data_model_layer/SKILL.md
  .github/skills/dr_08_dataset_layer/SKILL.md
  .github/skills/dr_09_ux_layer/SKILL.md
  .github/skills/dr_10_navigation_layer/SKILL.md
  .github/skills/dr_11_apm_layer/SKILL.md
  .github/skills/dr_12_testing_layer/SKILL.md
  .github/skills/dr_changeset_reviewer/SKILL.md
  .github/skills/dr_layer_02_business/SKILL.md
  .github/skills/dr_layer_04_app/SKILL.md
  cli/pyproject.toml
  cli/src/documentation_robotics/commands/copilot.py
  cli/tests/commands/test_copilot.py
  scripts/bundle_viewer.py
Due: mypy-check

Latest fixes
  cli/src/documentation_robotics/schemas/bundled/.manifest.json
  cli/src/documentation_robotics/schemas/bundled/01-motivation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/02-business-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/03-security-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/04-application-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/05-technology-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/06-api-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/07-data-model-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/08-datastore-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/09-ux-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/10-navigation-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/11-apm-observability-layer.schema.json
  cli/src/documentation_robotics/schemas/bundled/12-testing-layer.schema.json
  cli/src/documentation_robotics/schemas/link-registry.json
Due: none

Complete work for issue #69
  cli-bun/.gitignore
  cli-bun/IMPLEMENTATION_SUMMARY.md
  cli-bun/PHASE1-CHECKLIST.md
  cli-bun/README.md
  cli-bun/biome.json
  cli-bun/package.json
  cli-bun/src/cli.ts
  cli-bun/src/core/element.ts
  cli-bun/src/core/layer.ts
  cli-bun/src/core/manifest.ts
  cli-bun/src/core/model.ts
  cli-bun/src/schemas/bundled/01-motivation-layer.schema.json
  cli-bun/src/schemas/bundled/02-business-layer.schema.json
  cli-bun/src/schemas/bundled/03-security-layer.schema.json
  cli-bun/src/schemas/bundled/04-application-layer.schema.json
  cli-bun/src/schemas/bundled/05-technology-layer.schema.json
  cli-bun/src/schemas/bundled/06-api-layer.schema.json
  cli-bun/src/schemas/bundled/07-data-model-layer.schema.json
  cli-bun/src/schemas/bundled/08-datastore-layer.schema.json
  cli-bun/src/schemas/bundled/09-ux-layer.schema.json
  cli-bun/src/schemas/bundled/10-navigation-layer.schema.json
  cli-bun/src/schemas/bundled/11-apm-observability-layer.schema.json
  cli-bun/src/schemas/bundled/12-testing-layer.schema.json
  cli-bun/src/schemas/bundled/common/layer-extensions.schema.json
  cli-bun/src/schemas/bundled/common/predicates.schema.json
  cli-bun/src/schemas/bundled/common/relationships.schema.json
  cli-bun/src/schemas/bundled/common/source-references.schema.json
  cli-bun/src/schemas/bundled/link-registry.json
  cli-bun/src/schemas/bundled/link-registry.schema.json
  cli-bun/src/schemas/bundled/relationship-catalog.json
  cli-bun/src/schemas/bundled/relationship-type.schema.json
  cli-bun/src/types/index.ts
  cli-bun/src/utils/file-io.ts
  cli-bun/tests/unit/core/element.integration.test.js
  cli-bun/tests/unit/core/element.test.ts
  cli-bun/tests/unit/core/layer.test.ts
  cli-bun/tests/unit/core/manifest.test.ts
  cli-bun/tests/unit/core/model.test.ts
  cli-bun/tests/unit/utils/file-io.test.ts
  cli-bun/tsconfig.json
Due: none

Complete work for issue #69
  cli-bun/IMPLEMENTATION_SUMMARY.md
  cli-bun/PHASE1-CHECKLIST.md
  cli-bun/README.md
  cli-bun/package.json
  cli-bun/src/cli.ts
  cli-bun/src/core/manifest.ts
  cli-bun/src/core/model.ts
  cli-bun/src/core/reference-registry.ts
  cli-bun/src/core/relationship-registry.ts
  cli-bun/tests/unit/core/manifest.test.ts
  cli-bun/tests/unit/core/reference-registry.test.ts
  cli-bun/tests/unit/core/relationship-registry.test.ts
Due: none

Complete work for issue #70
  cli-bun/ACCEPTANCE_CRITERIA.md
  cli-bun/PHASE2_VALIDATION_SUMMARY.md
  cli-bun/package.json
  cli-bun/src/validators/index.ts
  cli-bun/src/validators/naming-validator.ts
  cli-bun/src/validators/reference-validator.ts
  cli-bun/src/validators/schema-validator.ts
  cli-bun/src/validators/semantic-validator.ts
  cli-bun/src/validators/types.ts
  cli-bun/src/validators/validator.ts
  cli-bun/tests/unit/validators/naming-validator.test.ts
  cli-bun/tests/unit/validators/reference-validator.test.ts
  cli-bun/tests/unit/validators/semantic-validator.test.ts
  cli-bun/tests/unit/validators/validation-result.test.ts
  cli-bun/tests/unit/validators/validator.test.ts
Due: none

Complete work for issue #70
  cli-bun/ACCEPTANCE_CRITERIA.md
  cli-bun/PHASE2_VALIDATION_SUMMARY.md
  cli-bun/src/validators/naming-validator.ts
  cli-bun/src/validators/reference-validator.ts
  cli-bun/src/validators/semantic-validator.ts
  cli-bun/src/validators/types.ts
  cli-bun/tests/unit/validators/naming-validator.test.ts
  cli-bun/tests/unit/validators/reference-validator.test.ts
  cli-bun/tests/unit/validators/semantic-validator.test.ts
Due: none

Complete work for issue #70
  cli-bun/tests/unit/core/element.integration.test.js
  cli-bun/tests/unit/validators/naming-validator.test.ts
Due: none

Complete repair cycle for issue #70
  cli/pyproject.toml
  cli/src/documentation_robotics/server/file_monitor.py
Due: mypy-check

Complete work for issue #71
  cli-bun/package.json
  cli-bun/src/cli.ts
  cli-bun/src/commands/add.ts
  cli-bun/src/commands/delete.ts
  cli-bun/src/commands/element.ts
  cli-bun/src/commands/init.ts
  cli-bun/src/commands/list.ts
  cli-bun/src/commands/relationship.ts
  cli-bun/src/commands/search.ts
  cli-bun/src/commands/show.ts
  cli-bun/src/commands/update.ts
  cli-bun/src/commands/validate.ts
  cli-bun/src/core/element.ts
  cli-bun/src/core/layer.ts
  cli-bun/src/core/manifest.ts
  cli-bun/src/core/model.ts
  cli-bun/src/core/reference-registry.ts
  cli-bun/src/core/relationship-registry.ts
  cli-bun/src/utils/file-io.ts
  cli-bun/src/validators/schema-validator.ts
  cli-bun/tests/integration/commands.test.js
  cli-bun/tests/integration/commands.test.ts
  cli-bun/tests/unit/core/element.test.js
  cli-bun/tests/unit/core/layer.test.js
  cli-bun/tests/unit/core/manifest.test.js
  cli-bun/tests/unit/core/model.test.js
  cli-bun/tests/unit/core/reference-registry.test.js
  cli-bun/tests/unit/core/relationship-registry.test.js
  cli-bun/tests/unit/utils/file-io.test.js
  cli-bun/tests/unit/validators/naming-validator.test.js
  cli-bun/tests/unit/validators/reference-validator.test.js
  cli-bun/tests/unit/validators/semantic-validator.test.js
  cli-bun/tests/unit/validators/validation-result.test.js
  cli-bun/tests/unit/validators/validator.test.js
Due: none

Complete work for issue #71
  cli-bun/src/cli.ts
  cli-bun/src/commands/delete.ts
  cli-bun/src/commands/element.ts
  cli-bun/src/commands/info.ts
  cli-bun/src/commands/init.ts
  cli-bun/src/commands/relationship.ts
  cli-bun/src/commands/show.ts
  cli-bun/src/commands/update.ts
  cli-bun/src/core/model.ts
  cli-bun/src/utils/element-utils.ts
  cli-bun/src/utils/globals.ts
  cli-bun/src/validators/schema-validator.ts
  cli-bun/tests/integration/commands.test.ts
Due: none

Complete repair cycle for issue #71
  cli/src/documentation_robotics/server/file_monitor.py
Due: mypy-check

Complete work for issue #72
  PHASE4_ACCEPTANCE_CRITERIA.md
  PHASE4_COMMANDS_REFERENCE.md
  PHASE4_FILE_MANIFEST.txt
  PHASE4_IMPLEMENTATION_SUMMARY.md
  cli-bun/package.json
  cli-bun/src/commands/project.ts
  cli-bun/src/commands/trace.ts
  cli-bun/src/core/dependency-tracker.ts
  cli-bun/src/core/projection-engine.ts
  cli-bun/src/core/reference-registry.ts
  cli-bun/tests/integration/trace-project-commands.test.ts
  cli-bun/tests/unit/core/dependency-tracker.test.ts
  cli-bun/tests/unit/core/projection-engine.test.ts
  cli-bun/tests/unit/core/reference-registry.test.ts
Due: none

Complete work for issue #72
  cli-bun/src/cli.ts
  cli-bun/src/core/dependency-tracker.ts
  cli-bun/src/core/projection-engine.ts
  cli-bun/tests/unit/core/dependency-tracker.test.ts
  cli-bun/tests/unit/core/projection-engine.test.ts
Due: none

Complete work for issue #73
  cli-bun/src/cli.ts
  cli-bun/src/commands/export.ts
  cli-bun/src/export/archimate-exporter.ts
  cli-bun/src/export/export-manager.ts
  cli-bun/src/export/graphml-exporter.ts
  cli-bun/src/export/index.ts
  cli-bun/src/export/json-schema-exporter.ts
  cli-bun/src/export/markdown-exporter.ts
  cli-bun/src/export/openapi-exporter.ts
  cli-bun/src/export/plantuml-exporter.ts
  cli-bun/src/export/types.ts
  cli-bun/tests/integration/export-command.test.ts
  cli-bun/tests/unit/export/archimate-exporter.test.ts
  cli-bun/tests/unit/export/export-manager.test.ts
  cli-bun/tests/unit/export/markdown-exporter.test.ts
  cli-bun/tests/unit/export/plantuml-exporter.test.ts
Due: none
