Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #538
  .mcp.json
  TELEMETRY_CODE_REVIEW.md
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/unit/migration-registry.test.ts
Due: eslint

Complete work for issue #0
  .mcp.json
  docs/api-spec.yaml
Due: none

Complete work for issue #0
  .github/workflows/cli-tests.yml
  .github/workflows/ts-cli-regression.yml
Due: none

Fix invalid bun test reporter options in CI workflow
  .github/workflows/cli-tests.yml
Due: none

Remove non-functional test-aggregate job from CI workflow
  .github/workflows/cli-tests.yml
Due: none

Fix CI timeout by improving snapshot ID generation and reducing test delays
  cli/src/audit/snapshot-storage.ts
  cli/tests/integration/audit-snapshots.test.ts
Due: eslint, typescript-check

Fix snapshot ID regex patterns for millisecond precision format
  cli/src/audit/snapshot-storage.ts
Due: eslint, typescript-check

Update snapshot ID regex pattern in test to match millisecond precision format
  cli/tests/integration/audit-differential.test.ts
Due: eslint

Complete work for issue #538
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #538
  .mcp.json
  TELEMETRY_CODE_REVIEW.md
  docs/api-spec.yaml
Due: none

Complete work for issue #539
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan-command.test.ts
Due: eslint, typescript-check

Complete work for issue #539
  cli/src/commands/scan.ts
  cli/tests/integration/scan-command.test.ts
Due: eslint, typescript-check

Address code review feedback (iteration 4)
  TELEMETRY_CODE_REVIEW.md
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #539
  cli/scripts/sync-spec-schemas.sh
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

Complete work for issue #540
  cli/src/core/changeset.ts
Due: eslint, typescript-check

Complete work for issue #540
  cli/src/commands/changeset.ts
  cli/src/core/changeset.ts
Due: eslint, typescript-check

Complete work for issue #540
  .dr-config.README.md
  .dr-config.yaml
  cli/CONTRIBUTING.md
  cli/docs/COMMAND_LIFECYCLE.md
  cli/docs/TEST-INSTRUMENTATION.md
  cli/otel-send-config.example.yml
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
Due: none

Complete work for issue #540
  cli/tests/integration/changeset-rollback.test.ts
  cli/tests/integration/scan-command.test.ts
Due: eslint

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
Due: none

Complete work for issue #540
  cli/tests/unit/export/archimate-exporter.test.ts
  cli/tests/unit/export/openapi-exporter.test.ts
  cli/tests/unit/node-types.test.ts
Due: eslint

Revamp CI pipeline: replace full test suite with targeted smoke tests
  .github/workflows/cli-tests.yml
  CLAUDE.md
  cli/package.json
  cli/scripts/README.md
  cli/scripts/run-parallel-tests.sh
  cli/scripts/run-smoke-tests.sh
  cli/tests/ci-smoke.manifest.ts
Due: eslint

Fix changeset type system: use Change["type"] indexed access
  cli/src/core/changeset.ts
Due: eslint, typescript-check

Complete work for issue #540
  docs/api-spec.yaml
Due: none

Apply prettier formatting to docs/api-spec.yaml
  docs/api-spec.yaml
Due: none

Fix template rendering error handling and consolidate extractLayerFromId
  cli/src/scan/pattern-loader.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #541
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #542
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #542
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #543
  cli/src/commands/scan.ts
  cli/tests/integration/scan.test.ts
  cli/tests/unit/scan/command.test.ts
  cli/tests/unit/scan/config.test.ts
Due: eslint, typescript-check

Complete work for issue #543
  cli/tests/integration/scan.test.ts
Due: eslint

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
  cli/bunfig.toml
  cli/tests/helpers/golden-copy.ts
Due: eslint

Complete work for issue #0
  cli/tests/helpers/golden-copy.ts
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/integration/audit-diff.test.ts
  cli/tests/integration/audit-differential.test.ts
  cli/tests/integration/audit-populated.test.ts
  cli/tests/integration/audit-snapshots.test.ts
  cli/tests/integration/audit.test.ts
  cli/tests/integration/backup-validation-failures.test.ts
  cli/tests/integration/changeset-concurrent.test.ts
  cli/tests/integration/changeset-new-layer-commit.test.ts
  cli/tests/integration/changeset-rollback.test.ts
  cli/tests/integration/changeset-staged-visibility.test.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/element-id-persistence.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
  cli/tests/integration/regression-naming-edge-cases.test.ts
  cli/tests/integration/regression-type-normalization.test.ts
  cli/tests/integration/schema-validator-consistency.test.ts
  cli/tests/integration/trace-project-commands.test.ts
Due: eslint

Complete work for issue #543
  cli/tests/integration/scan.test.ts
  cli/tests/setup.ts
Due: eslint

Complete work for issue #545
  cli/src/scan/pattern-loader.ts
  cli/src/scan/patterns/security/passport.yaml
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #545
  .mcp.json
Due: none

Fix MCP Client error handling and encapsulation issues (#546)
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
  cli/tests/unit/scan/mcp-client.test.ts
Due: eslint, typescript-check

Complete work for issue #546
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

