Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #947
  cli/src/utils/ansi-suppressor.ts
Due: eslint, typescript-check

Complete work for issue #948
  cli/src/core/farm-manifest.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

fix: Farm manifest validation - type checks and key/name consistency
  cli/src/core/farm-manifest.ts
Due: eslint, typescript-check

Complete work for issue #949
  cli/src/mcp/http-transport.ts
Due: eslint, typescript-check

test: Add comprehensive Farm Sync test coverage for untested paths
  cli/tests/integration/farm-sync.test.ts
Due: eslint

test: Fix Farm Sync test issues - consolidate duplicates, fix assertions, reorganize describe blocks
  cli/tests/integration/farm-sync.test.ts
Due: eslint

test: Add missing assertion guard in parallel processing test
  cli/tests/integration/farm-sync.test.ts
Due: eslint

Complete repair cycle for issue #950
  cli/tests/integration/farm-sync.test.ts
Due: eslint

chore(release): bump CLI to v0.2.0
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
Due: none

chore(release): bump CLI to v0.2.0 (#951)
  cli/CHANGELOG.md
  cli/package-lock.json
  cli/package.json
Due: none

[Fix] Bound Model.resolveModelPaths upward walk to the repo root
  cli/src/core/model.ts
  cli/tests/unit/core/model.test.ts
Due: eslint, typescript-check

[Fix] Bound Model.resolveModelPaths upward walk to the repo root (#952)
  cli/src/core/model.ts
  cli/tests/unit/core/model.test.ts
Due: eslint, typescript-check

Complete work for issue #955
  cli/src/analyzers/base-analyzer.ts
Due: eslint, typescript-check

Add @types/express to CLI devDependencies
  cli/package-lock.json
  cli/package.json
Due: none

Complete work for issue #955
  cli/package-lock.json
  cli/package.json
  cli/src/integrations/hash-utils.ts
  cli/tests/integration/farm-sync.test.ts
  cli/tsconfig.json
Due: eslint, typescript-check

Fix entrypoint path and add build:spec step for CLI schema compilation
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #956
  cbm-analyzer-phase2-implementation-plan.md
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Remove implementation plan artifact from repository
  cbm-analyzer-phase2-implementation-plan.md
Due: none

Add integration tests for divergent codebaseRoot path
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
Due: eslint

Fix failing tests and remove dead code in codebaseRoot tests
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
Due: eslint

Fix: Mock StdioClient methods in codebaseRoot non-git test
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
Due: eslint

Complete work for issue #957
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Complete work for issue #958
  cli/tests/unit/analyzers/cbm-analyzer-dual-root.test.ts
Due: eslint

Fix: Address code review feedback for cbm-analyzer-dual-root test file
  cli/tests/unit/analyzers/cbm-analyzer-dual-root.test.ts
Due: eslint

Fix: Mock analyzer.status in dual-root tests to prevent detection check failure
  cli/tests/unit/analyzers/cbm-analyzer-dual-root.test.ts
Due: eslint

Docs: Phase 5 - Update analyzer documentation for dual-root behavior
  integrations/claude_code/commands/dr-analyzer.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-verify.md
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/QUICK_START.md
  integrations/claude_code/docs/README.md
Due: none

Fix: Correct resolution priority documentation and clarify --json flag behavior
  integrations/claude_code/commands/dr-analyzer.md
  integrations/claude_code/docs/README.md
Due: none

Complete work for issue #959
  integrations/claude_code/commands/dr-analyzer.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/QUICK_START.md
  integrations/claude_code/docs/README.md
Due: none

Complete repair cycle for issue #959
  cli/tests/unit/integrations/claude-bundle.test.ts
Due: eslint

fix: skip the CLI force-rebuild in the agent entrypoint when the workspace is read-only
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #966
  cli/src/core/model.ts
Due: eslint, typescript-check

Fix: Preserve error cause chain in changeset loading error handling
  cli/src/core/model.ts
  cli/tests/unit/core/model.test.ts
  spec/analyzers/test-duplicate-edges/analyzer.json
  spec/analyzers/test-duplicate-edges/edge-mapping.json
  spec/analyzers/test-duplicate-edges/extraction-heuristics.json
  spec/analyzers/test-duplicate-edges/node-mapping.json
Due: eslint, typescript-check

Complete work for issue #966
  spec/analyzers/test-duplicate-edges/analyzer.json
  spec/analyzers/test-duplicate-edges/edge-mapping.json
  spec/analyzers/test-duplicate-edges/extraction-heuristics.json
  spec/analyzers/test-duplicate-edges/node-mapping.json
Due: none

Complete work for issue #967
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Fix: DR_MODEL_PATH environment variable still ignored in 3 missed call sites
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Complete work for issue #968
  cli/src/utils/ansi-suppressor.ts
  cli/src/utils/errors.ts
Due: eslint, typescript-check

Fix: Ensure handleInfo outputs to stderr in JSON mode
  cli/src/utils/ansi-suppressor.ts
  cli/src/utils/errors.ts
  cli/tests/unit/error-handling-json.test.ts
Due: eslint, typescript-check

Fix: Farm Module Robustness - Handle Corrupt Sync State and Improve Type Safety
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
Due: eslint, typescript-check

fix: Add ProjectStatus type and improve sync state error handling
  cli/src/commands/farm.ts
Due: eslint, typescript-check

Complete work for issue #970
  cli/src/commands/farm.ts
  cli/tests/integration/farm-commands-json.test.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

