Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Fix: Only select installed analyzers in discover logic
  cli/src/commands/discover-logic.ts
Due: eslint, typescript-check

Fix: Address silent error handling in analyzers
  cli/src/analyzers/call-graph-utils.ts
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Complete work for issue #740
  cli/src/analyzers/types.ts
  cli/src/analyzers/verify-ignore.ts
Due: eslint, typescript-check

Complete repair cycle for issue #740
  cli/tests/integration/analyzer-commands.test.ts
Due: eslint

Complete work for issue #741
  cli/src/commands/analyzer.ts
  cli/tests/integration/analyzers/subcommands.test.ts
Due: eslint, typescript-check

Complete work for issue #742
  cli/tests/integration/analyzer-commands.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/heuristic-utils.test.ts
  cli/tests/unit/analyzers/verify-engine.test.ts
Due: eslint

Fix test coverage gaps: address reviewer feedback on cbm-analyzer tests
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/integration/analyzer-commands.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
Due: eslint, typescript-check

Complete work for issue #742
  cli/src/analyzers/verify-engine.ts
  cli/tests/unit/analyzers/verify-engine.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #742
  cli/tests/integration/analyzer-commands.test.ts
Due: eslint

[Feature] CLI: full analyzer subcommands + verify with changeset awareness (#723)
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
  cli/package.json
  cli/src/analyzers/base-analyzer.ts
  cli/src/analyzers/call-graph-utils.ts
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/heuristic-utils.ts
  cli/src/analyzers/session-state.ts
  cli/src/analyzers/types.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/analyzers/verify-ignore.ts
  cli/src/commands/analyzer.ts
  cli/src/commands/discover-logic.ts
  cli/src/export/verify-formatters.ts
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/tests/integration/analyzer-commands.test.ts
  cli/tests/integration/analyzers/subcommands.test.ts
  cli/tests/integration/analyzers/verify-engine.test.ts
  cli/tests/integration/analyzers/verify.test.ts
  cli/tests/unit/analyzers/callers-callees.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/heuristic-utils.test.ts
  cli/tests/unit/analyzers/services-datastores.test.ts
  cli/tests/unit/analyzers/session-state.test.ts
  cli/tests/unit/analyzers/verify-engine.test.ts
  cli/tests/unit/analyzers/verify-ignore.test.ts
  cli/tests/unit/export/archimate-exporter.test.ts
  cli/tests/unit/export/openapi-exporter.test.ts
  cli/tests/unit/export/verify-formatters.test.ts
  spec/analyzers/cbm/extraction-heuristics.json
  spec/dist/analyzers/cbm.json
Due: eslint, typescript-check

Complete work for issue #744
  integrations/claude_code/agents/dr-extractor.md
Due: none

Clarify source_start_line role: navigation context, not CLI parameter
  integrations/claude_code/agents/dr-extractor.md
Due: none

Complete repair cycle for issue #744
  integrations/claude_code/agents/dr-extractor.md
Due: none

Complete work for issue #745
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Fix dr_codebase_memory skill: correct analyzer verify flag and services confidence level
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Fix formatting issues in dr_codebase_memory skill
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Configure CI to trigger on integrations directory changes
  .github/workflows/cli-tests.yml
Due: none

Complete repair cycle for issue #745
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Create dr-verify command for Phase 3 of issue #655
  integrations/claude_code/commands/dr-verify.md
Due: none

Fix dr-verify command issues from review feedback
  integrations/claude_code/commands/dr-verify.md
Due: none

Fix dr-verify command markdown backtick nesting and model-only YAML format
  integrations/claude_code/commands/dr-verify.md
Due: none

Fix markdown MD032 violations in dr-verify command by adding blank lines around lists
  integrations/claude_code/commands/dr-verify.md
Due: none

Phase 4: Augment dr-map.md with analyzer integration
  integrations/claude_code/commands/dr-map.md
Due: none

Complete work for issue #747
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-verify.md
Due: none

Complete work for issue #748
  PHASE_5_VALIDATION.md
  cli/tests/integration/claude-command.test.ts
Due: eslint

Address review feedback on Phase 5 tests and documentation
  PHASE_5_VALIDATION.md
  cli/tests/integration/claude-command.test.ts
Due: eslint

Complete work for issue #748
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Complete work for issue #750
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
  cli/tests/unit/integrations/claude-manager.test.ts
  cli/tests/unit/integrations/copilot-manager.test.ts
Due: eslint, typescript-check

Complete work for issue #750
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Complete work for issue #750
  cli/tests/unit/integrations/claude-manager.test.ts
  cli/tests/unit/integrations/copilot-manager.test.ts
Due: eslint

Fix SKILL.md Documentation Accuracy for dr_codebase_memory
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Complete repair cycle for issue #751
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Complete work for issue #752
  integrations/claude_code/commands/dr-verify.md
Due: none

Fix Scenario 4 condition to cover both fresh and stale indices
  integrations/claude_code/commands/dr-verify.md
Due: none

Fix CLI Command and Flag Deviations - Support --json Flag and Update Documentation
  cli/src/commands/analyzer.ts
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-verify.md
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: eslint, typescript-check

Complete work for issue #753
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Fix dr-map.md Analyzer Integration Issues
  integrations/claude_code/commands/dr-map.md
Due: none

Add comprehensive end-to-end walkthrough documentation for DR workflow
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/QUICK_START.md
  integrations/claude_code/docs/README.md
Due: none

Fix documentation accuracy issues for end-to-end walkthrough
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/QUICK_START.md
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

