Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #370
  .claude_prompt_6abf295d-22b7-48f5-8fc9-e0e105f36e0c.txt
  PHASE_4_USAGE_GUIDE.md
Due: none

Revise Phase 4 implementation: consolidate utilities and fix naming conventions
  .claude_prompt_a24788ab-b4fa-44c3-811c-06ee8140098b.txt
  PHASE_4_IMPLEMENTATION_SUMMARY.md
  PHASE_4_USAGE_GUIDE.md
  cli/src/commands/export.ts
  cli/src/export/index.ts
  cli/src/export/markdown-exporter.ts
  cli/src/export/markdown-generator.ts
  cli/src/export/markdown-utils.ts
  cli/src/export/mermaid-markdown-exporter.ts
  cli/tests/integration/mermaid-markdown-export.test.ts
  cli/tests/unit/export/mermaid-markdown-exporter.test.ts
Due: eslint, typescript-check

Complete work for issue #370
  .claude_prompt_a24788ab-b4fa-44c3-811c-06ee8140098b.txt
Due: none

fix: consolidate layer description in MarkdownExporter to use shared utility
  .claude_prompt_3746794f-b18d-4b3e-9961-887f50ed0f1c.txt
  cli/src/export/markdown-exporter.ts
Due: eslint, typescript-check

Remove leftover agent prompt file
  .claude_prompt_3746794f-b18d-4b3e-9961-887f50ed0f1c.txt
Due: none

Complete work for issue #370
  package.json
  scripts/generate-layer-reports.ts
  spec/browser/.gitignore
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  package-lock.json
  package.json
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  spec/browser/.gitignore
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  .pre-commit-config.yaml
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  .github/workflows/validate-docs.yml
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Remove auto-generated layer reports from version control
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Complete work for issue #370
  cli/src/utils/layer-name-formatter.ts
  cli/src/validators/schema-validator.ts
Due: eslint, typescript-check

Complete repair cycle for issue #370
  cli/tests/unit/utils/layer-name-formatter.test.ts
Due: eslint

Complete work for issue #371
  cli/README.md
  docs/BUILD_SYSTEM.md
  docs/GENERATOR_MAINTENANCE_GUIDE.md
  docs/GENERATOR_SCRIPTS_GUIDE.md
  docs/PHASE_5_DOCUMENTATION_INDEX.md
  docs/PHASE_5_INTEGRATION.md
  docs/PHASE_5_SUMMARY.md
Due: none

Complete work for issue #371
  cli/README.md
Due: none

Complete work for issue #371
  cli/README.md
  cli/src/validators/schema-validator.ts
Due: eslint, typescript-check

Complete work for issue #371
  cli/tests/integration/chat-multi-client.test.ts
  cli/tests/integration/spec-loader-integration.test.ts
  cli/tests/unit/spec-loader.test.ts
Due: eslint

Complete work for issue #373
  cli/src/analysis/relationship-classifier.ts
  cli/src/export/markdown-generator.ts
  docs/REPORT_GUIDE.md
Due: eslint, typescript-check

Complete work for issue #374
  cli/src/core/report-data-model.ts
  cli/src/validators/schema-validator.ts
  cli/tests/unit/analysis/relationship-classifier.test.ts
  scripts/generate-layer-reports.ts
Due: eslint, typescript-check

Address medium-priority code quality issues from PR review
  cli/src/analysis/relationship-classifier.ts
  cli/src/core/report-data-model.ts
  cli/src/export/markdown-generator.ts
  cli/src/validators/schema-validator.ts
Due: eslint, typescript-check

Address medium-priority issues from PR code review
  .claude_prompt_ef5912cf-0980-4120-8af8-b05b85c8c399.txt
  cli/src/core/spec-loader.ts
  cli/src/export/markdown-generator.ts
  cli/src/export/mermaid-markdown-exporter.ts
  cli/src/export/report-exporter.ts
  cli/src/validators/schema-validator.ts
  scripts/test/generate-layer-reports.test.ts
Due: eslint, typescript-check

Complete work for issue #375
  .claude_prompt_ef5912cf-0980-4120-8af8-b05b85c8c399.txt
Due: none

Fix: Include BaseIntegrationManager tests in npm test scripts
  cli/package.json
Due: none

Address low-priority code quality issues from PR review
  cli/src/core/dependency-tracker.ts
  cli/src/core/element.ts
  cli/src/core/reference-registry.ts
  cli/src/validators/semantic-validator.ts
Due: eslint, typescript-check

Address low-priority issues from PR code review
  cli/README.md
  cli/src/core/report-data-model.ts
  cli/tests/integration/export-command.test.ts
  cli/tests/unit/export/markdown-utils.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #376
  cli/tests/integration/export-command.test.ts
Due: eslint

Fix: Remove unnecessary escaping in valueToMarkdown for object JSON
  cli/src/export/markdown-utils.ts
Due: eslint, typescript-check

Complete work for issue #377
  cli/src/export/json-schema-exporter.ts
  cli/src/export/ladybug-migration.ts
  cli/src/export/model-migration.ts
  cli/src/export/openapi-exporter.ts
  cli/src/export/report-formatters.ts
  cli/src/export/stats-formatters.ts
  cli/src/utils/file-io.ts
Due: eslint, typescript-check

Complete work for issue #378
  cli/src/analysis/data-model-analyzer.ts
  cli/src/core/relationship-catalog.ts
  cli/src/export/markdown-generator.ts
  cli/tests/unit/analysis/data-model-analyzer.test.ts
Due: eslint, typescript-check

Complete work for issue #379
  PR_REVIEW_HIGH_PRIORITY_ISSUES.md
Due: none

Fix: Address all 5 high-priority code review issues
  cli/src/core/stats-collector.ts
  cli/tests/unit/export/markdown-generator.test.ts
  scripts/generate-layer-reports.ts
  scripts/test/generate-layer-reports.test.ts
Due: eslint, typescript-check

Complete work for issue #379
  cli/tests/unit/export/markdown-generator.test.ts
  scripts/generate-layer-reports.ts
Due: eslint

Fix: Address all 5 medium-priority code review issues
  .claude_prompt_932d2430-301c-4571-8d85-9a759e0b7676.txt
  cli/src/core/report-data-model.ts
  cli/src/core/spec-loader.ts
  cli/src/export/report-exporter.ts
  scripts/generate-layer-reports.ts
Due: eslint, typescript-check
