Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Regenerate spec/browser layer reports after BUG-9598 fixes
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: none

Implement transparent changeset projection (Phases 1-3)
  cli/src/commands/relationship.ts
  cli/src/commands/validate.ts
  cli/src/core/changeset.ts
  cli/src/core/model.ts
  cli/src/core/staging-area.ts
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Code review fixes for changeset transparency implementation
  cli/src/commands/changeset.ts
  cli/src/commands/validate.ts
  cli/src/core/changeset.ts
  cli/src/core/model.ts
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Fix BUG-6163-001 through BUG-6163-009: openapi/jsonschema export correctness, attribute validation, schemaproperty spec
  cli/src/commands/add.ts
  cli/src/commands/export.ts
  cli/src/commands/update.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/export/openapi-exporter.ts
  cli/src/schemas/bundled/data-model.json
  spec/dist/data-model.json
  spec/schemas/nodes/data-model/schemaproperty.node.schema.json
Due: eslint, typescript-check

Code review fixes: attribute validation in update, consistent attrs reads in jsonschema-exporter, type-safe cast in openapi-exporter
  cli/src/commands/update.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/export/openapi-exporter.ts
Due: eslint, typescript-check

Fix 6 pre-existing test failures: server elementLayerMap, relationship skip, prompt assertions
  cli/src/server/server.ts
  cli/tests/unit/audit/ai/claude-invoker.test.ts
  cli/tests/unit/audit/ai/prompt-templates.test.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Fix BUG-ADVENTURE-001, -002, -003 from 2026-03-16 adventure run
  cli/src/commands/add.ts
  cli/src/core/model.ts
  cli/src/export/archimate-exporter.ts
  cli/src/utils/id-generator.ts
  cli/tests/unit/core/model.test.ts
Due: eslint, typescript-check

Code review follow-ups for BUG-ADVENTURE-001/002/003
  cli/src/core/model.ts
  cli/src/export/archimate-exporter.ts
  cli/tests/integration/commands.test.ts
  cli/tests/unit/core/model.test.ts
  cli/tests/unit/export/archimate-exporter.test.ts
Due: eslint, typescript-check

Fix table truncation for dr search IDs and dr list TYPE column
  cli/src/utils/table-formatting.ts
Due: eslint, typescript-check

dr audit: report intra-layer, inter-layer, and total relationship counts independently
  cli/src/audit/relationships/analysis/coverage-analyzer.ts
  cli/src/audit/relationships/model/coverage-analyzer.ts
  cli/src/audit/relationships/model/orchestrator.ts
  cli/src/audit/types.ts
  cli/src/export/audit-formatters.ts
Due: eslint, typescript-check

Fix BUG-2026-03-16_12-20-05-001 and -002
  cli/src/audit/relationships/model/orchestrator.ts
  cli/src/schemas/bundled/api.json
  spec/dist/api.json
  spec/schemas/nodes/api/parameter.node.schema.json
Due: eslint, typescript-check

Fix BUG-2026-03-16_14-49-35-001 and -002 — dr add stores abbreviated type as spec_node_id
  cli/src/commands/add.ts
Due: eslint, typescript-check

Fix BUG-2026-03-16_18-35-21-001 — dr audit reports 0 inter-layer rels for target-only layers
  cli/src/audit/relationships/model/orchestrator.ts
Due: eslint, typescript-check

Gate CLI release on passing tests via test-cli job
  .github/workflows/release.yml
Due: none

cleanup
  .github_comment_summary.md
Due: none

Update skill files for business, technology, api, and data-model layers
  .claude/commands/dr-skill-review.md
  integrations/claude_code/skills/dr_02_business_layer/SKILL.md
  integrations/claude_code/skills/dr_05_technology_layer/SKILL.md
  integrations/claude_code/skills/dr_06_api_layer/SKILL.md
  integrations/claude_code/skills/dr_07_data_model_layer/SKILL.md
Due: none

Fix element ID type segments in application and technology skill files
  .claude/commands/dr-skill-review.md
  integrations/claude_code/agents/dr-architect.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  integrations/claude_code/skills/dr_05_technology_layer/SKILL.md
Due: none

Update data-store skill with accurate type guidance and spec-correct examples
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
Due: none

Update UX layer skill with missing types, decision tree, and accurate examples
  integrations/claude_code/skills/dr_09_ux_layer/SKILL.md
Due: none

Update navigation layer skill with accurate spec types and examples
  integrations/claude_code/skills/dr_10_navigation_layer/SKILL.md
Due: none

Update APM layer skill with accurate spec types and examples
  integrations/claude_code/skills/dr_11_apm_layer/SKILL.md
Due: none

Update testing layer skill with accurate spec types and examples
  integrations/claude_code/skills/dr_12_testing_layer/SKILL.md
Due: none

Update motivation layer skill with decision tree and coverage checklist
  integrations/claude_code/skills/dr_01_motivation_layer/SKILL.md
Due: none

Node audit improvements
  spec/schemas/nodes/apm/span.node.schema.json
  spec/schemas/nodes/navigation/flowstep.node.schema.json
  spec/schemas/nodes/navigation/navigationflow.node.schema.json
  spec/schemas/nodes/navigation/navigationguard.node.schema.json
  spec/schemas/nodes/navigation/navigationtransition.node.schema.json
  spec/schemas/nodes/navigation/route.node.schema.json
  spec/schemas/nodes/technology/technologyinterface.node.schema.json
  spec/schemas/nodes/technology/technologyservice.node.schema.json
  spec/schemas/nodes/testing/coveragerequirement.node.schema.json
  spec/schemas/nodes/testing/inputspacepartition.node.schema.json
  spec/schemas/nodes/testing/partitionvalue.node.schema.json
  spec/schemas/nodes/testing/testcoveragetarget.node.schema.json
Due: none

Triage and fix 8 issues from 12-layer extraction feedback (2026-03-20)
  cli/src/commands/schema.ts
  cli/src/commands/validate.ts
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/security.json
  cli/src/utils/source-reference.ts
  cli/src/validators/semantic-validator.ts
  cli/src/validators/types.ts
  cli/src/validators/validation-formatter.ts
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  integrations/claude_code/skills/dr_05_technology_layer/SKILL.md
  integrations/claude_code/skills/dr_06_api_layer/SKILL.md
  integrations/claude_code/skills/dr_09_ux_layer/SKILL.md
  integrations/claude_code/skills/dr_11_apm_layer/SKILL.md
  spec/dist/apm.json
  spec/dist/motivation.json
  spec/dist/security.json
  spec/schemas/nodes/apm/resource.node.schema.json
  spec/schemas/nodes/motivation/constraint.node.schema.json
  spec/schemas/nodes/motivation/driver.node.schema.json
  spec/schemas/nodes/motivation/principle.node.schema.json
  spec/schemas/nodes/motivation/stakeholder.node.schema.json
  spec/schemas/nodes/security/permission.node.schema.json
Due: eslint, typescript-check

cleanup
  .github_comment_summary.md
  .mcp.json
  .playwright-mcp/page-2026-03-06T21-36-27-893Z.png
  .pre-commit-config.yaml
  .prettierrc
  Dockerfile.agent
  cli/src/core/virtual-projection.ts
  docker-entrypoint-agent.sh
Due: eslint, typescript-check

Complete work for issue #511
  README.md
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/INTEGER.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/PRIMARY_KEY.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/SQLite.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/TEXT.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/collection.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/element.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/field.yaml
  cli-validation/test-suite/test-cases/relationship-validation.yaml
Due: none

Complete work for issue #511
  README.md
  spec/README.md
Due: none

Complete work for issue #511
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/database.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/index.yaml
Due: none

Complete work for issue #511
  README.md
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/database.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/08_data-store/index.yaml
Due: none

test: add relationship-validation suite to verify dr validate counts relationships
  cli/tests/integration/relationship-validation.test.ts
Due: eslint

Complete work for issue #511
  cli/package-lock.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: none

Add .prettierrc configuration for consistent JSON formatting
  .prettierrc
Due: none

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #511
  cli/package.json
  cli/src/export/openapi-exporter.ts
  cli/tests/helpers/element-finder.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/doc-examples.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/export-command.test.ts
Due: eslint, typescript-check

Complete work for issue #512
  cli/tests/integration/changeset-staged-visibility.test.ts
Due: eslint

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

