Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #496
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Complete work for issue #503
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Fix Model.loadRelationships — YAML Parsing and Graph Sync Logging
  cli/tests/integration/commands.test.ts
  cli/tests/unit/core/model.test.ts
Due: eslint

Fix issue #506: Dynamic loading of VALID_SPEC_NODE_IDS from bundled spec
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Revise Model.loadRelationships — Fix type label and rewrite unit test
  cli/tests/unit/core/model.test.ts
Due: eslint

Complete repair cycle for issue #505
  cli/tests/integration/commands.test.ts
Due: eslint

Complete work for issue #507
  cli/src/server/server.ts
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint, typescript-check

Fix fragile line-number references in deduplication test comment
  cli/tests/integration/visualization-server-relationship-links.test.ts
Due: eslint

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
Due: none

Complete work for issue #510
  cli/tests/unit/server/visualization-server.test.ts
Due: eslint

Complete repair cycle for issue #510
  .mcp.json
Due: none

Fix duplicate resolveViewerSpecNodeId introduced during rebase
  cli/src/server/server.ts
Due: eslint, typescript-check

Fix model.ts loadRelationships behavior and update spec version expectations
  cli/src/core/model.ts
  cli/tests/integration/upgrade-command.test.ts
Due: eslint, typescript-check

Fix regression test: preserve Naming/api validation error in baseline
  cli-validation/test-project/baseline/documentation-robotics/model/06_api/arrays.yaml
Due: none

Require source provenance in dr-ingest extraction agent instructions
  integrations/claude_code/commands/dr-ingest.md
Due: none

Rename /dr-ingest to /dr-map across all integration files
  .github/agents/dr-architect.md
  cli-validation/test-project/baseline/.claude/agents/dr-architect.md
  cli-validation/test-project/baseline/.claude/commands/dr-init.md
  cli-validation/test-project/baseline/.claude/commands/dr-map.md
  cli-validation/test-project/baseline/.claude/commands/dr-model.md
  cli/src/core/virtual-projection.ts
  integrations/claude_code/commands/dr-design.md
  integrations/claude_code/commands/dr-init.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-model.md
  integrations/claude_code/commands/dr-sync.md
  integrations/github_copilot/agents/dr-architect.md
Due: eslint, typescript-check

Add cross-layer relationship support, /dr-relate command, and doc-examples test
  cli/src/commands/relationship.ts
  cli/src/core/relationship-registry.ts
  cli/src/server/server.ts
  cli/src/types/index.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/doc-examples.test.ts
  integrations/claude_code/agents/dr-architect.md
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-design.md
  integrations/claude_code/commands/dr-init.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-model.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/commands/dr-sync.md
  integrations/claude_code/commands/dr-validate.md
  integrations/claude_code/skills/dr_01_motivation_layer/SKILL.md
  integrations/claude_code/skills/dr_02_business_layer/SKILL.md
  integrations/claude_code/skills/dr_03_security_layer/SKILL.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  integrations/claude_code/skills/dr_05_technology_layer/SKILL.md
  integrations/claude_code/skills/dr_06_api_layer/SKILL.md
  integrations/claude_code/skills/dr_07_data_model_layer/SKILL.md
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
  integrations/claude_code/skills/dr_09_ux_layer/SKILL.md
  integrations/claude_code/skills/dr_10_navigation_layer/SKILL.md
  integrations/claude_code/skills/dr_11_apm_layer/SKILL.md
  integrations/claude_code/skills/dr_12_testing_layer/SKILL.md
  integrations/claude_code/skills/dr_engineering_guide/SKILL.md
Due: eslint, typescript-check

cleanup
  cli/package-lock.json
Due: none

Fix false conflict detection when source and installed files are already in sync
  cli/src/integrations/base-manager.ts
Due: eslint, typescript-check

Fix changeset create not activating the new changeset
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix changeset delete guard and warn on create when overwriting active changeset
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix stale test expectations for viewer SPA and cross-layer error message
  cli-validation/test-suite/test-cases/relationships.yaml
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Fix dr validate: count intra-layer relationships; make --strict non-trivial
  cli/src/commands/validate.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Improve inter-layer gap audit: richer prompt, /dr-audit-resolve support
  .claude/commands/dr-audit-resolve.md
  cli/src/audit/relationships/ai/evaluator.ts
  cli/src/audit/relationships/ai/prompts.ts
  scripts/relationship-audit.ts
Due: eslint, typescript-check

Rebuild spec/dist, bundled schemas, and layer reports after relationship additions
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: none

Update all version references to spec v0.8.3
  CLAUDE.md
  README.md
  integrations/claude_code/agents/dr-advisor.md
  integrations/claude_code/skills/dr_01_motivation_layer/SKILL.md
  integrations/claude_code/skills/dr_02_business_layer/SKILL.md
  integrations/claude_code/skills/dr_03_security_layer/SKILL.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  integrations/claude_code/skills/dr_05_technology_layer/SKILL.md
  integrations/claude_code/skills/dr_06_api_layer/SKILL.md
  integrations/claude_code/skills/dr_07_data_model_layer/SKILL.md
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
  integrations/claude_code/skills/dr_09_ux_layer/SKILL.md
  integrations/claude_code/skills/dr_10_navigation_layer/SKILL.md
  integrations/claude_code/skills/dr_11_apm_layer/SKILL.md
  integrations/claude_code/skills/dr_12_testing_layer/SKILL.md
  spec/README.md
Due: none

Bump CLI version to 0.1.3
  CLAUDE.md
  README.md
  cli/package.json
  cli/src/commands/version.ts
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

Add CLI v0.1.3 changelog entry
  cli/CHANGELOG.md
Due: none

Always use --force with dr delete in Claude Code integration
  cli-validation/test-project/baseline/.claude/agents/dr-architect.md
  cli-validation/test-project/baseline/.claude/commands/dr-changeset.md
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-sync.md
  integrations/claude_code/skills/dr_engineering_guide/SKILL.md
Due: none

Fix 6 bugs found in beta testing; refocus CLAUDE.md on codebase
  CLAUDE.md
  cli/src/audit/relationships/graph/relationship-graph.ts
  cli/src/audit/relationships/model/balance-assessor.ts
  cli/src/audit/relationships/model/coverage-analyzer.ts
  cli/src/audit/relationships/model/duplicate-detector.ts
  cli/src/audit/relationships/model/gap-analyzer.ts
  cli/src/audit/relationships/model/orchestrator.ts
  cli/src/cli.ts
  cli/src/commands/delete.ts
  cli/src/utils/id-generator.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/src/validators/schema-validator.ts
  integrations/claude_code/agents/dr-architect.md
Due: eslint, typescript-check

Fix dr upgrade --force failing when no migration path exists
  cli/src/commands/upgrade.ts
Due: eslint, typescript-check

Fix 4 bugs found in 2026-03-15 adventure run
  cli/src/cli.ts
  cli/src/core/virtual-projection.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Address gaps found in code review of 928b8ac
  cli/src/core/staging-area.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Fix BUG-001, BUG-005, BUG-006, BUG-007 from 2026-03-15 adventure run
  cli/src/audit/nodes/model/orchestrator.ts
  cli/src/cli.ts
  cli/src/commands/trace.ts
  cli/src/commands/validate.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Fix orphan double-display: remove redundant cross-layer section count
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Fix BUG-9598-001 through BUG-9598-011 (excl. wont-fix 006) from seed-9598 adventure run
  cli/src/commands/changeset.ts
  cli/src/commands/trace.ts
  cli/src/commands/update.ts
  cli/src/commands/validate.ts
  cli/src/core/staged-changeset-storage.ts
  cli/src/export/archimate-exporter.ts
  cli/src/export/openapi-exporter.ts
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/security.json
  cli/src/utils/table-formatting.ts
  integrations/claude_code/commands/dr-relate.md
  spec/dist/data-model.json
  spec/dist/security.json
  spec/schemas/nodes/data-model/objectschema.node.schema.json
  spec/schemas/relationships/security/role.authorizes.permission.relationship.schema.json
Due: eslint, typescript-check
