Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

style(audit): apply prettier formatting to audit README
  cli/src/audit/README.md
Due: none

Complete work for issue #433
  cli/src/audit/README.md
  cli/src/audit/types.ts
  cli/src/cli.ts
  cli/src/commands/audit.ts
  cli/src/export/audit-formatters.ts
  cli/tests/integration/audit.test.ts
Due: eslint, typescript-check

Complete work for issue #433
  cli/src/audit/reports/json-formatter.ts
  cli/src/audit/reports/markdown-formatter.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/audit/types.ts
  cli/src/commands/audit.ts
  cli/src/export/audit-formatters.ts
Due: eslint, typescript-check

Complete work for issue #433
  cli/src/audit/README.md
  cli/src/audit/reports/json-formatter.ts
  cli/src/audit/reports/markdown-formatter.ts
  cli/src/audit/reports/report-generator.ts
Due: eslint, typescript-check

Complete work for issue #434
  cli/docs/AUDIT_PIPELINE.md
  cli/src/audit/differential-analyzer.ts
  cli/src/audit/snapshot-storage.ts
  cli/src/cli.ts
  cli/src/commands/audit-diff.ts
  cli/src/commands/audit-snapshots.ts
  cli/src/commands/audit.ts
  cli/src/export/diff-formatters.ts
  cli/tests/integration/audit-phase3.test.ts
Due: eslint, typescript-check

Complete work for issue #434
  cli/docs/AUDIT_PIPELINE.md
  cli/src/audit/differential-analyzer.ts
  cli/src/audit/index.ts
  cli/src/audit/snapshot-storage.ts
  cli/src/audit/types.ts
  cli/src/commands/audit-snapshots.ts
  cli/tests/integration/audit-differential.test.ts
Due: eslint, typescript-check

Complete work for issue #434
  cli/docs/AUDIT_PIPELINE.md
  cli/src/commands/audit-snapshots.ts
Due: eslint, typescript-check

Complete repair cycle for issue #434
  cli/tests/integration/visualization-server-jsonrpc-chat.test.ts
Due: eslint

Complete work for issue #435
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/ai/prompt-templates.ts
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/index.ts
  cli/tests/integration/audit/ai-evaluation.test.ts
  cli/tests/unit/audit/ai/claude-invoker.test.ts
  cli/tests/unit/audit/ai/prompt-templates.test.ts
  cli/tests/unit/audit/ai/response-parser.test.ts
Due: eslint, typescript-check

feat(cli): add standalone relationship-audit script for CI/CD integration
  cli/docs/AUDIT_PIPELINE.md
  cli/package.json
  cli/scripts/README.md
  cli/scripts/relationship-audit.ts
  cli/tests/unit/scripts/relationship-audit.test.ts
Due: eslint

Complete work for issue #436
  CLAUDE.md
  cli/docs/AUDIT_PIPELINE.md
  cli/package.json
  cli/scripts/README.md
  cli/scripts/relationship-audit.ts
  cli/tests/unit/scripts/relationship-audit.test.ts
Due: eslint

Complete work for issue #436
  CLAUDE.md
  cli/docs/AUDIT_PIPELINE.md
  cli/scripts/README.md
Due: none

Complete repair cycle for issue #436
  cli/tests/unit/scripts/relationship-audit.test.ts
Due: eslint

Complete work for issue #437
  CLAUDE.md
  cli/README.md
  cli/tests/unit/audit/balance-assessor.test.ts
  cli/tests/unit/audit/duplicate-detector.test.ts
  cli/tests/unit/audit/gap-analyzer.test.ts
Due: eslint

Complete repair cycle for issue #437
  CLAUDE.md
Due: none

Complete work for issue #439
  CLAUDE.md
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/analysis/coverage-analyzer.ts
  cli/src/audit/graph/relationship-graph.ts
  cli/src/commands/audit-diff.ts
  cli/src/commands/audit.ts
Due: eslint, typescript-check

Complete work for issue #439
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/commands/audit-diff.ts
  cli/tests/unit/audit/graph/relationship-graph-errors.test.ts
  cli/tests/unit/commands/format-precedence.test.ts
Due: eslint, typescript-check

Complete work for issue #440
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/analysis/balance-assessor.ts
  cli/src/audit/audit-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #440
  cli/scripts/relationship-audit.ts
  cli/src/commands/audit.ts
  cli/tests/unit/audit/reports/report-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #440
  cli/scripts/relationship-audit.ts
  cli/src/audit/audit-orchestrator.ts
  cli/src/commands/audit.ts
Due: eslint, typescript-check

Complete repair cycle for issue #440
  cli/src/audit/audit-orchestrator.ts
  cli/tmp/test-audit.json
Due: eslint, typescript-check

Complete work for issue #441
  cli/src/audit/ai/claude-invoker.ts
  cli/src/audit/analysis/duplicate-detector.ts
  cli/src/audit/analysis/gap-analyzer.ts
  cli/src/audit/analysis/layer-templates.ts
  cli/src/audit/audit-orchestrator.ts
  cli/src/audit/differential-analyzer.ts
  cli/src/audit/graph/connectivity.ts
  cli/src/audit/index.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/audit/types.ts
  cli/src/commands/audit-snapshots.ts
  cli/src/commands/audit.ts
  cli/src/export/audit-formatters.ts
  cli/src/export/diff-formatters.ts
  cli/src/export/report-formatters.ts
  cli/tests/integration/audit/ai-evaluation.test.ts
  cli/tests/unit/audit/ai/claude-invoker-errors.test.ts
  cli/tests/unit/audit/snapshot-storage-errors.test.ts
Due: eslint, typescript-check

Complete work for issue #441
  cli/src/audit/audit-orchestrator.ts
  cli/src/commands/audit-snapshots.ts
  cli/src/export/audit-formatters.ts
Due: eslint, typescript-check

Complete work for issue #441
  cli/tmp/test-audit.json
  spec/browser/03-security-layer-report.md
Due: none

Complete work for issue #441
  spec/browser/09-ux-layer-report.md
  spec/browser/11-apm-layer-report.md
Due: none

Complete repair cycle for issue #441
  cli/tests/integration/audit.test.ts
Due: eslint

fix: address low-priority code review issues
  cli/.gitignore
  cli/package.json
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/analysis/balance-assessor.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/commands/audit-snapshots.ts
  cli/src/commands/audit.ts
  cli/src/export/audit-formatters.ts
  cli/src/export/diff-formatters.ts
  cli/src/export/report-formatters.ts
  cli/src/utils/date-utils.ts
  cli/tmp/test-audit.json
Due: eslint, typescript-check

fix: address all 8 original low-priority code review issues
  cli/src/audit/ai/ai-evaluator.ts
  cli/src/audit/ai/prompt-templates.ts
  cli/src/audit/ai/response-parser.ts
  cli/src/audit/analysis/balance-assessor.ts
  cli/src/audit/differential-analyzer.ts
  cli/src/audit/reports/json-formatter.ts
  cli/src/audit/types.ts
  cli/tests/unit/audit/ai/response-parser.test.ts
Due: eslint, typescript-check

Complete work for issue #442
  cli/tests/unit/audit/snapshot-storage-errors.test.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #442
  cli/tests/unit/audit/balance-assessor.test.ts
  cli/tests/unit/audit/connectivity.test.ts
Due: eslint

Complete work for issue #442
  cli/tests/unit/audit/ai/claude-invoker-errors.test.ts
  cli/tests/unit/audit/reports/report-generator.test.ts
Due: eslint

Complete repair cycle for issue #442
  cli/bun.lock
Due: none

Complete work for issue #443
  CLAUDE.md
  cli/docs/AUDIT_PIPELINE.md
  cli/package.json
  cli/src/audit/reports/json-formatter.ts
  cli/src/audit/reports/markdown-formatter.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/audit/snapshot-storage.ts
Due: eslint, typescript-check

Complete repair cycle for issue #443
  docs/api-spec.yaml
Due: none

feat: implement audit pipeline orchestrator with before/after workflow
  CLAUDE.md
  cli/src/audit/pipeline/README.md
  cli/src/audit/pipeline/index.ts
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/reports/index.ts
  cli/src/audit/reports/report-generator.ts
  cli/src/cli.ts
  cli/src/commands/audit.ts
  cli/tests/integration/audit-pipeline.test.ts
Due: eslint, typescript-check

fix(audit): resolve type-unsafe differential access and remove proactive README
  cli/src/audit/pipeline/README.md
  cli/src/audit/pipeline/pipeline-orchestrator.ts
Due: eslint, typescript-check

Complete repair cycle for issue #444
  CLAUDE.md
Due: none

Complete work for issue #445
  cli/src/export/audit-formatters.ts
  cli/tests/integration/audit.test.ts
Due: eslint, typescript-check

Complete work for issue #447
  cli/src/audit/pipeline/pipeline-orchestrator.ts
  cli/src/audit/snapshot-storage.ts
  cli/tests/unit/audit/ai/claude-invoker.test.ts
Due: eslint, typescript-check

Complete work for issue #447
  cli/src/audit/pipeline/pipeline-orchestrator.ts
Due: eslint, typescript-check
