Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #634
  cli/docs/SCAN_ARCHITECTURE.md
  cli/src/scan/patterns/motivation/architectural-patterns.yaml
Due: none

Complete work for issue #634
  cli/src/commands/scan.ts
  cli/tests/helpers/mock-mcp-client.ts
Due: eslint, typescript-check

Phase 5: Agent grounding integration — codeprism_query for extraction agent
  cli/docs/SCAN_ARCHITECTURE.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-scan-session.md
Due: none

Fix Phase 5 review feedback: invalid JSON, escaped backticks, ungrounded confidence scores, and DRY violations
  cli/docs/SCAN_ARCHITECTURE.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-scan-session.md
Due: none

Complete work for issue #635
  cli/docs/SCAN_ARCHITECTURE.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-scan-session.md
Due: none

Complete repair cycle for issue #635
  cli/tests/integration/doc-examples.test.ts
Due: eslint

Complete work for issue #637
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Fix session manager critical and high priority issues
  cli/src/commands/scan.ts
  cli/src/scan/session-manager.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint, typescript-check

Format session-manager.ts with prettier
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Fix TypeScript compilation error in session manager error handling
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Complete work for issue #638
  cli/src/commands/scan.ts
  cli/src/scan/index-builder.ts
Due: eslint, typescript-check

Fix scan command issues from review feedback
  cli/src/commands/scan.ts
  cli/src/scan/index-builder.ts
Due: eslint, typescript-check

Complete work for issue #639
  cli/src/scan/mcp-client.ts
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Fix session-manager review feedback: correct test assertion, remove redundant cast, use consistent baseState spread
  cli/src/scan/session-manager.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint, typescript-check

Refactor session-manager cleanup logic into dedicated function
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Fix source reference validation error handling and MCP client reuse
  cli/src/commands/scan.ts
  cli/src/commands/validate.ts
  cli/src/scan/ref-validator.ts
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Extract shared MCPClient factory and remove dead finally block
  cli/src/commands/scan.ts
  cli/src/commands/validate.ts
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Remove unused querySession import from validate.ts
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Fix scan command error handling and messaging
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Fix double error output and redundant logging in scan command
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete repair cycle for issue #641
  cli/tests/integration/scan-session-lifecycle.test.ts
Due: eslint

Complete work for issue #642
  cli/docs/SCAN_ARCHITECTURE.md
  docs/adr/ADR-006-codeprism-session-lifecycle.md
  integrations/claude_code/commands/dr-scan-session.md
Due: none

Fix documentation signature mismatches and stale error handling descriptions
  docs/adr/ADR-006-codeprism-session-lifecycle.md
  integrations/claude_code/commands/dr-scan-session.md
Due: none

Complete work for issue #643
  cli/src/scan/index-builder.ts
Due: eslint, typescript-check

Fix silent error swallowing in findMostRecentlyModifiedFile
  cli/src/scan/index-builder.ts
Due: eslint, typescript-check

Complete work for issue #644
  cli/tests/unit/scan/index-builder.test.ts
  cli/tests/unit/scan/ref-validator.test.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint

Fix test coverage issues: properly test session lifecycle and fix directory cleanup
  cli/src/scan/session-manager.ts
  cli/tests/unit/scan/index-builder.test.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint, typescript-check

Fix Scan Command Orchestration error handling issues
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #646
  cli/src/scan/ref-validator.ts
Due: eslint, typescript-check

Complete work for issue #647
  cli/src/scan/session-manager.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint, typescript-check

Complete work for issue #648
  cli/src/scan/index-builder.ts
Due: eslint, typescript-check

Fix Validate Command - JSDoc placement and error message accuracy
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Fix documentation issues in SCAN_ARCHITECTURE and ADR-006
  cli/docs/SCAN_ARCHITECTURE.md
  docs/adr/ADR-006-codeprism-session-lifecycle.md
Due: none

Complete work for issue #651
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/src/scan/patterns/api/cross-layer-dependencies.yaml
Due: eslint, typescript-check

Address PR feedback on cross-layer pattern system
  cli/src/commands/scan.ts
  cli/src/scan/patterns/api/cross-layer-dependencies.yaml
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #651
  cli/tests/integration/scan-pattern-loading.test.ts
Due: eslint

Fix critical issues from CodePrism integration review
  cli/src/commands/scan.ts
  cli/src/scan/index-builder.ts
  cli/src/scan/patterns/api/cross-layer-dependencies.yaml
  cli/src/scan/ref-validator.ts
  cli/src/scan/session-manager.ts
  cli/tests/unit/scan/session-manager.test.ts
Due: eslint, typescript-check

Phase 1: Establish analyzer specification infrastructure
  spec/analyzers/README.md
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-heuristics.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
  spec/schemas/base/analyzer-spec.schema.json
Due: none

Fix schema validation and README typo
  spec/analyzers/README.md
  spec/schemas/base/analyzer-edge-mapping.schema.json
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

