Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

fix(scan): Address review feedback from Phase 1 implementation
  .dr-config.yaml
  cli/src/cli.ts
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #529
  .dr-config.README.md
  cli/CONTRIBUTING.md
  cli/docs/COMMAND_LIFECYCLE.md
  cli/docs/TEST-INSTRUMENTATION.md
  cli/otel-send-config.example.yml
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
Due: none

Complete repair cycle for issue #529
  cli/tests/integration/changeset-rollback.test.ts
Due: eslint

Complete work for issue #530
  cli/package.json
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/src/scan/patterns/api/express.yaml
  cli/src/scan/patterns/api/nestjs.yaml
  cli/src/scan/patterns/apm/opentelemetry.yaml
  cli/src/scan/patterns/application/nestjs-service.yaml
  cli/src/scan/patterns/data-model/prisma.yaml
  cli/src/scan/patterns/data-model/typeorm.yaml
  cli/src/scan/patterns/data-store/prisma-schema.yaml
  cli/src/scan/patterns/security/passport.yaml
  cli/src/scan/patterns/testing/jest.yaml
  cli/src/scan/patterns/testing/pytest.yaml
  cli/src/scan/patterns/ux/react.yaml
  cli/tests/integration/scan-pattern-loading.test.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #530
  cli/package.json
  cli/src/scan/pattern-loader.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #530
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #531
  cli/src/cli.ts
  cli/src/commands/scan.ts
  cli/tests/integration/scan-phase3.test.ts
Due: eslint, typescript-check

Phase 3: Fix dr scan command implementation - revision 3
  cli/src/commands/scan.ts
  cli/tests/integration/scan-phase3.test.ts
Due: eslint, typescript-check

Phase 3: Fix dr scan command implementation - revision 4
  cli/src/commands/scan.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #531
  cli/src/commands/scan.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Phase 4: Implement per-project pattern overrides and pattern disabling
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #532
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #532
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

fix(scan): Remove unused ScanConfig import
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #533
  cli/src/commands/scan.ts
  cli/src/core/changeset.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #533
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #533
  cli/tests/integration/scan.test.ts
Due: eslint

Complete work for issue #535
  cli/package.json
  cli/src/commands/scan.ts
  cli/src/scan/mcp-client.ts
  cli/tests/helpers/mock-mcp-client.ts
  cli/tests/integration/mcp-client-connection.test.ts
  cli/tests/integration/mcp-pattern-execution.test.ts
  test-mcp-mock.ts
Due: eslint, typescript-check

Complete work for issue #535
  cli/src/commands/scan.ts
  cli/src/scan/mcp-client.ts
  cli/tests/integration/mcp-pattern-execution.test.ts
  test-mcp-mock.ts
Due: eslint, typescript-check

Complete work for issue #535
  cli/src/scan/mcp-client.ts
  cli/tests/integration/mcp-pattern-execution.test.ts
Due: eslint, typescript-check

Complete work for issue #535
  cli/package-lock.json
  cli/src/core/element.ts
  cli/src/export/archimate-exporter.ts
Due: eslint, typescript-check

Complete work for issue #535
  cli/scripts/generate-openapi.ts
  cli/tests/unit/node-types.test.ts
Due: eslint

Fix MCP client unit tests that attempt real process spawning
  cli/tests/unit/scan/mcp-client.test.ts
Due: eslint

Fix coverage artifact upload failures in CI workflow
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #536
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #536
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/unit/scripts/scan-wildcard-expansion.test.ts
Due: eslint, typescript-check

Complete work for issue #536
  cli/tests/unit/scripts/scan-wildcard-expansion.test.ts
Due: eslint

Fix formatting in trace-populated.test.ts
  cli/tests/integration/trace-populated.test.ts
Due: eslint

Complete repair cycle for issue #536
  docs/api-spec.yaml
Due: none

Complete work for issue #537
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/tests/unit/scan/config.test.ts
Due: eslint, typescript-check

Complete work for issue #537
  cli/src/commands/scan.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
Due: none

Complete work for issue #538
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #538
  cli/src/commands/scan.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #538
  cli/tests/integration/scan.test.ts
Due: eslint

Complete work for issue #538
  cli/src/commands/scan.ts
  cli/src/scan/patterns/api/express.yaml
  cli/src/scan/patterns/api/nestjs.yaml
  cli/src/scan/patterns/apm/opentelemetry.yaml
  cli/src/scan/patterns/application/nestjs-service.yaml
  cli/src/scan/patterns/data-model/prisma.yaml
  cli/src/scan/patterns/data-model/typeorm.yaml
  cli/src/scan/patterns/data-store/prisma-schema.yaml
  cli/src/scan/patterns/testing/jest.yaml
  cli/src/scan/patterns/testing/pytest.yaml
  cli/src/scan/patterns/ux/react.yaml
  cli/tests/unit/scan/relationship-direction.test.ts
Due: eslint, typescript-check

Complete work for issue #538
  cli/src/commands/conformance.ts
  cli/src/commands/upgrade.ts
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Complete work for issue #538
  cli/src/core/migration-registry.ts
Due: eslint, typescript-check

Complete work for issue #538
  cli/src/commands/scan.ts
  cli/tests/unit/scan/relationship-direction.test.ts
Due: eslint, typescript-check
