Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #563
  cli/tests/integration/scan-changeset-partial-failure.test.ts
  cli/tests/unit/scan/is-transport-error.test.ts
Due: eslint

Complete work for issue #564
  cli/src/scan/config.ts
Due: eslint, typescript-check

Complete work for issue #567
  cli/src/scan/relationship-inference.ts
Due: eslint, typescript-check

Fix layer numbering logic in relationship inference
  cli/src/scan/relationship-inference.ts
Due: eslint, typescript-check

Complete work for issue #568
  cli/src/scan/mcp-client.ts
Due: eslint, typescript-check

Complete work for issue #569
  cli/src/commands/scan.ts
  cli/src/core/layers.ts
  cli/src/scan/layer-constants.ts
  cli/src/scan/pattern-loader.ts
  cli/src/scan/relationship-inference.ts
  cli/tests/integration/scan-relationship-coverage.test.ts
  cli/tests/unit/scan/layer-constants.test.ts
Due: eslint, typescript-check

Complete work for issue #569
  cli/src/commands/scan.ts
  cli/src/core/layers.ts
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #569
  cli/src/core/layers.ts
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete repair cycle for issue #569
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Fix: Use semantic versioning in getLatestVersion instead of lexicographic sort
  cli/src/core/migration-registry.ts
Due: eslint, typescript-check

Fix: Address scan command orchestration issues (PR feedback)
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
Due: eslint, typescript-check

Complete work for issue #571
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete repair cycle for issue #571
  cli/tests/integration/scan-changeset-partial-failure.test.ts
Due: eslint

Fix integration managers: replace process.exit with proper error throws
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Fix changeset rollback test: update error message check from 'not found' to 'Validation failed'
  cli/test_output.txt
  cli/tests/integration/changeset-rollback.test.ts
Due: eslint

Complete work for issue #572
  cli/src/utils/markdown-anchor.ts
  cli/src/utils/markdown-link.ts
  cli/src/utils/markdown-table.ts
  cli/src/utils/mermaid-utils.ts
  cli/tests/unit/utils/markdown-anchor.test.ts
  cli/tests/unit/utils/markdown-link.test.ts
  cli/tests/unit/utils/markdown-table.test.ts
  cli/tests/unit/utils/mermaid-utils.test.ts
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: eslint, typescript-check

Extract shared markdown/mermaid utilities for issue #565
  cli/src/utils/markdown-link.ts
  cli/src/utils/mermaid-utils.ts
  scripts/generate-layer-reports.ts
  spec/browser/01-motivation-layer-report.md
  spec/browser/02-business-layer-report.md
  spec/browser/03-security-layer-report.md
  spec/browser/04-application-layer-report.md
  spec/browser/05-technology-layer-report.md
  spec/browser/06-api-layer-report.md
  spec/browser/07-data-model-layer-report.md
  spec/browser/08-data-store-layer-report.md
  spec/browser/09-ux-layer-report.md
  spec/browser/10-navigation-layer-report.md
  spec/browser/11-apm-layer-report.md
  spec/browser/12-testing-layer-report.md
  spec/browser/README.md
Due: eslint, typescript-check

Complete work for issue #572
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
  cli/tests/integration/changeset-rollback.test.ts
Due: eslint, typescript-check

Fix GitHub workflow initialization failure
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #573
  cli/src/reports/model-report-data.ts
  cli/tests/unit/reports/model-report-data.test.ts
Due: eslint, typescript-check

Phase 3: Implement ModelLayerReportGenerator for markdown layer reports
  cli/src/reports/model-layer-report-generator.ts
  cli/src/reports/model-report-data.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #574
  cli/tests/unit/utils/mermaid-utils.test.ts
Due: eslint

Complete work for issue #575
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/integration/reports/model-reports.test.ts
  cli/tests/unit/reports/model-report-orchestrator.test.ts
Due: eslint, typescript-check

Fix review cycle 3 feedback for Phase 4: Report orchestrator
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

Fix async getLayer call in acceptance test
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint

Complete work for issue #0
  .dockerignore
  .mcp.json
  cli/src/reports/model-report-orchestrator.ts
  docker-entrypoint-agent.sh
Due: eslint, typescript-check

Complete work for issue #573
  cli/src/reports/model-report-data.ts
Due: eslint, typescript-check

Complete work for issue #573
  .mcp.json
Due: none

Complete work for issue #576
  cli/src/commands/relationship.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staging-area.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

Complete work for issue #578
  cli/src/commands/relationship.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staging-area.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #578
  cli/src/core/mutation-handler.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix: Replace undefined telemetry calls with console.warn in model report orchestrator
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

test: Add test coverage for integration orchestrator hooks
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
  cli/tests/integration/staging-orchestrator-hooks.test.ts
Due: eslint

Complete work for issue #579
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
  cli/tests/integration/staging-orchestrator-hooks.test.ts
Due: eslint

Complete work for issue #579
  cli/src/commands/relationship.ts
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
Due: eslint, typescript-check

Fix: Model Report Orchestrator Error Handling
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #580
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/unit/reports/model-report-orchestrator.test.ts
Due: eslint, typescript-check
