Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #336
  cli/scripts/generate-validators.ts
  cli/src/validators/schema-validator.ts
Due: eslint, typescript-check

Complete repair cycle for issue #336
  cli-validation/test-suite/tests/reporters.test.ts
Due: none

Complete work for issue #337
  cli/src/cli.ts
  cli/src/commands/relationship.ts
  cli/src/commands/schema.ts
  cli/tests/integration/test-schema-commands.ts
  cli/tests/unit/test-relationship-validation.ts
Due: eslint, typescript-check

Complete work for issue #337
  cli/test_output.txt
  cli/tests/unit/core/reference-registry-compat.test.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint

Complete work for issue #337
  cli/src/commands/relationship.ts
  cli/tests/integration/commands.test.ts
Due: eslint, typescript-check

Complete work for issue #339
  CLAUDE.md
  cli/src/core/element.ts
  cli/tests/unit/core/element.test.ts
Due: eslint, typescript-check

Complete work for issue #339
  cli/src/core/element.ts
  cli/tests/unit/core/element.test.ts
  docs/CLI_SCHEMA_DRIVEN_ARCHITECTURE.md
Due: eslint, typescript-check

Complete work for issue #340
  cli/src/commands/relationship.ts
  cli/src/commands/schema.ts
Due: eslint, typescript-check

Complete work for issue #340
  cli/scripts/generate-registry.ts
  cli/src/core/element.ts
Due: eslint, typescript-check

Complete work for issue #340
  docs/CLI_REFACTORING_DOCUMENTATION.md
Due: none

Initial commit
  .claude_prompt_review_cycle_documentation_editor_1770719368.txt
Due: none

Complete work for issue #340
  .claude_prompt_review_cycle_documentation_editor_1770719368.txt
  docs/CLI_REFACTORING_DOCUMENTATION.md
  docs/CLI_SCHEMA_DRIVEN_ARCHITECTURE.md
Due: none

Complete repair cycle for issue #340
  cli/src/core/element.ts
Due: eslint, typescript-check

Complete work for issue #341
  cli/package.json
  cli/src/commands/migrate-elements.ts
  cli/src/core/element.ts
  cli/src/core/model.ts
  cli/src/utils/element-migration.ts
  cli/tests/integration/stats-command.test.ts
  cli/tests/unit/generators/generate-registry.test.ts
  cli/tests/unit/generators/generate-validators.test.ts
Due: eslint, typescript-check

Complete work for issue #342
  CLAUDE.md
  cli/src/commands/conformance.ts
  cli/src/core/element.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Fix CI schema validation failure by excluding layer instances from schema sync comparison
  cli/scripts/sync-spec-schemas.sh
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Complete work for issue #348
  cli/scripts/generate-registry.ts
  cli/src/commands/conformance.ts
  cli/src/core/relationship-registry.ts
Due: eslint, typescript-check

Complete work for issue #349
  cli/scripts/generate-validators.ts
  cli/scripts/sync-spec-schemas.sh
  cli/src/commands/conformance.ts
Due: eslint, typescript-check

Complete work for issue #350
  cli/scripts/generate-registry.ts
  cli/scripts/generate-validators.ts
  cli/src/commands/schema.ts
  cli/tests/unit/generators/generate-registry.test.ts
Due: eslint, typescript-check

Complete work for issue #350
  cli/scripts/generate-validators.ts
Due: eslint

Initial commit
  .claude_prompt_repair_test_pre-commit_type1_iter1_attempt0_senior_software_engineer_1770730810.txt
Due: none

Fix end of files
  .claude_prompt_repair_test_pre-commit_type1_iter1_attempt0_senior_software_engineer_1770730810.txt
Due: none

Complete repair cycle for issue #350
  .claude_prompt_repair_test_pre-commit_type1_iter1_attempt0_senior_software_engineer_1770730810.txt
Due: none

Complete work for issue #351
  CRITICAL_FIXES_SUMMARY.md
  cli/scripts/generate-validators.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/scripts/generate-validators.test.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

Complete work for issue #351
  docs/TECHNICAL_DOCUMENTATION_ANALYSIS_ISSUE_330.md
Due: none

Complete work for issue #353
  PR_REVIEW_MEDIUM_FINDINGS_RESOLUTION.md
  cli/scripts/generate-registry.ts
  cli/tests/unit/validators/schema-validator-fallback.test.ts
Due: eslint

Complete work for issue #353
  CRITICAL_FIXES_SUMMARY.md
  PR_REVIEW_MEDIUM_FINDINGS_RESOLUTION.md
Due: none

Fix stray markdown code fence in technical documentation
  docs/TECHNICAL_DOCUMENTATION_ANALYSIS_ISSUE_330.md
Due: none

Complete work for issue #353
  cli/src/validators/schema-validator.ts
  docs/TECHNICAL_DOCUMENTATION_ANALYSIS_ISSUE_330.md
Due: eslint, typescript-check

Complete work for issue #352
  .github/workflows/cli-tests.yml
  cli/package.json
  cli/src/core/element.ts
Due: eslint, typescript-check

Complete work for issue #352
  .github/workflows/cli-tests.yml
  cli/tests/unit/core/element.test.ts
Due: eslint

Complete work for issue #354
  cli/scripts/generate-registry.ts
  cli/tests/unit/generators/generate-registry.test.ts
Due: eslint

Complete repair cycle for issue #355
  docs/CLI_REFACTORING_TECHNICAL_DOCUMENTATION.md
Due: none

Complete work for issue #356
  cli/src/commands/catalog.ts
  cli/src/commands/changeset.ts
  cli/src/commands/project.ts
  cli/src/commands/show.ts
  cli/src/commands/update.ts
  cli/src/telemetry/index.ts
Due: eslint, typescript-check

Complete repair cycle for issue #356
  docs/CLI_REFACTORING_TECHNICAL_DOCUMENTATION.md
Due: none

Complete work for issue #357
  cli/src/commands/migrate-elements.ts
  cli/src/core/element.ts
  cli/src/core/layer.ts
Due: eslint, typescript-check

Complete work for issue #358
  PR_REVIEW_LOW_FINDINGS_REPORT.md
Due: none

Complete work for issue #358
  PR_REVIEW_LOW_FINDINGS_REPORT.md
  cli/src/commands/migrate-elements.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

