Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

ci: disable automatic push/PR triggers, keep workflow_dispatch only
  .github/workflows/cli-tests.yml
  .github/workflows/ts-cli-regression.yml
Due: none

Bump bundled viewer to v0.4.0 (Heimdall UX rebuild)
  cli/CHANGELOG.md
  cli/scripts/download-viewer.sh
Due: none

Document analyzer/verify feature in CHANGELOG
  cli/CHANGELOG.md
Due: none

Fix analyzer integration test fixtures: source_reference nesting, ignore-rule element_ids, missing qualified_name
  cli/package-lock.json
  cli/package.json
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
  cli/tests/integration/analyzers/verify-engine.test.ts
  cli/tests/integration/analyzers/verify.test.ts
Due: eslint

chore(release): finalize CHANGELOG for 0.1.4
  cli/CHANGELOG.md
Due: none

docs: add Specification Support line to 0.1.4 changelog entry
  cli/CHANGELOG.md
Due: none

chore(release): bump CLI to v0.1.5, supersede unreleased 0.1.4
  cli/CHANGELOG.md
  cli/package.json
Due: none

Fix analyzer PATH isolation in discover.test.ts; install codebase-memory-mcp in release.yml test-cli gate
  .github/workflows/release.yml
  cli/tests/integration/analyzers/discover.test.ts
Due: eslint

Fix PATH-scrub in discover.test.ts to check for real binaries, not path substrings
  cli/tests/integration/analyzers/discover.test.ts
Due: eslint

Complete work for issue #768
  cli/package-lock.json
  cli/package.json
  cli/src/cli.ts
  cli/src/commands/mcp.ts
  cli/src/config.ts
  cli/src/mcp/api-key-manager.ts
  cli/src/telemetry/config.ts
  cli/tests/integration/mcp-server.test.ts
  cli/tests/unit/config.test.ts
  cli/tests/unit/mcp/api-key-manager.test.ts
Due: eslint, typescript-check

Complete work for issue #768
  .github/workflows/cli-tests.yml
  cli/docs/AGENT_ABSTRACTION.md
  integrations/claude_code/commands/dr-relate.md
  spec/schemas/nodes/api/operation.node.schema.json
Due: none

Complete work for issue #768
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/goal.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/04_application/service.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/06_api/operation.yaml
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/element-id-persistence.test.ts
  cli/tests/integration/error-scenarios.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
  cli/tests/integration/regression-naming-edge-cases.test.ts
  cli/tests/integration/regression-type-normalization.test.ts
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
  cli/tests/integration/relationship-validation.test.ts
  cli/tests/integration/source-reference.test.ts
  cli/tests/integration/stats-command.test.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/integration/visualization-server-api.test.ts
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
Due: eslint

Complete work for issue #768
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/changeset.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/relationship-validation.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Complete work for issue #769
  cli/package.json
  cli/src/commands/mcp.ts
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tool-registry.ts
  cli/src/mcp/tools/index.ts
  cli/src/mcp/tools/model-add.ts
  cli/src/mcp/tools/model-delete.ts
  cli/src/mcp/tools/model-export.ts
  cli/src/mcp/tools/model-info.ts
  cli/src/mcp/tools/model-list.ts
  cli/src/mcp/tools/model-search.ts
  cli/src/mcp/tools/model-show.ts
  cli/src/mcp/tools/model-stats.ts
  cli/src/mcp/tools/model-trace.ts
  cli/src/mcp/tools/model-update.ts
  cli/src/mcp/tools/model-validate.ts
  cli/src/mcp/tools/shared.ts
  cli/tests/integration/mcp-server.test.ts
  cli/tests/unit/mcp/model-tools.test.ts
Due: eslint, typescript-check

Address review feedback on Phase 2 MCP model tools
  cli/src/mcp/tools/model-add.ts
  cli/src/mcp/tools/model-delete.ts
  cli/src/mcp/tools/model-export.ts
  cli/src/mcp/tools/model-search.ts
  cli/src/mcp/tools/model-trace.ts
  cli/src/mcp/tools/model-update.ts
  cli/src/mcp/tools/model-validate.ts
  cli/src/mcp/tools/shared.ts
Due: eslint, typescript-check

Complete work for issue #770
  cli/src/mcp/tool-registry.ts
  cli/src/mcp/tools/changeset-list.ts
  cli/src/mcp/tools/changeset-show.ts
  cli/src/mcp/tools/chat-launch.ts
  cli/src/mcp/tools/chat-status.ts
  cli/src/mcp/tools/index.ts
  cli/src/mcp/tools/model-reload.ts
  cli/tests/integration/mcp-server.test.ts
  cli/tests/unit/mcp/changeset-tools.test.ts
  cli/tests/unit/mcp/chat-tools.test.ts
  cli/tests/unit/mcp/model-tools.test.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  cli/package.json
  docker-entrypoint-agent.sh
Due: none

Complete repair cycle for issue #770
  cli/package.json
Due: none

Complete work for issue #771
  cli/README.md
  cli/src/cli.ts
  cli/src/commands/mcp.ts
  cli/src/mcp/api-key-manager.ts
  cli/src/mcp/tool-registry.ts
  cli/tests/ci-smoke.manifest.ts
  cli/tests/integration/mcp-server-smoke.test.ts
  cli/tests/unit/mcp/api-key-manager.test.ts
  integrations/claude_code/docs/MCP_SERVER.md
  integrations/claude_code/docs/README.md
Due: eslint, typescript-check

Address review feedback on MCP telemetry and smoke test
  cli/src/commands/mcp.ts
  cli/src/mcp/tool-registry.ts
  cli/tests/integration/mcp-server-smoke.test.ts
Due: eslint, typescript-check

Complete work for issue #771
  .mcp.json
  cli/tests/integration/trace-populated.test.ts
Due: eslint

Complete work for issue #773
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tools/shared.ts
Due: eslint, typescript-check

Address review feedback: fix loadModel error matching, add tests
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tools/shared.ts
  cli/tests/unit/mcp/resource-registry.test.ts
  cli/tests/unit/mcp/shared.test.ts
Due: eslint, typescript-check

Complete work for issue #774
  cli/src/mcp/tools/chat-launch.ts
  cli/src/mcp/tools/model-delete.ts
  cli/src/mcp/tools/model-update.ts
  cli/src/mcp/tools/shared.ts
  cli/tests/integration/mcp-server.test.ts
  cli/tests/unit/mcp/chat-tools.test.ts
  cli/tests/unit/mcp/model-tools.test.ts
Due: eslint, typescript-check

Complete work for issue #775
  cli/src/commands/mcp.ts
Due: eslint, typescript-check

Complete work for issue #775
  cli/esbuild.config.js
  cli/src/cli.ts
  cli/src/commands/mcp.ts
  cli/src/commands/version.ts
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

Complete work for issue #776
  cli/src/core/annotation-store.ts
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tool-registry.ts
  cli/src/mcp/tools/annotation-create.ts
  cli/src/mcp/tools/annotation-delete.ts
  cli/src/mcp/tools/annotation-get.ts
  cli/src/mcp/tools/annotation-list.ts
  cli/src/mcp/tools/annotation-reply.ts
  cli/src/mcp/tools/annotation-shared.ts
  cli/src/mcp/tools/annotation-update.ts
  cli/src/mcp/tools/index.ts
  cli/tests/integration/mcp-server-smoke.test.ts
  cli/tests/integration/mcp-server.test.ts
  cli/tests/unit/core/annotation-store.test.ts
  cli/tests/unit/mcp/annotation-tools.test.ts
  integrations/claude_code/docs/MCP_SERVER.md
Due: eslint, typescript-check

Complete work for issue #777
  cli/src/commands/mcp.ts
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tools/changeset-list.ts
  cli/src/mcp/tools/changeset-show.ts
  cli/src/mcp/tools/chat-launch.ts
  cli/src/mcp/tools/model-add.ts
  cli/src/mcp/tools/model-info.ts
  cli/src/mcp/tools/model-list.ts
  cli/src/mcp/tools/model-reload.ts
  cli/src/mcp/tools/model-show.ts
  cli/src/mcp/tools/model-validate.ts
  cli/src/mcp/tools/shared.ts
Due: eslint, typescript-check

Fix model cache race condition and add cache test coverage
  cli/src/mcp/tools/shared.ts
  cli/tests/unit/mcp/shared.test.ts
Due: eslint, typescript-check

Complete work for issue #778
  cli/src/config.ts
  cli/src/mcp/api-key-manager.ts
  cli/tests/unit/config.test.ts
  cli/tests/unit/mcp/api-key-manager.test.ts
Due: eslint, typescript-check

Fix ERR_MODULE_NOT_FOUND for prettier in release-cli generate:openapi step
  cli/package-lock.json
  cli/package.json
Due: none

Complete work for issue #779
  cli/src/mcp/tool-registry.ts
  cli/src/mcp/tools/annotation-create.ts
  cli/src/mcp/tools/annotation-delete.ts
  cli/src/mcp/tools/annotation-get.ts
  cli/src/mcp/tools/annotation-list.ts
  cli/src/mcp/tools/annotation-reply.ts
  cli/src/mcp/tools/annotation-shared.ts
  cli/src/mcp/tools/annotation-update.ts
  cli/src/mcp/tools/changeset-list.ts
  cli/src/mcp/tools/changeset-show.ts
  cli/src/mcp/tools/chat-launch.ts
  cli/src/mcp/tools/chat-status.ts
  cli/src/mcp/tools/model-add.ts
  cli/src/mcp/tools/model-delete.ts
  cli/src/mcp/tools/model-export.ts
  cli/src/mcp/tools/model-info.ts
  cli/src/mcp/tools/model-list.ts
  cli/src/mcp/tools/model-reload.ts
  cli/src/mcp/tools/model-search.ts
  cli/src/mcp/tools/model-show.ts
  cli/src/mcp/tools/model-stats.ts
  cli/src/mcp/tools/model-trace.ts
  cli/src/mcp/tools/model-update.ts
  cli/src/mcp/tools/model-validate.ts
  cli/src/mcp/tools/shared.ts
Due: eslint, typescript-check

Complete work for issue #780
  cli/src/config.ts
  cli/src/core/annotation-store.ts
Due: eslint, typescript-check

Complete work for issue #780
  cli/src/config.ts
  cli/src/core/annotation-store.ts
  cli/tests/unit/config.test.ts
  cli/tests/unit/core/annotation-store.test.ts
Due: eslint, typescript-check

Complete work for issue #781
  cli/src/commands/mcp.ts
  cli/src/mcp/resource-registry.ts
  cli/src/mcp/tool-registry.ts
  cli/src/mcp/tools/model-delete.ts
  cli/src/mcp/tools/model-export.ts
  cli/src/mcp/tools/model-reload.ts
  cli/src/mcp/tools/shared.ts
Due: eslint, typescript-check

Reflow broken comment paragraph in model-reload.ts
  cli/src/mcp/tools/model-reload.ts
Due: eslint, typescript-check

Complete work for issue #782
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

Complete work for issue #783
  cli/src/core/annotation-store.ts
Due: eslint, typescript-check

Complete work for issue #784
  cli/src/mcp/tools/model-add.ts
  cli/src/mcp/tools/model-search.ts
  cli/src/mcp/tools/model-validate.ts
  cli/tests/unit/mcp/model-tools.test.ts
Due: eslint, typescript-check
