Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #825
  cli/src/commands/validate.ts
  cli/tests/integration/validate-staged-changes-notice.test.ts
Due: eslint, typescript-check

test(cli): cover --orphans path for staged-changes validate notice
  cli/tests/integration/validate-staged-changes-notice.test.ts
Due: eslint

Complete repair cycle for issue #825
  cli/tests/integration/analyzers/discover.test.ts
Due: eslint

Complete work for issue #827
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/manifest.json
  spec/dist/data-model.json
  spec/dist/manifest.json
  spec/schemas/relationships/data-model/objectschema.maps-to.collection.relationship.schema.json
  spec/schemas/relationships/data-model/objectschema.serves.applicationcomponent.relationship.schema.json
  spec/schemas/relationships/data-model/objectschema.serves.applicationfunction.relationship.schema.json
Due: none

Complete work for issue #828
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/manifest.json
  spec/dist/application.json
  spec/dist/manifest.json
  spec/schemas/relationships/application/applicationservice.accesses.dataobject.relationship.schema.json
Due: none

fix: upgrade spec to v0.10.0 and rebuild schemas
  cli/src/core/migration-registry.ts
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  cli/src/utils/spec-version.ts
  cli/tests/integration/upgrade-command.test.ts
  spec/VERSION
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: eslint, typescript-check

fix: eliminate spurious cross-layer errors under --layers filtering
  cli/src/core/model.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/integration/validate-cross-layer-filtering.test.ts
Due: eslint, typescript-check

fix: address reviewer feedback on cross-layer filtering tests
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/integration/validate-cross-layer-filtering.test.ts
Due: eslint, typescript-check

Complete work for issue #857
  cli/src/core/virtual-projection.ts
  cli/tests/integration/validate-cross-layer-filtering.test.ts
Due: eslint, typescript-check

fix: address reviewer feedback on cross-layer filtering tests and design decision
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/integration/validate-cross-layer-filtering.test.ts
Due: eslint, typescript-check

fix: add error handling to reportStagedChangesIncluded in validate command
  cli/src/commands/validate.ts
  cli/tests/integration/validate-staged-changes-notice.test.ts
Due: eslint, typescript-check

fix: make corrupted changeset test exercise error handling path
  cli/tests/integration/validate-staged-changes-notice.test.ts
Due: eslint

fix: resolve cross-layer relationship validation issues under --layers filter
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

test: add tests for cross-layer relationship validation under --layers filter
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint

fix: revert cross-layer validation to match architectural design
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

fix: change objectschema.required from string to array type
  cli/src/schemas/bundled/data-model.json
  spec/dist/data-model.json
  spec/schemas/nodes/data-model/objectschema.node.schema.json
Due: none

fix: update test to use array type for required field
  cli/tests/integration/schema-validator-consistency.test.ts
Due: eslint

chore(release): bump CLI to v0.1.13
  CLAUDE.md
  cli/CHANGELOG.md
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/scripts/download-viewer.sh
  cli/tests/integration/model-legacy-migration.test.ts
  spec/CHANGELOG.md
Due: eslint

chore(release): bump CLI to v0.1.13 (#863)
  CLAUDE.md
  cli/CHANGELOG.md
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/scripts/download-viewer.sh
  cli/tests/integration/model-legacy-migration.test.ts
  spec/CHANGELOG.md
Due: eslint

fix: resolve cross-layer relationship validation issues under --layers filter
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

fix: revert cross-layer validation to correct design and remove false-green test
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

fix: apply loadedLayerFilter checks to ReferenceValidator and improve RelationshipValidator cross-layer validation
  cli/src/validators/reference-validator.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

fix: add unit tests for cross-layer validation filtering and optimize redundant lookups
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/validators/reference-validator.test.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

Complete work for issue #867
  cli/src/core/migration-registry.ts
  cli/tests/unit/migration-registry.test.ts
  spec/CHANGELOG.md
Due: eslint, typescript-check

feat: add read-safe default permissions module for AI client launchers
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: separate documentation-robotics and .dr scopes, implement scoped formatForClaudeCode
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

feat: wire read-safe permissions into Claude Code launch paths
  cli/src/coding-agents/claude-code-client.ts
  cli/src/server/server.ts
  cli/tests/integration/default-permissions-launch-paths.test.ts
Due: eslint, typescript-check

refactor: address code review feedback on default permissions launch paths
  cli/src/coding-agents/claude-code-client.ts
  cli/src/server/server.ts
  cli/tests/integration/default-permissions-launch-paths.test.ts
Due: eslint, typescript-check

Complete work for issue #834
  cli/src/coding-agents/copilot-client.ts
  cli/src/coding-agents/default-permissions.ts
  cli/src/server/server.ts
  cli/tests/integration/copilot-permissions-launch-paths.test.ts
Due: eslint, typescript-check

Phase 4: Cross-client verification and documentation
  cli/src/cli.ts
  cli/tests/integration/permission-parity-all-paths.test.ts
Due: eslint, typescript-check

fix: address code review feedback on permission parity tests and help text
  cli/src/cli.ts
  cli/tests/integration/permission-parity-all-paths.test.ts
Due: eslint, typescript-check

fix: extract shared Copilot permissions logic and fix code duplication
  cli/src/coding-agents/copilot-client.ts
  cli/src/coding-agents/default-permissions.ts
  cli/src/server/server.ts
  cli/tests/integration/copilot-permissions-launch-paths.test.ts
  cli/tests/integration/permission-parity-all-paths.test.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: implement fail-closed permission error recovery
  cli/src/coding-agents/default-permissions.ts
Due: eslint, typescript-check

fix: implement fail-closed permission error recovery and add test coverage
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: add proper test coverage for error recovery paths without conditional assertions
  cli/tests/unit/default-permissions.test.ts
Due: eslint

fix: enforce read-safe permission constraints at runtime during module initialization
  cli/src/coding-agents/default-permissions.ts
Due: eslint, typescript-check

test: add comprehensive unit test coverage for applyCopilotPermissions()
  cli/tests/unit/default-permissions.test.ts
Due: eslint

fix: restore spawnSync mocking and fix tautological assertions in applyCopilotPermissions tests
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

Complete work for issue #878
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check
