Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #853
  spec/analyzers/test-multiple-duplicate-edges/analyzer.json
  spec/analyzers/test-multiple-duplicate-edges/edge-mapping.json
  spec/analyzers/test-multiple-duplicate-edges/extraction-heuristics.json
  spec/analyzers/test-multiple-duplicate-edges/node-mapping.json
Due: none

Fix reference path parser: Error class, regex consistency, segment validation
  cli/src/utils/reference-path-parser.ts
Due: eslint, typescript-check

Fix reference path parser: align extractSegmentFromPath with parseReferencePath, update test
  cli/src/utils/reference-path-parser.ts
  cli/tests/unit/reference-path-parser.test.ts
Due: eslint, typescript-check

Complete work for issue #898
  cli/src/validators/composed-reference-validator.ts
Due: eslint, typescript-check

Fix Composed Reference Validator: YAML parsing, error handling, and test coverage
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/validate-composed-scope.test.ts
Due: eslint, typescript-check

Fix Reference Validator error handling: unsafe type assertion without instanceof
  cli/src/validators/reference-validator.ts
Due: eslint, typescript-check

Consolidate reference path parsing: eliminate duplicates and unused exports
  cli/src/utils/element-reference-shape.ts
  cli/src/utils/reference-path-parser.ts
  cli/tests/unit/reference-path-parser.test.ts
Due: eslint, typescript-check

Documentation & Tooling Guidance: Cross-Model References
  .claude/agents/dr-layers-expert.md
  CLAUDE.md
Due: none

Fix cross-model reference path example in CLAUDE.md
  CLAUDE.md
Due: none

Fix prettier and markdownlint formatting violations in CLAUDE.md
  CLAUDE.md
Due: none

Fix ComposedReferenceValidator error handling and dead state
  cli/src/validators/composed-reference-validator.ts
Due: eslint, typescript-check

Complete work for issue #903
  cli/src/utils/reference-path-parser.ts
  cli/tests/unit/reference-path-parser.test.ts
Due: eslint, typescript-check

Add type validation for manifest models field
  cli/src/core/model.ts
  cli/tests/unit/core/model-manifest-validation.test.ts
Due: eslint, typescript-check

Fix cross-model reference documentation format
  CLAUDE.md
Due: none

Fix YAML code block indentation in CLAUDE.md
  CLAUDE.md
Due: none

Complete work for issue #906
  cli/src/cli.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/validate-composed-scope.test.ts
Due: eslint, typescript-check

Add early check for non-directory modelPath in resolveExternalModel
  cli/src/validators/composed-reference-validator.ts
Due: eslint, typescript-check

Complete work for issue #907
  cli/src/validators/composed-reference-validator.ts
  cli/src/validators/reference-validator.ts
  cli/tests/unit/validators/reference-validator.test.ts
Due: eslint, typescript-check

Address cross-model reference case handling feedback
  cli/src/validators/composed-reference-validator.ts
  cli/tests/unit/validators/composed-reference-validator.test.ts
Due: eslint, typescript-check

Fix tmpdir usage in ComposedReferenceValidator tests
  cli/tests/unit/validators/composed-reference-validator.test.ts
Due: eslint

Fix model-manifest-validation tests using shared tmpdir
  cli/tests/unit/core/model-manifest-validation.test.ts
Due: eslint

Fix model-manifest-validation tests to work with concurrent test execution
  cli/tests/unit/core/model-manifest-validation.test.ts
Due: eslint

[Phase 1] Dual-root foundation for detached model layout
  cli/src/analyzers/verify-engine.ts
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/src/types/index.ts
  cli/src/utils/project-paths.ts
  cli/tests/unit/dual-root.test.ts
  cli/tests/unit/project-paths.test.ts
  cli/tests/unit/verify-engine-dual-root.test.ts
Due: eslint, typescript-check

Fix verify-engine dual-root tests and hardcoded temp paths
  cli/tests/unit/dual-root.test.ts
  cli/tests/unit/verify-engine-dual-root.test.ts
Due: eslint

[Phase 2] Farm manifest and discovery
  cli/src/cli.ts
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
  cli/src/core/model.ts
  cli/src/types/index.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Phase 3: Farm-aware validation and platform view
  cli/src/commands/farm.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Fix Phase 3 farm validation tests and implement --output option
  cli/src/commands/farm.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Phase 4: Headless sync engine
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/src/core/farm-sync-state.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Address Phase 4 review feedback: security, test stability, and changeset generation
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Complete work for issue #912
  cli/src/commands/farm.ts
  docs/FARM_AUTOMATION.md
Due: eslint, typescript-check

Fix shared mutable state, exit codes, type safety, and missing tests
  cli/src/commands/farm.ts
  cli/tests/ci-smoke.manifest.ts
  cli/tests/integration/farm-commands-json.test.ts
  docs/FARM_AUTOMATION.md
Due: eslint, typescript-check

Simplify farm JSON format tests to smoke test level
  cli/tests/integration/farm-commands-json.test.ts
Due: eslint

Fix review feedback: shared mutable state, smoke tests, and YAML formatting
  cli/src/core/model.ts
  cli/tests/integration/farm-commands-json.test.ts
  docs/FARM_AUTOMATION.md
Due: eslint, typescript-check

Fix smoke tests to call command functions directly
  cli/tests/integration/farm-commands-json.test.ts
Due: eslint

Fix farm command tests to properly mock process.exit
  cli/tests/integration/farm-commands-json.test.ts
Due: eslint

Complete work for issue #914
  cli/src/analyzers/verify-engine.ts
Due: eslint, typescript-check

Remove large generated Neo4j export files from repository
  spec/neo4j/.gitignore
  spec/neo4j/csv/edges.csv
  spec/neo4j/csv/nodes.csv
  spec/neo4j/import.cypher
Due: none

Exclude docs/logo/ from large file check
  .pre-commit-config.yaml
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

