Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #755
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/QUICK_START.md
  integrations/claude_code/docs/README.md
Due: none

Fix copilot-manager crash on unknown components
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Fix copilot-manager: eliminate duplicate warning and add regression test
  cli/src/integrations/copilot-manager.ts
  cli/tests/integration/copilot-command.test.ts
Due: eslint, typescript-check

Complete work for issue #756
  cli/src/integrations/copilot-manager.ts
  cli/tests/integration/copilot-command.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #756
  cli/test-copilot-upgrade.sh
  cli/tests/integration/copilot-command.test.ts
Due: eslint

Fix analyzer status documentation accuracy for index.stale field
  integrations/claude_code/commands/dr-verify.md
Due: none

Complete work for issue #758
  cli/src/integrations/claude-manager.ts
  cli/src/integrations/copilot-manager.ts
Due: eslint, typescript-check

Add comprehensive test coverage for claude/copilot integration managers
  cli/tests/integration/claude-command.test.ts
  cli/tests/integration/copilot-command.test.ts
Due: eslint

Fix test coverage issues: redundant imports and vacuous assertions
  cli/tests/integration/claude-command.test.ts
  cli/tests/integration/copilot-command.test.ts
Due: eslint

Fix SKILL.md specification compliance for dr_codebase_memory
  integrations/claude_code/skills/dr_codebase_memory/SKILL.md
Due: none

Fix analyzer verify command format flag warnings
  cli/src/commands/analyzer.ts
Due: eslint, typescript-check

Add test coverage for analyzer verify warning behaviors
  cli/tests/integration/analyzers/subcommands.test.ts
Due: eslint

Fix canonical bucket terminology and dr add command syntax in documentation
  integrations/claude_code/agents/dr-extractor.md
  integrations/claude_code/commands/dr-map.md
Due: none

Fix stale terminology in dr-map.md Step 6b
  integrations/claude_code/commands/dr-map.md
Due: none

Fix walkthrough and reference documentation
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
  integrations/claude_code/docs/README.md
Due: none

Restructure Step 2 to present analyzer choice before detailed setup
  integrations/claude_code/docs/END_TO_END_WALKTHROUGH.md
Due: none

Remove broken development script test-copilot-upgrade.sh
  cli/test-copilot-upgrade.sh
Due: none

[Fix] CBM analyzer: correct MCP protocol, tool contract, and environment-independent tests
  Dockerfile.agent
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/stdio-client.ts
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/tests/fixtures/mock-analyzer.cjs
  cli/tests/integration/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/cbm-analyzer.test.ts
  cli/tests/unit/analyzers/stdio-client.test.ts
  spec/analyzers/cbm/analyzer.json
  spec/dist/analyzers/cbm.json
Due: eslint, typescript-check

Filter Route nodes by qualified_name before endpoint extraction
  cli/src/analyzers/cbm-analyzer.ts
Due: eslint, typescript-check

Add unit test asserting Claude Code integration command bundle
  cli/tests/unit/integrations/claude-bundle.test.ts
Due: eslint

Fix dr analyzer verify: qualified_name filter, total_model_entries accuracy, headless safety
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/types.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/export/verify-formatters.ts
  integrations/claude_code/commands/dr-verify.md
Due: eslint, typescript-check

Bump CLI version to 0.1.4
  cli/package.json
Due: none

Fix 9 adventure-session bugs across analyzer, conformance, validate, and relationship commands
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/commands/conformance.ts
  cli/src/commands/relationship.ts
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Address code review findings on adventure-session bug fixes
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/commands/conformance.ts
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Fix dr analyzer: endpoints false positives, callers/callees Cypher fallback, services dedup, verify UX
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/types.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/export/verify-formatters.ts
Due: eslint, typescript-check

Fix predicate validation: use generated relationship index as source of truth
  cli/src/schemas/bundled/base.json
  cli/src/validators/semantic-validator.ts
  spec/dist/base.json
  spec/schemas/base/predicates.json
  spec/scripts/build-spec.ts
Due: eslint, typescript-check

Strengthen Phase 4.5: AJV schema validation, inverse integrity, symmetry checks
  cli/src/schemas/bundled/base.json
  spec/dist/base.json
  spec/schemas/base/predicate-catalog.schema.json
  spec/schemas/base/predicates.json
  spec/scripts/build-spec.ts
Due: none

Remove redundant predicate representations
  cli/src/commands/validate.ts
  cli/src/core/spec-data-service.ts
  cli/src/core/spec-loader.ts
Due: eslint, typescript-check

Bump spec version to 0.8.4
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  cli/src/utils/spec-version.ts
  spec/VERSION
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: eslint, typescript-check

Fix BUG-ADV-001 and BUG-ADV-002 from 2026-04-12 adventure run
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Surface dedup skips, cap stdout, add audit medium-gap hint, fix dr-design Step 10
  cli/src/commands/changeset.ts
  cli/src/core/staging-area.ts
  cli/src/export/audit-formatters.ts
  integrations/claude_code/commands/dr-design.md
Due: eslint, typescript-check

Fix four adventure-session bugs: self-loops, leading-hyphen IDs, collision warnings, explicit stage
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/commands/catalog.ts
  cli/src/commands/changeset.ts
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Address code review findings: reflexivity, type:add, dedup guard, datastore collision, helper
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/commands/catalog.ts
  cli/src/commands/changeset.ts
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Fix 10 bugs from beta-testing: analyzer, audit, conformance, changeset
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/audit/relationships/model/coverage-analyzer.ts
  cli/src/audit/relationships/model/duplicate-detector.ts
  cli/src/cli.ts
  cli/src/commands/changeset.ts
  cli/src/commands/conformance.ts
  cli/src/core/staging-area.ts
  cli/src/export/diff-formatters.ts
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-design.md
Due: eslint, typescript-check

Fix ISSUE-003 and ISSUE-022: client-side endpoint/datastore detection and verify filter hardening
  cli/src/analyzers/cbm-analyzer.ts
  cli/tests/unit/analyzers/verify-engine.test.ts
Due: eslint, typescript-check

Fix 3 critical delete bugs: relationship cleanup, non-TTY blocking, stale orphan detection
  cli/src/cli.ts
  cli/src/commands/delete.ts
  cli/src/core/migration-registry.ts
Due: eslint, typescript-check

Implement B1 (dr list optional layer) and B2 (dr update --type)
  cli/src/cli.ts
  cli/src/commands/list.ts
  cli/src/commands/update.ts
  cli/src/core/layer.ts
Due: eslint, typescript-check

Fix spec gap, integration docs, and dr-map completion protocol
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/manifest.json
  integrations/claude_code/agents/dr-architect.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/commands/dr-validate.md
  integrations/claude_code/skills/dr_08_dataset_layer/SKILL.md
  spec/dist/data-store.json
  spec/dist/manifest.json
  spec/schemas/relationships/data-store/collection.serves.applicationservice.relationship.schema.json
Due: none

Fix ISSUE-026 through ISSUE-030: api.operation schema, validation, verify, CBM, projection
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/core/element.ts
  cli/src/core/virtual-projection.ts
  cli/src/schemas/bundled/api.json
  spec/dist/api.json
  spec/schemas/nodes/api/operation.node.schema.json
Due: eslint, typescript-check

Fix code review issues: schema naming, warning threshold, staging commit, cbm fallback
  cli/src/analyzers/cbm-analyzer.ts
  cli/src/analyzers/verify-engine.ts
  cli/src/core/staging-area.ts
  cli/src/schemas/bundled/api.json
  cli/tests/unit/test-element-conversion.ts
  spec/dist/api.json
  spec/schemas/nodes/api/operation.node.schema.json
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

