Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete work for issue #661
  .dr-config.README.md
  cli/CONTRIBUTING.md
  cli/docs/COMMAND_LIFECYCLE.md
  cli/docs/TEST-INSTRUMENTATION.md
  cli/otel-send-config.example.yml
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-info.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/commands/dr-validate.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  spec/analyzers/README.md
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-heuristics.schema.json
  spec/schemas/base/analyzer-spec.schema.json
Due: none

Complete work for issue #661
  cli/src/reports/model-report-data.ts
  cli/tests/unit/reports/model-report-data.test.ts
Due: eslint, typescript-check

Complete work for issue #661
  cli/src/cli.ts
  cli/src/core/migration-registry.ts
  cli/tests/helpers/golden-copy.ts
  cli/tests/integration/upgrade-command.test.ts
  integrations/claude_code/commands/dr-changeset.md
Due: eslint, typescript-check

Complete work for issue #662
  spec/analyzers/cbm/analyzer.json
  spec/analyzers/cbm/edge-mapping.json
  spec/analyzers/cbm/extraction-heuristics.json
  spec/analyzers/cbm/node-mapping.json
Due: none

Add missing analyzer content: unmapped_labels, confidence_rubric, datastore_detection, and verify_scope_v1
  spec/analyzers/cbm/extraction-heuristics.json
  spec/analyzers/cbm/node-mapping.json
  spec/schemas/base/analyzer-heuristics.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
Due: none

Complete work for issue #662
  spec/analyzers/cbm/analyzer.json
  spec/analyzers/cbm/extraction-heuristics.json
Due: none

Phase 3: Extend build-spec.ts for analyzers and sync CLI schemas
  cli/scripts/sync-spec-schemas.sh
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/scripts/build-spec.ts
Due: none

Fix Phase 3 review issues: PascalCase nodes_by_label and code cleanup
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/dist/analyzers/cbm.json
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #664
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/CHANGELOG.md
Due: eslint

Phase 4 Revision 1: Add comprehensive test coverage for analyzer validation
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/CHANGELOG.md
  spec/scripts/build-spec.ts
Due: eslint

Complete work for issue #666
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  package-lock.json
  package.json
  spec/scripts/build-spec.ts
Due: eslint

Fix Analyzer Build Pipeline: Use actual schemas and fix interface types
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/scripts/build-spec.ts
Due: eslint

Complete work for issue #667
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/analyzers/cbm/analyzer.json
  spec/analyzers/cbm/edge-mapping.json
  spec/analyzers/cbm/node-mapping.json
  spec/dist/analyzers/cbm.json
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
  spec/schemas/base/analyzer-spec.schema.json
Due: none

fix: Address code review feedback for CBM Analyzer Data Compliance
  spec/analyzers/cbm/node-mapping.json
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
  spec/scripts/build-spec.ts
Due: none

fix: Address documentation accuracy in README and CHANGELOG
  spec/CHANGELOG.md
  spec/analyzers/README.md
  spec/schemas/base/analyzer-spec.schema.json
Due: none

fix: Correct validation documentation to reflect actual Ajv schema validation and dr_layer attribution
  spec/analyzers/README.md
Due: none

Complete work for issue #669
  cli/tests/unit/migration-registry.test.ts
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
Due: eslint

fix: Remove throw statement from cleanupTestAnalyzer to prevent masking test failures
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
Due: eslint

Complete work for issue #670
  cli/src/core/migration-registry.ts
Due: eslint, typescript-check

Complete work for issue #671
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
Due: eslint

fix: Add stale directory cleanup safety net and track installed analyzers
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
Due: eslint

Complete work for issue #672
  spec/scripts/build-spec.ts
Due: none

fix: Use Ajv's error message for type validation errors instead of undefined data property
  spec/scripts/build-spec.ts
Due: none

fix: Add missing AnalyzerSpec fields and implement dynamic predicate enum reference
  cli/src/schemas/bundled/base.json
  spec/dist/base.json
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/predicate-enum.schema.json
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #674
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/analyzers/cbm/analyzer.json
  spec/dist/analyzers/cbm.json
  spec/schemas/base/analyzer-spec.schema.json
Due: none

fix: Update TypeScript interfaces and test fixtures to match analyzer-spec schema
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/schemas/base/analyzer-spec.schema.json
  spec/scripts/build-spec.ts
Due: eslint

fix: Address PR feedback for Mapping Data Compliance
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/analyzers/cbm/edge-mapping.json
  spec/analyzers/cbm/node-mapping.json
  spec/dist/analyzers/cbm.json
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
  spec/scripts/build-spec.ts
Due: none

fix: Update test assertions and documentation to use new analyzer field names
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/analyzers/README.md
  spec/scripts/build-spec.ts
Due: eslint

Complete work for issue #675
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
Due: none

fix: Address documentation accuracy issues
  spec/CHANGELOG.md
  spec/analyzers/README.md
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #677
  spec/analyzers/README.md
Due: none

Complete work for issue #678
  spec/schemas/base/analyzer-spec.schema.json
  spec/scripts/build-spec.ts
Due: none

fix: Make metadata.version required in analyzer schema and update description
  spec/schemas/base/analyzer-spec.schema.json
Due: none

Fix CBM Analyzer Definition per PR feedback
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/analyzers/cbm/analyzer.json
  spec/dist/analyzers/cbm.json
  spec/schemas/base/analyzer-spec.schema.json
Due: none

fix: Restructure supported_tool_contract to flat format and remove metadata block
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  spec/analyzers/cbm/analyzer.json
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/schemas/base/analyzer-spec.schema.json
  spec/scripts/build-spec.ts
Due: eslint

Complete work for issue #679
  spec/analyzers/cbm/analyzer.json
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #679
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
Due: none

fix: Restructure CBM mapping files to match spec definition
  cli/src/schemas/bundled/analyzers/cbm.json
  spec/analyzers/cbm/edge-mapping.json
  spec/analyzers/cbm/node-mapping.json
  spec/dist/analyzers/cbm.json
  spec/schemas/base/analyzer-node-mapping.schema.json
Due: none

test: Add coverage for duplicate detection logic in build-spec.ts
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
Due: eslint

[Feature] Spec: introduce spec/analyzers/ and author cbm mapping (#665)
  .dr-config.README.md
  cli/CONTRIBUTING.md
  cli/docs/COMMAND_LIFECYCLE.md
  cli/docs/TEST-INSTRUMENTATION.md
  cli/otel-send-config.example.yml
  cli/scripts/sync-spec-schemas.sh
  cli/src/cli.ts
  cli/src/core/migration-registry.ts
  cli/src/reports/model-report-data.ts
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/analyzers/manifest.json
  cli/src/schemas/bundled/base.json
  cli/tests/helpers/golden-copy.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/unit/migration-registry.test.ts
  cli/tests/unit/reports/model-report-data.test.ts
  cli/tests/unit/scripts/build-spec-analyzers.test.ts
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-info.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-relate.md
  integrations/claude_code/commands/dr-validate.md
  integrations/claude_code/skills/dr_04_application_layer/SKILL.md
  package-lock.json
  package.json
  spec/CHANGELOG.md
  spec/analyzers/README.md
  spec/analyzers/cbm/analyzer.json
  spec/analyzers/cbm/edge-mapping.json
  spec/analyzers/cbm/extraction-heuristics.json
  spec/analyzers/cbm/node-mapping.json
  spec/dist/analyzers/cbm.json
  spec/dist/analyzers/manifest.json
  spec/dist/base.json
  spec/schemas/base/analyzer-edge-mapping.schema.json
  spec/schemas/base/analyzer-heuristics.schema.json
  spec/schemas/base/analyzer-node-mapping.schema.json
  spec/schemas/base/analyzer-spec.schema.json
  spec/schemas/base/predicate-enum.schema.json
  spec/scripts/build-spec.ts
Due: eslint, typescript-check
