Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

fix: Add fallback success message in delete command when getBeforeState() is falsy
  cli/src/commands/delete.ts
Due: eslint, typescript-check

Complete work for issue #620
  cli-validation/test-project/ts-cli-1/.baseline-checksums.json
  cli-validation/test-project/ts-cli-2/.baseline-checksums.json
  cli-validation/test-project/ts-cli-3/.baseline-checksums.json
  cli-validation/test-project/ts-cli-3/export-model.xml
  cli-validation/test-project/ts-cli-3/export-test.graphml
  cli-validation/test-project/ts-cli-3/export-test.md
  cli-validation/test-project/ts-cli-4/.baseline-checksums.json
Due: none

Complete work for issue #621
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/tests/worker.test.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #622
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

fix: Eliminate cascading error wrapping and clarify schema load check
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

fix: CLI Validation Test Runner - address PR review feedback
  cli-validation/test-suite/executor.ts
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/tests/test-runner.test.ts
  cli-validation/test-suite/types.ts
Due: none

fix: Import assertValidWorkerResult and use node:assert in tests
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/tests/test-runner.test.ts
Due: none

fix: CLI Validation Worker - address PR review feedback
  cli-validation/test-suite/types.ts
  cli-validation/test-suite/worker.ts
Due: none

fix: Address PR review feedback on CLI Validation Worker
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/types.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #625
  cli-validation/test-suite/comparator.ts
  cli-validation/test-suite/tests/comparator.test.ts
Due: none

fix: Address PR review feedback on CLI Validation Comparator tests
  cli-validation/test-suite/tests/comparator.test.ts
Due: none

fix: Test for non-filesystem error re-throw in captureTargetedSnapshot
  cli-validation/test-suite/tests/comparator.test.ts
Due: none

Complete work for issue #626
  cli-validation/test-suite/setup.ts
  cli/scripts/populate-baseline-model.ts
Due: eslint

refactor: Extract shared helper for path marker extraction
  cli-validation/test-suite/setup.ts
Due: none

fix: Restore correct marker in resolveWorkspaceRoot for path extraction
  cli-validation/test-suite/setup.ts
Due: none

Complete work for issue #627
  cli-validation/test-suite/tests/worker.test.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #628
  cli-validation/test-suite/reporters/reporter.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Fix dr audit false-positive duplicates, surface source_reference in normal validate, fix dr-map baseline count timing
  cli/src/audit/relationships/model/duplicate-detector.ts
  cli/src/commands/validate.ts
  integrations/claude_code/commands/dr-map.md
Due: eslint, typescript-check

Fix telemetry env var collision: config file now beats ambient OTEL_* env vars
  cli/src/telemetry/config.ts
  cli/tests/integration/telemetry-config-integration.test.ts
  cli/tests/unit/telemetry/config.test.ts
Due: eslint, typescript-check

Fix telemetry span hierarchy, add selective layer loading, parallelize schema validation
  cli/src/cli.ts
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/commands/info.ts
  cli/src/commands/list.ts
  cli/src/commands/search.ts
  cli/src/commands/validate.ts
  cli/src/core/model.ts
  cli/src/core/staging-area.ts
  cli/src/telemetry/index.ts
  cli/src/types/index.ts
  cli/src/validators/validator.ts
Due: eslint, typescript-check

Fix RBAC cardinality and allow source_reference without locations for inferred/generated elements
  cli/src/commands/search.ts
  cli/src/commands/show.ts
  cli/src/export/markdown-exporter.ts
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/security.json
  cli/src/types/source-reference.ts
  cli/src/utils/source-reference.ts
  integrations/claude_code/commands/dr-design.md
  spec/dist/base.json
  spec/dist/security.json
  spec/schemas/base/source-references.schema.json
  spec/schemas/relationships/security/role.authorizes.permission.relationship.schema.json
Due: eslint, typescript-check

Fix span hierarchy, show relationships, targeted model loading, skill docs
  cli/src/commands/changeset.ts
  cli/src/commands/info.ts
  cli/src/commands/show.ts
  cli/src/commands/validate.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/src/validators/schema-validator.ts
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-info.md
  integrations/claude_code/commands/dr-model.md
  integrations/claude_code/commands/dr-validate.md
Due: eslint, typescript-check

Latest test fixes
  cli-validation/test-project/baseline/documentation-robotics/changesets/.active
  cli-validation/test-project/baseline/documentation-robotics/model/01_motivation/goal.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/relationships.yaml
Due: none

Add reports regenerate command and upgrade check for missing reports
  cli/src/cli.ts
  cli/src/commands/reports.ts
  cli/src/commands/upgrade.ts
Due: eslint, typescript-check

cleanup
  REVISION_NOTES_599.md
Due: none

Complete work for issue #631
  cli/src/cli.ts
  cli/src/commands/scan.ts
  cli/src/scan/session-manager.ts
  cli/tests/integration/scan-session-lifecycle.test.ts
  docs/adr/ADR-006-codeprism-session-lifecycle.md
Due: eslint, typescript-check

Fix session architecture issues and high-priority feedback
  cli/src/commands/scan.ts
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Fix session architecture to align on-demand model with actual implementation
  cli/src/scan/session-manager.ts
Due: eslint, typescript-check

Complete work for issue #631
  docs/adr/ADR-006-codeprism-session-lifecycle.md
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-info.md
  integrations/claude_code/commands/dr-map.md
  integrations/claude_code/commands/dr-validate.md
Due: none

Complete work for issue #631
  cli/src/scan/session-manager.ts
  cli/tests/integration/scan-changeset-partial-failure.test.ts
  cli/tests/integration/scan-session-lifecycle.test.ts
  integrations/claude_code/commands/dr-changeset.md
  integrations/claude_code/commands/dr-info.md
Due: eslint, typescript-check

Implement Phase 2: Index command with freshness cache
  cli/src/commands/scan.ts
  cli/src/scan/index-builder.ts
  cli/tests/integration/scan-index-freshness-batch.test.ts
  cli/tests/integration/scan-index.test.ts
  cli/tests/unit/scan/index-freshness.test.ts
Due: eslint, typescript-check

Fix Phase 2 review feedback
  cli/src/commands/scan.ts
  cli/src/scan/index-builder.ts
  cli/tests/integration/scan-index-freshness-batch.test.ts
  cli/tests/integration/scan-index.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #632
  integrations/claude_code/commands/dr-info.md
Due: none

Complete work for issue #633
  cli/src/commands/scan.ts
  cli/src/commands/validate.ts
  cli/src/scan/ref-validator.ts
  cli/tests/integration/scan-validate-refs.test.ts
  cli/tests/unit/scan/ref-validator.test.ts
Due: eslint, typescript-check

Revision 1: Fix Phase 3 source reference validation review feedback
  cli/src/commands/scan.ts
  cli/src/commands/validate.ts
  cli/src/scan/ref-validator.ts
  cli/tests/integration/scan-validate-refs.test.ts
Due: eslint, typescript-check

Implement Phase 4: Semantic pattern evolution with batch_analysis dispatch
  cli/docs/SCAN_ARCHITECTURE.md
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/src/scan/patterns/api/express.yaml
  cli/src/scan/patterns/api/nestjs.yaml
  cli/src/scan/patterns/application/nestjs-service.yaml
  cli/src/scan/patterns/data-model/prisma.yaml
  cli/src/scan/patterns/data-model/typeorm.yaml
  cli/src/scan/patterns/motivation/architectural-patterns.yaml
  cli/tests/integration/scan-pattern-loading.test.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Fix Phase 4 review feedback: resolve control flow bug, eliminate duplication, fix schema ordering, remove Phase 4 naming, add missing fallback patterns
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/src/scan/patterns/api/express.yaml
  cli/src/scan/patterns/api/nestjs.yaml
  cli/src/scan/patterns/application/nestjs-service.yaml
  cli/src/scan/patterns/data-model/prisma.yaml
  cli/src/scan/patterns/data-model/typeorm.yaml
  cli/src/scan/patterns/motivation/architectural-patterns.yaml
  cli/tests/integration/scan-pattern-loading.test.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Remove "Phase 4" naming references from SCAN_ARCHITECTURE.md
  cli/docs/SCAN_ARCHITECTURE.md
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

