Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

fix: validate Bash permission scope restriction in addition to description
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: enforce read-safe permission boundary constraints in default-permissions.ts
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: update JSDoc examples and add comprehensive negative-path tests for validatePermissions
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

fix: correct test data for NotebookEdit negative test to isolate tool allowlist check
  cli/tests/unit/default-permissions.test.ts
Due: eslint

Complete work for issue #880
  cli/tests/integration/copilot-permissions-launch-paths.test.ts
  cli/tests/integration/default-permissions-launch-paths.test.ts
  cli/tests/integration/permission-parity-all-paths.test.ts
Due: eslint

fix: implement fail-closed default-mode graceful degradation for Copilot permissions
  cli/src/coding-agents/default-permissions.ts
  cli/tests/unit/default-permissions.test.ts
Due: eslint, typescript-check

[Phase 1] Add model README data layer: ModelReadmeData and collectModelData()
  cli/src/reports/model-report-data.ts
  cli/tests/unit/reports/model-report-data.test.ts
Due: eslint, typescript-check

[Revision 1] Address review feedback on Phase 1 implementation
  cli/src/reports/model-layer-report-generator.ts
  cli/src/reports/model-report-data.ts
  cli/src/reports/model-report-orchestrator.ts
  cli/src/reports/model-report-utils.ts
  cli/tests/unit/reports/model-report-data.test.ts
Due: eslint, typescript-check

fix: replace 'as any' with proper 'as CanonicalLayerName' cast in model layer report generator
  cli/src/reports/model-layer-report-generator.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  cli/package-lock.json
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #0
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #843
  .mcp.json
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  cli-validation/test-project/baseline/documentation-robotics/model/manifest.yaml
  cli/tests/integration/upgrade-command.test.ts
Due: eslint

Complete work for issue #0
  cli/src/utils/spec-version.ts
  cli/tests/integration/commands.test.ts
  cli/tests/unit/generation/extract-layers.test.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Complete work for issue #843
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/relationship-validation.yaml
  cli-validation/test-suite/test-cases/relationships.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Implement ModelReadmeGenerator for model README documentation
  cli/src/reports/model-readme-generator.ts
  cli/tests/unit/reports/model-readme-generator.test.ts
Due: eslint, typescript-check

Simplify ModelReadmeGenerator tests for reliability
  cli/tests/unit/reports/model-readme-generator.test.ts
Due: eslint

Use layer.reportFileName from data contract instead of recomputing
  cli/src/reports/model-readme-generator.ts
Due: eslint, typescript-check

Complete repair cycle for issue #844
  .mcp.json
Due: none

Add back-links from layer reports to README
  cli/src/reports/model-layer-report-generator.ts
  cli/tests/integration/reports/model-reports.test.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #846
  cli/src/coding-agents/agents/claude-code.ts
  cli/src/reports/model-layer-report-generator.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #847
  cli/src/commands/init.ts
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/integration/init-command.test.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

Fix README generation issues from code review feedback
  cli/src/commands/reports.ts
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/integration/init-command.test.ts
Due: eslint, typescript-check

Remove unused execSync import from init-command.test.ts
  cli/tests/integration/init-command.test.ts
Due: eslint

Phase 6: Regression validation and golden-data updates
  cli-validation/test-project/baseline/documentation-robotics/README.md
  cli-validation/test-project/baseline/documentation-robotics/reports/01-motivation-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/02-business-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/03-product-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/04-security-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/05-application-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/06-technology-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/07-api-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/08-data-model-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/09-data-store-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/10-ux-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/11-navigation-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/12-apm-layer-report.md
  cli-validation/test-project/baseline/documentation-robotics/reports/13-testing-layer-report.md
  cli/src/commands/reports.ts
  cli/src/reports/model-readme-generator.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix test assertions to match correct README path
  cli/tests/integration/init-command.test.ts
  cli/tests/integration/reports/model-reports.test.ts
  cli/tests/unit/reports/model-readme-generator.test.ts
Due: eslint

Complete work for issue #883
  cli/src/coding-agents/agents/claude-code.ts
  cli/tests/unit/coding-agents/claude-code-agent.test.ts
Due: eslint, typescript-check

Complete work for issue #884
  cli/src/commands/init.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix README footer timestamp inconsistency
  cli/src/reports/model-readme-generator.ts
  cli/src/reports/model-report-orchestrator.ts
  cli/tests/unit/reports/model-readme-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #886
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix Docker entrypoint npm install error visibility
  docker-entrypoint-agent.sh
Due: none

Complete work for issue #888
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/src/reports/model-report-data.ts
  cli/src/types/index.ts
  cli/tests/unit/reports/model-report-data.test.ts
Due: eslint, typescript-check

Complete work for issue #869
  cli/src/utils/source-reference.ts
  cli/tests/integration/source-reference.test.ts
  cli/tests/unit/source-reference.test.ts
Due: eslint, typescript-check

Phase 2: Suppress ANSI color output on non-TTY stdout
  cli/src/cli.ts
  cli/tests/integration/ansi-suppression.test.ts
Due: eslint, typescript-check

Fix ANSI suppression tests and remove task-specific requirement IDs
  cli/src/cli.ts
  cli/tests/integration/ansi-suppression.test.ts
Due: eslint, typescript-check

Fix ANSI suppression test syntax and attributes
  cli/tests/integration/ansi-suppression.test.ts
Due: eslint

Phase 3: Add --model <path> parity to all mutating commands
  cli/src/cli.ts
  cli/src/commands/add.ts
  cli/src/commands/changeset.ts
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Phase 4: Consolidate output handling for update, delete, and relationship commands
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
  cli/src/utils/errors.ts
Due: eslint, typescript-check

Fix review feedback: restore cascade confirmation, fix warning output stream, capitalize detail keys, and deduplicate success block
  cli/src/commands/delete.ts
  cli/src/commands/relationship.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

