Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #472
  cli/tests/integration/element-command.test.ts
  cli/tests/unit/core/element.test.ts
  cli/tests/unit/core/staged-changeset.test.ts
Due: eslint

Complete work for issue #472
  cli/tests/integration/claude-command.test.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/conformance-command.test.ts
  cli/tests/integration/copilot-command.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/error-scenarios.test.ts
  cli/tests/integration/info-command.test.ts
  cli/tests/integration/source-reference.test.ts
  cli/tests/integration/stats-command.test.ts
  cli/tests/integration/upgrade-command.test.ts
  cli/tests/integration/version-command.test.ts
Due: eslint

Fix: Restore semantic ID fallback in RelationshipValidator.findElementInModel (#473)
  cli/src/validators/relationship-schema-validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

Complete work for issue #474
  cli/src/core/element.ts
  cli/src/core/manifest.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #474
  cli/src/core/element.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #474
  cli/src/core/virtual-projection.ts
  cli/tests/integration/commands.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #474
  .playwright-mcp/page-2026-03-06T21-36-27-893Z.png
Due: none

Complete work for issue #475
  cli/src/commands/add.ts
  cli/src/commands/element.ts
  cli/src/commands/update.ts
Due: eslint, typescript-check

Complete work for issue #475
  cli/src/cli.ts
  cli/src/utils/errors.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/error-scenarios.test.ts
Due: eslint, typescript-check

fix: update compatibility test suite to use --attributes instead of --properties
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

fix: add baseline integrity restoration and post-test validation to prevent test contamination
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
Due: none

fix: enable CI workflow to run on all branches
  .github/workflows/cli-tests.yml
Due: none

Complete work for issue #476
  cli/src/core/virtual-projection.ts
Due: eslint, typescript-check

Complete work for issue #478
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/golden-copy-cache.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/core/reference-registry.ts
  cli/src/server/schemas.ts
  cli/src/types/index.ts
Due: eslint, typescript-check

Complete work for issue #478
  cli/src/core/golden-copy-cache.ts
  cli/src/core/model.ts
  cli/src/core/reference-registry.ts
  cli/src/server/server.ts
Due: eslint, typescript-check

Complete work for issue #478
  cli/src/core/element.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/server/server.ts
  cli/src/types/index.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Complete work for issue #478
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Strip legacy code from core modules
  cli/src/core/element.ts
  cli/src/core/layer.ts
  cli/src/core/manifest.ts
  cli/src/core/model.ts
  cli/src/core/virtual-projection.ts
  cli/src/types/index.ts
  cli/tests/unit/core/element.test.ts
  cli/tests/unit/core/layer.test.ts
  cli/tests/unit/core/reference-registry-compat.test.ts
Due: eslint, typescript-check

Fix compilation errors from legacy code stripping
  cli/src/commands/add.ts
  cli/src/core/graph-model.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/src/server/server.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Clean up stale JSDoc and unnecessary bare block
  cli/src/core/model.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Fix stale JSDoc summary in relationship-schema-validator
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Complete work for issue #479
  cli/tests/unit/server/visualization-server.test.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint

Complete work for issue #479
  cli/src/core/layer.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Complete work for issue #479
  cli/src/core/model.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/integration/export-command.test.ts
  cli/tests/integration/layer-naming-validation.test.ts
  cli/tests/integration/mermaid-markdown-export.test.ts
Due: eslint, typescript-check

Fix semantic ID lookup when --name option differs from element name parameter
  cli/src/commands/add.ts
  cli/src/core/layer.ts
Due: eslint, typescript-check

Fix semantic ID lookup for elements with underscores in semanticName
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli/src/core/layer.ts
Due: eslint, typescript-check

Fix test issues with Element properties and attributes field names
  cli/tests/compatibility/model-format.test.ts
  cli/tests/unit/export/archimate-exporter.test.ts
  cli/tests/unit/export/markdown-exporter.test.ts
  cli/tests/unit/export/markdown-generator.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
  cli/tests/unit/server/visualization-server.test.ts
  cli/tests/unit/virtual-projection.test.ts
  docs/api-spec.yaml
Due: eslint

Complete work for issue #479
  cli/src/core/element.ts
  cli/src/export/archimate-exporter.ts
  cli/src/export/plantuml-exporter.ts
  cli/test_debug.ts
  cli/tests/unit/export/archimate-exporter.test.ts
Due: eslint, typescript-check

Complete work for issue #480
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #481
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #484
  cli/src/core/changeset-exporter.ts
  cli/src/core/changeset.ts
  cli/src/core/staged-changeset-storage.ts
  cli/tests/unit/core/changeset-migration.test.ts
Due: eslint, typescript-check

Complete work for issue #484
  cli/src/core/changeset-exporter.ts
  cli/tests/unit/core/manifest.test.ts
Due: eslint, typescript-check

Complete work for issue #484
  cli/tests/unit/core/manifest.test.ts
Due: eslint

Fix: Remove semantic ID fallback from layer.getElement() and update tests
  cli/src/core/layer.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/element-command.test.ts
  cli/tests/unit/core/layer.test.ts
Due: eslint, typescript-check

Fix: Remove semantic ID lookup from production Layer class
  cli/src/core/layer.ts
  cli/tests/helpers/element-finder.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/element-command.test.ts
Due: eslint, typescript-check

Complete work for issue #485
  cli/src/core/layer.ts
  cli/tests/helpers/element-finder.ts
Due: eslint, typescript-check

Complete work for issue #485
  cli/src/core/element.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
  cli/tests/helpers/element-finder.ts
Due: eslint, typescript-check

Fix: Remove leftover semanticId assignment from Layer.getElement()
  cli/src/core/layer.ts
Due: eslint, typescript-check

Fix: Use semantic IDs instead of UUIDs for element identification
  cli/src/commands/add.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

