Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #359
  .github_comment_summary.md
Due: none

Resolve medium findings from PR code review
  .gitignore
  CRITICAL_FIXES_SUMMARY.md
  PR_REVIEW_MEDIUM_FINDINGS_RESOLUTION.md
Due: none

Complete repair cycle for issue #360
  .github_comment_summary.md
Due: none

Resolve low-priority findings from PR code review
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_361_1770776398_senior_software_engineer_1770776399.txt
  cli/src/commands/add.ts
  cli/src/commands/catalog.ts
  cli/src/commands/changeset.ts
  cli/src/commands/chat-logs.ts
  cli/src/commands/chat.ts
  cli/src/commands/claude.ts
  cli/src/commands/conformance.ts
  cli/src/commands/copilot.ts
  cli/src/commands/delete.ts
  cli/src/commands/export.ts
  cli/src/commands/graph-migrate.ts
  cli/src/commands/import.ts
  cli/src/commands/info.ts
  cli/src/commands/init.ts
  cli/src/commands/list.ts
  cli/src/commands/migrate-elements.ts
  cli/src/commands/migrate.ts
  cli/src/commands/model-migrate.ts
  cli/src/commands/project.ts
  cli/src/commands/search.ts
  cli/src/commands/show.ts
  cli/src/commands/stats.ts
  cli/src/commands/trace.ts
  cli/src/commands/upgrade.ts
  cli/src/commands/validate.ts
  cli/src/commands/visualize.ts
  cli/src/telemetry/index.ts
  cli/src/utils/error-utils.ts
  cli/src/utils/layer-name-mapping.ts
  cli/src/utils/string-utils.ts
  cli/src/utils/table-formatting.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Complete work for issue #361
  .claude_prompt_senior_software_engineer_documentation_robotics_SDLC_Execution_361_1770776398_senior_software_engineer_1770776399.txt
Due: none

Complete work for issue #361
  cli/README.md
  cli/scripts/generate-registry.ts
  cli/scripts/generate-validators.ts
  cli/src/commands/add.ts
  cli/src/commands/catalog.ts
  cli/src/commands/changeset.ts
  cli/src/commands/chat-logs.ts
  cli/src/commands/chat.ts
  cli/src/commands/claude.ts
  cli/src/commands/conformance.ts
  cli/src/commands/copilot.ts
  cli/src/commands/delete.ts
  cli/src/commands/export.ts
  cli/src/commands/graph-migrate.ts
  cli/src/commands/import.ts
  cli/src/commands/info.ts
  cli/src/commands/init.ts
  cli/src/commands/list.ts
  cli/src/commands/migrate-elements.ts
  cli/src/commands/migrate.ts
  cli/src/commands/model-migrate.ts
  cli/src/commands/project.ts
  cli/src/commands/search.ts
  cli/src/commands/show.ts
  cli/src/commands/stats.ts
  cli/src/commands/trace.ts
  cli/src/commands/upgrade.ts
  cli/src/commands/validate.ts
  cli/src/commands/visualize.ts
  cli/src/telemetry/index.ts
  cli/src/utils/error-utils.ts
  cli/src/utils/layer-name-mapping.ts
  cli/src/utils/string-utils.ts
  cli/src/utils/table-formatting.ts
  cli/src/validators/validation-formatter.ts
Due: eslint, typescript-check

Complete work for issue #362
  cli/src/coding-agents/claude-code-client.ts
  cli/src/coding-agents/copilot-client.ts
  cli/src/commands/chat.ts
  cli/src/commands/claude.ts
  cli/src/commands/copilot.ts
  cli/src/commands/delete.ts
  cli/src/commands/list.ts
  cli/src/commands/migrate-elements.ts
  cli/src/commands/show.ts
  cli/src/commands/trace.ts
  cli/src/commands/visualize.ts
  cli/src/core/mutation-handler.ts
  cli/src/validators/validation-formatter.ts
  cli/tests/unit/utils/errors.test.ts
  cli/tests/unit/utils/layer-name-formatter.test.ts
Due: eslint, typescript-check

Complete work for issue #362
  cli/tests/unit/utils/layer-name-formatter.test.ts
  docs/CLI_REFACTORING_ISSUE_330_DOCUMENTATION_ANALYSIS.md
Due: eslint

Complete work for issue #362
  docs/CLI_REFACTORING_DOCUMENTATION.md
  docs/CLI_REFACTORING_TECHNICAL_DOCUMENTATION.md
Due: none

Complete repair cycle for issue #362
  cli/tests/unit/utils/layer-name-formatter.test.ts
Due: eslint

Restore low-priority PR code review utility functions
  cli/src/utils/error-utils.ts
  cli/src/utils/layer-name-mapping.ts
  cli/src/utils/string-utils.ts
  cli/src/utils/table-formatting.ts
Due: eslint, typescript-check

Complete work for issue #363
  cli/src/commands/info.ts
  cli/src/commands/list.ts
  cli/src/commands/search.ts
  cli/src/utils/error-utils.ts
  cli/src/utils/layer-name-mapping.ts
Due: eslint, typescript-check

Fix CLI type normalization and element deletion for regression tests
  cli/scripts/generate-registry.ts
  cli/src/commands/add.ts
  cli/src/core/element.ts
  cli/src/core/layer.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Fix element type to use user-provided abbreviated names
  cli/src/commands/add.ts
Due: eslint, typescript-check

Update regression tests to use correct spec type names
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Fix invalid predicate in relationship test
  .mcp.json
  cli-validation/test-suite/test-cases/relationships.yaml
Due: none

Fix relationship test to use only spec-defined predicates
  cli-validation/test-suite/test-cases/relationships.yaml
Due: none

Fix relationship test expectations after relationship deletion
  cli-validation/test-suite/test-cases/relationships.yaml
Due: none

Add --force flag to changeset apply commands in tests
  cli-validation/test-suite/test-cases/changeset.yaml
Due: none

Fix changeset apply element creation from staged data
  cli/src/core/staging-area.ts
Due: eslint, typescript-check

Fix element existence check in changeset apply
  cli/src/core/staging-area.ts
Due: eslint, typescript-check

Fix changeset apply command and test reporter
  cli-validation/test-suite/reporters/console-reporter.ts
  cli/src/commands/changeset.ts
Due: eslint, typescript-check

Fix relationship validation by normalizing type names
  cli-validation/test-suite/test-cases/changeset.yaml
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

feat(spec): add Neo4j export launcher and track generated files
  spec/neo4j/.gitignore
  spec/neo4j/README.md
  spec/neo4j/csv/edges.csv
  spec/neo4j/csv/import.sh
  spec/neo4j/csv/nodes.csv
  spec/neo4j/import.cypher
  spec/neo4j/launch-neo4j.sh
Due: none

fix(spec): sanitize layer IDs in Neo4j labels to avoid syntax errors
  scripts/export-spec-to-neo4j.ts
  spec/neo4j/csv/nodes.csv
  spec/neo4j/import.cypher
Due: none

feat(spec): add interactive Neo4j Browser guide for spec exploration
  spec/neo4j/README.md
  spec/neo4j/launch-neo4j.sh
  spec/neo4j/spec-explorer-guide.html
Due: none

feat(neo4j): Add CORS server and interactive guides for spec exploration
  spec/neo4j/GUIDE_USAGE.md
  spec/neo4j/README.md
  spec/neo4j/browser-guide.html
  spec/neo4j/cors-server.py
  spec/neo4j/guide.html
  spec/neo4j/launch-neo4j.sh
  spec/neo4j/visualization-tips.md
Due: none

Fixed CORS issue with neo4j browser
  spec/neo4j/cors-server.py
Due: none

chore(spec): Remove legacy layer documentation and create browser output directory
  spec/browser/.gitignore
  spec/layers/01-motivation-layer.md
  spec/layers/02-business-layer.md
  spec/layers/03-security-layer.md
  spec/layers/04-application-layer.md
  spec/layers/05-technology-layer.md
  spec/layers/06-api-layer.md
  spec/layers/07-data-model-layer.md
  spec/layers/08-data-store-layer.md
  spec/layers/09-ux-layer.md
  spec/layers/10-navigation-layer.md
  spec/layers/11-apm-observability-layer.md
  spec/layers/12-testing-layer.md
  spec/layers/INDEX.md
Due: validate-markdown-specs, validate-link-registry

Complete work for issue #367
  .mcp.json
  cli/tests/integration/changeset-concurrent.test.ts
Due: eslint

Complete work for issue #367
  cli/tests/integration/test_staging_interception.test.ts
  cli/tests/unit/chat/client-communication.test.ts
Due: eslint

Complete work for issue #368
  PHASE_2_IMPLEMENTATION_SUMMARY.md
  cli/SPEC_LOADER_USAGE_GUIDE.md
  cli/docs/SPEC_DATA_LOADER.md
  cli/src/core/spec-data-service.ts
  cli/src/core/spec-loader-types.ts
  cli/src/core/spec-loader.ts
  cli/tests/integration/spec-loader-integration.test.ts
  cli/tests/unit/spec-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #368
  PHASE_2_IMPLEMENTATION_SUMMARY.md
  cli/SPEC_LOADER_USAGE_GUIDE.md
  cli/docs/SPEC_DATA_LOADER.md
  cli/src/core/spec-loader-types.ts
  cli/src/core/spec-loader.ts
  cli/tests/integration/spec-loader-integration.test.ts
  cli/tests/unit/spec-loader.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #368
  cli/src/core/spec-data-service.ts
Due: eslint, typescript-check

Complete work for issue #369
  IMPLEMENTATION_SUMMARY.md
  PHASE3_REPORT.md
  cli/src/analysis/data-model-analyzer.ts
  cli/src/analysis/relationship-classifier.ts
  cli/src/cli.ts
  cli/src/commands/report.ts
  cli/src/core/report-data-model.ts
  cli/src/export/report-exporter.ts
  cli/src/export/report-formatters.ts
  cli/tests/integration/report-command.test.ts
  cli/tests/unit/analysis/data-model-analyzer.test.ts
  cli/tests/unit/analysis/relationship-classifier.test.ts
  cli/tests/unit/core/report-data-model.test.ts
  cli/tests/unit/export/report-formatters.test.ts
  docs/REPORT_GUIDE.md
Due: eslint, typescript-check

Complete work for issue #369
  IMPLEMENTATION_SUMMARY.md
  PHASE3_REPORT.md
  cli/src/analysis/index.ts
  cli/src/analysis/relationship-classifier.ts
  cli/src/core/layers.ts
  cli/src/core/report-data-model.ts
  cli/tests/unit/core/report-data-model.test.ts
Due: eslint, typescript-check

Complete work for issue #369
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/input-space-partitions.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/test-case-sketches.yaml
  cli-validation/test-project/baseline/documentation-robotics/model/12_testing/test-coverage-models.yaml
  cli-validation/test-project/test-delete/model/12_testing/input-space-partitions.yaml
  cli-validation/test-project/test-delete/model/12_testing/test-case-sketches.yaml
  cli-validation/test-project/test-delete/model/12_testing/test-coverage-models.yaml
  docs/REPORT_GUIDE.md
Due: none

Phase 4: Implement MarkdownGenerator with Mermaid diagrams and formatted tables
  .claude_prompt_6abf295d-22b7-48f5-8fc9-e0e105f36e0c.txt
  PHASE_4_IMPLEMENTATION_SUMMARY.md
  cli/src/commands/export.ts
  cli/src/export/enhanced-markdown-exporter.ts
  cli/src/export/index.ts
  cli/src/export/markdown-generator.ts
  cli/tests/integration/enhanced-markdown-export.test.ts
  cli/tests/unit/export/enhanced-markdown-exporter.test.ts
  cli/tests/unit/export/markdown-generator.test.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

