Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Fix: Use orchestrator.computeAffectedLayers for relationship handlers
  cli/src/commands/relationship.ts
  cli/tests/integration/relationship-orchestrator-hooks.test.ts
Due: eslint, typescript-check

Fix: Consistent telemetry logging for report generation failures in mutation handler
  cli/src/core/mutation-handler.ts
Due: eslint, typescript-check

Complete repair cycle for issue #582
  cli/src/core/mutation-handler.ts
Due: eslint, typescript-check

Fix: Report Data Collection — Type Safety and Validation
  cli/src/reports/model-report-data.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix: Type Safety and Validation in Report Data Collection
  cli/src/core/layers.ts
  cli/src/reports/model-report-data.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Complete work for issue #583
  cli/src/commands/relationship.ts
  cli/src/core/mutation-handler.ts
  cli/src/core/staging-area.ts
  cli/src/reports/model-report-data.ts
Due: eslint, typescript-check

Fix: Report Content — Spec Fidelity
  cli/src/reports/model-layer-report-generator.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint, typescript-check

Fix: Report Content — Spec Fidelity (Revision 1)
  cli/src/reports/model-layer-report-generator.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  cli-validation/test-suite/test-results/junit.xml
Due: none

Fix: Relationship Command — Duplicate Element Lookups
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Fix: Relationship Command — Type Safety and Parameter Bundling
  cli/src/commands/relationship.ts
Due: eslint, typescript-check

Complete repair cycle for issue #585
  .mcp.json
Due: none

Complete work for issue #586
  cli/tests/integration/reports/model-reports.test.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint

Complete work for issue #586
  cli/tests/unit/reports/model-layer-report-generator.test.ts
Due: eslint

Complete repair cycle for issue #586
  .mcp.json
Due: none

Fix: Mermaid Diagram Generation — Label Escaping and Large Layer Fallback
  cli/src/reports/model-layer-report-generator.ts
  cli/src/utils/mermaid-utils.ts
  cli/tests/unit/reports/model-layer-report-generator.test.ts
  cli/tests/unit/utils/mermaid-utils.test.ts
Due: eslint, typescript-check

Fix: Add newline at end of .mcp.json
  .mcp.json
Due: none

Fix: Mutation Handler Issues - Silent Skips, False Atomicity Claims, and Telemetry
  cli/src/core/mutation-handler.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

Complete work for issue #588
  cli/src/core/mutation-handler.ts
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint, typescript-check

Complete work for issue #588
  cli/tests/integration/reports/model-reports.test.ts
Due: eslint

Fix: Report Orchestrator Error Handling — Throw Instead of Silent Swallow
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Fix: Update generateLayerReport tests to assert throw behavior
  cli/tests/unit/reports/model-report-orchestrator.test.ts
Due: eslint

Complete repair cycle for issue #589
  cli/test-output.txt
Due: none

Complete work for issue #590
  cli/src/commands/relationship.ts
  cli/src/reports/model-report-data.ts
  cli/src/reports/model-report-orchestrator.ts
Due: eslint, typescript-check

Phase 1: Consolidate visualization server tests from 10 to 5 files
  cli/tests/integration/visualization-server-comprehensive.test.ts
  cli/tests/integration/visualization-server-custom-viewer.test.ts
  cli/tests/integration/visualization-server-jsonrpc-chat.test.ts
  cli/tests/integration/visualization-server-websocket-auth.test.ts
Due: eslint

Complete work for issue #0
  .mcp.json
  Dockerfile.agent
  docker-entrypoint-agent.sh
Due: none

Fix GitHub CLI authentication in container: disable dbus-launch
  docker-entrypoint-agent.sh
Due: none

Phase 2: Exclude Low-Value Tests from Default Regression Target
  .github/workflows/cli-tests.yml
  cli/package.json
  cli/scripts/run-extended-tests.sh
  cli/scripts/run-regression-tests.sh
Due: none

Complete work for issue #595
  cli/bunfig.toml
  cli/tests/helpers/golden-copy.ts
  cli/tests/setup.ts
Due: eslint

docs: define orchestrator repair cycle test commands and replace regression with cli-compatibility
  CLAUDE.md
Due: none

Complete work for issue #602
  cli-validation/test-suite/comparator.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Complete repair cycle for issue #602
  CLAUDE.md
Due: none

Complete work for issue #603
  cli-validation/test-suite/test-cases/advanced.yaml
  cli-validation/test-suite/test-cases/element-crud.yaml
  cli-validation/test-suite/test-cases/export.yaml
  cli-validation/test-suite/test-cases/validation.yaml
Due: none

Complete repair cycle for issue #603
  cli-validation/test-suite/test-cases/export.yaml
Due: none

Complete work for issue #604
  cli-validation/test-suite/runner-config.ts
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Complete work for issue #604
  cli-validation/test-suite/setup.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Implement Phase 4: Worker process and suite scheduler for parallel test execution
  cli-validation/test-suite/scheduler.ts
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/tests/scheduler.test.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #605
  cli-validation/test-suite/test-runner.ts
  cli-validation/test-suite/types.ts
  cli-validation/test-suite/worker.ts
Due: none

Complete work for issue #605
  cli-validation/test-suite/worker.ts
Due: none

Add result aggregation to reporters module for parallel dispatch
  cli-validation/test-suite/reporters/result-merger.ts
  cli-validation/test-suite/test-runner.ts
Due: none

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

