Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Add spec metadata export to Neo4j
  package.json
  scripts/export-spec-to-neo4j.ts
  spec/neo4j/.gitignore
  spec/neo4j/README.md
Due: none

Update spec CHANGELOG for v0.8.0 release
  spec/CHANGELOG.md
Due: none

Fix CI test failures after spec refactoring
  .github/workflows/cli-tests.yml
  cli/tests/unit/generation/extract-layers.test.ts
  cli/tests/unit/generation/extract-nodes.test.ts
Due: eslint

Fix CI test failures: update schema paths and OpenAPI source reference handling
  cli/src/export/openapi-exporter.ts
  cli/src/schemas/bundled/base/model-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node.schema.json
  spec/schemas/base/model-node-relationship.schema.json
  spec/schemas/base/spec-node-relationship.schema.json
  spec/schemas/base/spec-node.schema.json
Due: eslint, typescript-check

Add source reference handling to ArchiMate exporter and fix schema ref paths
  cli/src/export/archimate-exporter.ts
  cli/src/schemas/bundled/base/model-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node.schema.json
  spec/schemas/base/model-node-relationship.schema.json
  spec/schemas/base/spec-node-relationship.schema.json
  spec/schemas/base/spec-node.schema.json
Due: eslint, typescript-check

Fix base schema $id fields to use simple filenames for ajv-cli compatibility
  cli/src/schemas/bundled/base/attribute-spec.schema.json
  cli/src/schemas/bundled/base/model-node-relationship.schema.json
  cli/src/schemas/bundled/base/predicate-catalog.schema.json
  cli/src/schemas/bundled/base/source-references.schema.json
  cli/src/schemas/bundled/base/spec-layer.schema.json
  cli/src/schemas/bundled/base/spec-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node.schema.json
  spec/schemas/base/attribute-spec.schema.json
  spec/schemas/base/model-node-relationship.schema.json
  spec/schemas/base/predicate-catalog.schema.json
  spec/schemas/base/source-references.schema.json
  spec/schemas/base/spec-layer.schema.json
  spec/schemas/base/spec-node-relationship.schema.json
  spec/schemas/base/spec-node.schema.json
Due: none

Remove ./ prefix from schema $ref paths for ajv-cli compatibility
  cli/src/schemas/bundled/base/model-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node-relationship.schema.json
  cli/src/schemas/bundled/base/spec-node.schema.json
  spec/schemas/base/model-node-relationship.schema.json
  spec/schemas/base/spec-node-relationship.schema.json
  spec/schemas/base/spec-node.schema.json
Due: none

Fix CI schema validation to provide references for base schemas
  .github/workflows/cli-tests.yml
Due: none

Fix JSON syntax error in jsonschema.node.schema.json
  cli/src/schemas/bundled/nodes/data-model/jsonschema.node.schema.json
  spec/schemas/nodes/data-model/jsonschema.node.schema.json
Due: none

Show jq errors in CI validation output
  .github/workflows/cli-tests.yml
Due: none

Fix CI validation condition - use direct jq exit code check
  .github/workflows/cli-tests.yml
Due: none

Fix exporter tests by creating graph edges from Element references/relationships
  cli/src/core/layer.ts
  cli/src/export/json-schema-exporter.ts
  cli/src/export/plantuml-exporter.ts
  cli/tests/unit/export/archimate-exporter.test.ts
  cli/tests/unit/export/plantuml-exporter.test.ts
Due: eslint, typescript-check

Fix schema validation to handle subdirectory structure
  cli/src/commands/validate.ts
Due: eslint, typescript-check

Complete work for issue #332
  cli/.gitignore
  cli/package.json
  cli/scripts/generate-registry.ts
  cli/scripts/sync-spec-schemas.sh
  cli/src/commands/add.ts
  cli/src/commands/conformance.ts
  cli/src/commands/docs.ts
  cli/src/core/layer-utils.ts
  cli/src/export/stats-formatters.ts
  cli/src/export/types.ts
  cli/src/schemas/bundled/layers/01-motivation.layer.json
  cli/src/schemas/bundled/layers/02-business.layer.json
  cli/src/schemas/bundled/layers/03-security.layer.json
  cli/src/schemas/bundled/layers/04-application.layer.json
  cli/src/schemas/bundled/layers/05-technology.layer.json
  cli/src/schemas/bundled/layers/06-api.layer.json
  cli/src/schemas/bundled/layers/07-data-model.layer.json
  cli/src/schemas/bundled/layers/08-data-store.layer.json
  cli/src/schemas/bundled/layers/09-ux.layer.json
  cli/src/schemas/bundled/layers/10-navigation.layer.json
  cli/src/schemas/bundled/layers/11-apm.layer.json
  cli/src/schemas/bundled/layers/12-testing.layer.json
  cli/src/validators/naming-validator.ts
  cli/src/validators/reference-validator.ts
Due: eslint, typescript-check

Complete work for issue #332
  cli/scripts/generate-registry.ts
  cli/src/commands/conformance.ts
  cli/src/commands/docs.ts
  cli/src/validators/reference-validator.ts
Due: eslint, typescript-check

Complete work for issue #332
  .pre-commit-config.yaml
  cli/tests/differential/CLI_COMMAND_MAPPING.md
  cli/tests/differential/QUICKSTART.md
  cli/tests/differential/README.md
  cli/tests/differential/RESULTS.md
  cli/tests/differential/TEST_COVERAGE.md
  cli/tests/differential/comparator.ts
  cli/tests/differential/differential.test.ts
  cli/tests/differential/runner.ts
  cli/tests/differential/snapshot-engine.test.ts
  cli/tests/differential/snapshot-engine.ts
  cli/tests/differential/snapshot-integration.test.ts
  cli/tests/differential/test-cases.yaml
Due: eslint

Complete repair cycle for issue #332
  .pre-commit-config.yaml
Due: none

Complete work for issue #333
  cli/scripts/generate-registry.ts
  cli/src/commands/add.ts
  cli/src/commands/conformance.ts
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/unit/node-types.test.ts
Due: eslint, typescript-check

Complete work for issue #333
  cli/tests/integration/info-command.test.ts
  cli/tests/integration/test_staging_interception.test.ts
Due: eslint

Complete work for issue #333
  cli/tests/integration/add-command-type-validation.test.ts
  cli/tests/integration/visualization-server-api.test.ts
Due: eslint

Complete work for issue #333
  cli/tests/integration/error-scenarios.test.ts
  cli/tests/integration/stats-command.test.ts
Due: eslint

Complete work for issue #333
  cli/tests/integration/commands.test.ts
  cli/tests/integration/source-reference.test.ts
Due: eslint

Complete work for issue #334
  cli/src/validators/index.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/src/validators/validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

Complete work for issue #334
  cli/scripts/generate-registry.ts
  cli/src/validators/index.ts
  cli/src/validators/relationship-schema-validator.ts
  cli/src/validators/validator.ts
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint, typescript-check

Complete work for issue #334
  cli/tests/unit/validators/relationship-schema-validator.test.ts
Due: eslint

Fix end of file issues
  .claude_prompt_repair_test_pre-commit_type1_iter1_attempt0_senior_software_engineer_1770692675.txt
Due: none

Complete repair cycle for issue #334
  .claude_prompt_repair_test_pre-commit_type1_iter1_attempt0_senior_software_engineer_1770692675.txt
Due: none

Complete work for issue #335
  cli/src/cli.ts
  cli/src/commands/migrate-elements.ts
  cli/src/core/element.ts
  cli/src/types/index.ts
  cli/src/utils/element-migration.ts
  cli/src/validators/schema-validator.ts
  cli/tests/unit/test-element-conversion.ts
  cli/tests/unit/test-element-migration.ts
Due: eslint, typescript-check

Complete work for issue #335
  cli/src/core/layer.ts
  cli/src/core/reference-registry.ts
  cli/src/validators/relationship-schema-validator.ts
Due: eslint, typescript-check

Complete work for issue #335
  cli/tests/unit/validators/naming-validator.test.ts
  cli/tests/unit/validators/validator.test.ts
Due: eslint

Complete work for issue #335
  cli/src/commands/delete.ts
  cli/src/core/layer.ts
  cli/tests/integration/test_staging_interception.test.ts
Due: eslint, typescript-check

Complete work for issue #335
  cli/tests/integration/changeset-rollback.test.ts
  cli/tests/integration/commands.test.ts
  cli/tests/integration/golden-copy-integration.test.ts
  cli/tests/integration/layer-naming-validation.test.ts
Due: eslint

Complete work for issue #336
  cli/package.json
  cli/scripts/generate-validators.ts
  cli/src/validators/schema-validator.ts
  cli/tests/performance/validator-benchmark.test.ts
Due: eslint, typescript-check

Complete work for issue #336
  cli/scripts/generate-validators.ts
  cli/src/validators/schema-validator.ts
Due: eslint, typescript-check

Complete work for issue #336
  cli/tests/unit/core/changeset-id-validation.test.ts
  cli/tests/unit/validators/validator.test.ts
Due: eslint

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

