Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

.pre-commit-config.yaml:

# Pre-commit hooks for Documentation Robotics
# Install: npm install -g pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/test-fixtures/
      - id: end-of-file-fixer
        exclude: ^spec/test-fixtures/
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
        exclude: ^spec/test-fixtures/invalid/
      - id: check-json
        exclude: ^spec/test-fixtures/invalid/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown formatting (runs before linting)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json]
        args: [--write, --prose-wrap=preserve]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md|cli/CHANGELOG\.md)

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]
        exclude: ^(CHANGELOG\.md|spec/CHANGELOG\.md)

  # TypeScript/JavaScript linting (for Bun CLI)
  - repo: local
    hooks:
      - id: eslint
        name: TypeScript Linting
        entry: bash -c 'cd cli && npm run lint'
        language: system
        files: ^cli/.*\.(ts|js)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type checking
        entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
        language: system
        files: ^cli/src/.*\.ts$
        pass_filenames: false

  # JSON Schema validation
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-jsonschema
        name: Validate JSON Schemas (syntax)
        files: ^spec/schemas/.*\.schema\.json$
        args: [--schemafile, "https://json-schema.org/draft-07/schema"]

  # Spec validation (requires Python virtual environment)
  - repo: local
    hooks:
      - id: validate-markdown-specs
        name: Validate markdown layer specifications
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
        language: system
        files: ^spec/layers/.*\.md$
        pass_filenames: false

      - id: validate-link-registry
        name: Validate link registry is synchronized
        entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
        language: system
        files: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$
        pass_filenames: false

# Exclude patterns
exclude: |
  (?x)^(
    \.git/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    \.dr/
  )

Complete repair cycle for issue #546
  cli/tests/integration/mcp-pattern-execution.test.ts
Due: eslint

Fix scan command issues from PR review
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
Due: eslint, typescript-check

Complete work for issue #547
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #0
  .mcp.json
  docker-entrypoint-agent.sh
Due: none

Include docker-entrypoint-agent.sh in CI workflow trigger paths
  .github/workflows/cli-tests.yml
Due: none

Complete repair cycle for issue #547
  docker-entrypoint-agent.sh
Due: none

Fix spec version utilities error handling (#548)
  cli/src/commands/upgrade.ts
  cli/src/utils/spec-version.ts
Due: eslint, typescript-check

Complete repair cycle for issue #548
  .mcp.json
Due: none

Complete work for issue #549
  cli/tests/integration/scan.test.ts
Due: eslint

docs: Add Architecture Decision Records for scanning system
  CLAUDE.md
  README.md
  cli/docs/SCAN_ARCHITECTURE.md
  docs/adr/ADR-003-pattern-files-cli-asset.md
  docs/adr/ADR-004-ast-parser-selection.md
  docs/adr/ADR-005-language-support-management.md
  docs/adr/README.md
Due: none

Complete work for issue #550
  README.md
  cli/docs/SCAN_ARCHITECTURE.md
  docs/adr/ADR-003-pattern-files-cli-asset.md
  docs/adr/ADR-004-ast-parser-selection.md
  docs/adr/ADR-005-language-support-management.md
  docs/adr/README.md
Due: none

Complete work for issue #551
  cli/src/commands/scan.ts
  cli/src/scan/mcp-client.ts
  cli/tests/helpers/mock-mcp-client.ts
  cli/tests/integration/mcp-client-connection.test.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete work for issue #551
  cli/src/scan/mcp-client.ts
  cli/tests/helpers/mock-mcp-client.ts
Due: eslint, typescript-check

Complete repair cycle for issue #551
  cli/tests/helpers/mock-mcp-client.ts
Due: eslint

Complete work for issue #552
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Fix documentation accuracy in scanning system
  cli/docs/SCAN_ARCHITECTURE.md
  docs/adr/ADR-003-pattern-files-cli-asset.md
  docs/adr/ADR-005-language-support-management.md
Due: none

Fix pattern system template transform error handling
  cli/src/scan/pattern-loader.ts
  cli/tests/unit/scan/pattern-loader.test.ts
Due: eslint, typescript-check

Complete work for issue #555
  cli/src/commands/scan.ts
  cli/tests/integration/scan.test.ts
Due: eslint, typescript-check

Complete repair cycle for issue #555
  .mcp.json
Due: none

Complete work for issue #556
  cli/src/core/migration-registry.ts
  cli/tests/unit/migration-registry.test.ts
Due: eslint, typescript-check

Implement relationship scanning coverage with inference engine (issue #527)
  cli/src/commands/scan.ts
  cli/src/scan/layer-constants.ts
  cli/src/scan/patterns/business/archimate-processes.yaml
  cli/src/scan/patterns/motivation/archimate-goals.yaml
  cli/src/scan/patterns/navigation/routing.yaml
  cli/src/scan/patterns/technology/infrastructure.yaml
  cli/src/scan/relationship-inference.ts
  cli/tests/integration/scan-relationship-coverage.test.ts
Due: eslint, typescript-check

Complete work for issue #557
  cli/src/scan/patterns/business/archimate-processes.yaml
  cli/src/scan/patterns/motivation/archimate-goals.yaml
  cli/src/scan/patterns/navigation/routing.yaml
  cli/src/scan/patterns/technology/infrastructure.yaml
  cli/tests/integration/scan-relationship-coverage.test.ts
Due: eslint

Complete work for issue #557
  cli/src/scan/patterns/business/archimate-processes.yaml
  cli/src/scan/patterns/motivation/archimate-goals.yaml
  cli/src/scan/patterns/navigation/routing.yaml
  cli/src/scan/patterns/technology/infrastructure.yaml
Due: none

Complete repair cycle for issue #557
  cli/src/scan/relationship-inference.ts
Due: eslint, typescript-check

Complete work for issue #558
  cli/tests/integration/mcp-pattern-execution.test.ts
  cli/tests/integration/scan.test.ts
Due: eslint

Complete work for issue #559
  cli/src/scan/relationship-inference.ts
Due: eslint, typescript-check

Complete repair cycle for issue #559
  cli/tests/integration/scan-relationship-coverage.test.ts
Due: eslint

Complete work for issue #560
  cli/src/commands/scan.ts
Due: eslint, typescript-check

Complete work for issue #561
  cli/src/commands/scan.ts
  cli/src/scan/pattern-loader.ts
  cli/tests/integration/scan.test.ts
  docs/api-spec.yaml
Due: eslint, typescript-check

Fix prettier formatting in docs/api-spec.yaml
  docs/api-spec.yaml
Due: none

Fix CI workflow path filter to include OpenAPI spec
  .github/workflows/cli-tests.yml
Due: none

Fix MCP Client disconnect errors and ScanConfig type mismatch
  cli/src/commands/scan.ts
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
Due: eslint, typescript-check

Fix relationship ID format test expectation
  cli/tests/unit/scan/command.test.ts
Due: eslint

Remove dead code and unnecessary type alias
  cli/src/scan/config.ts
  cli/src/scan/mcp-client.ts
Due: eslint, typescript-check

Add comprehensive test coverage for scan command gaps
  cli/tests/integration/scan-changeset-partial-failure.test.ts
  cli/tests/unit/scan/is-transport-error.test.ts
  cli/tests/unit/scan/layer-constants.test.ts
Due: eslint
