Repository tinkermonkey/documentation_robotics: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-markdown-specs, validate-link-registry

eslint:
  name: TypeScript Linting
  entry: bash -c 'cd cli && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd cli && npm run type-check || echo "⚠️  Type checking found issues (not blocking)"'
  language: system
  pass_filenames: false

validate-markdown-specs:
  name: Validate markdown layer specifications
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --markdown --schemas --no-output'
  language: system
  pass_filenames: false

validate-link-registry:
  name: Validate link registry is synchronized
  entry: bash -c 'source .venv/bin/activate && python scripts/validate.py --relationships --all --no-output'
  language: system
  pass_filenames: false

Complete work for issue #914
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/dist/analyzers/cbm.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/scripts/build-spec.ts
Due: none

Complete work for issue #914
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
  spec/dist/analyzers/cbm.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: none

Complete work for issue #914
  cli/src/commands/audit.ts
  cli/tests/integration/audit-populated.test.ts
  cli/tests/integration/audit-snapshots.test.ts
  cli/tests/integration/audit.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
Due: eslint, typescript-check

Fix: Farm Model Initialization and Git Repository Setup
  cli/src/commands/farm.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Revision 1: Address farm model initialization test feedback
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm.test.ts
Due: eslint

Fix weak assertion in farm sync e2e test
  cli/tests/integration/farm-sync-e2e.test.ts
Due: eslint

Complete work for issue #915
  cli/src/schemas/bundled/analyzers/cbm.json
  cli/src/schemas/bundled/api.json
  cli/src/schemas/bundled/apm.json
  cli/src/schemas/bundled/application.json
  cli/src/schemas/bundled/base.json
  cli/src/schemas/bundled/business.json
  cli/src/schemas/bundled/data-model.json
  cli/src/schemas/bundled/data-store.json
  cli/src/schemas/bundled/motivation.json
  cli/src/schemas/bundled/navigation.json
  cli/src/schemas/bundled/product.json
  cli/src/schemas/bundled/security.json
  cli/src/schemas/bundled/technology.json
  cli/src/schemas/bundled/testing.json
  cli/src/schemas/bundled/ux.json
Due: none

Fix: Align farm manifest schema with specification (issue #916)
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
  cli/src/core/farm-sync-engine.ts
  cli/src/core/model.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/farm-commands-json.test.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
  cli/tests/integration/farm.test.ts
  cli/tests/unit/dual-root.test.ts
  cli/tests/unit/verify-engine-dual-root.test.ts
Due: eslint, typescript-check

Fix: Revert incorrect field renames and restore deleted autoCommit test
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/unit/dual-root.test.ts
  cli/tests/unit/verify-engine-dual-root.test.ts
Due: eslint

Fix: Simplify autoCommit test to verify code path execution
  cli/tests/integration/farm-sync-e2e.test.ts
Due: eslint

Complete work for issue #916
  spec/dist/analyzers/cbm.json
  spec/dist/api.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: none

Complete work for issue #916
  spec/dist/analyzers/cbm.json
  spec/dist/apm.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
Due: none

Complete work for issue #916
  spec/dist/api.json
  spec/dist/apm.json
Due: none

Complete work for issue #916
  spec/dist/analyzers/cbm.json
  spec/dist/api.json
  spec/dist/application.json
  spec/dist/base.json
  spec/dist/business.json
  spec/dist/data-model.json
  spec/dist/data-store.json
  spec/dist/motivation.json
  spec/dist/navigation.json
  spec/dist/product.json
  spec/dist/security.json
  spec/dist/technology.json
  spec/dist/testing.json
  spec/dist/ux.json
  spec/scripts/build-spec.ts
Due: none

Implement DR_FARM_PATH environment variable and --codebase-path CLI flag
  cli/src/cli.ts
  cli/src/core/model.ts
  cli/src/utils/globals.ts
  cli/src/utils/project-paths.ts
  cli/tests/unit/project-paths.test.ts
Due: eslint, typescript-check

Fix issues from code review #917 revision 1
  cli/src/core/model.ts
  cli/src/utils/project-paths.ts
  cli/tests/integration/codebase-path-flag.test.ts
  cli/tests/unit/utils/globals.test.ts
Due: eslint, typescript-check

Fix broken test setup for --codebase-path by adding resetGlobalOptions()
  cli/src/utils/globals.ts
  cli/tests/integration/codebase-path-flag.test.ts
  cli/tests/unit/utils/globals.test.ts
Due: eslint, typescript-check

Fix test that verifies codebasePath reset to use resetGlobalOptions()
  cli/tests/integration/codebase-path-flag.test.ts
Due: eslint

Fix: Process in_model_only and ignored elements even if file check is missing
  cli/src/analyzers/verify-engine.ts
Due: eslint, typescript-check

Test: Remove incomplete in_model_only bucket tests
  cli/tests/integration/analyzers/verify-engine.test.ts
Due: eslint

Fix: Update API layer directory from 06_api to 07_api in verify integration tests
  cli/tests/integration/analyzers/verify.test.ts
Due: eslint

Complete work for issue #918
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
  cli/tests/integration/analyzers/verify.test.ts
Due: eslint, typescript-check

Fix: Address farm platform-view review feedback
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
  cli/tests/integration/analyzers/verify.test.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Fix: Verify platform_view_info in JSON output file
  cli/tests/integration/farm.test.ts
Due: eslint

Recover work trapped by issue #127 worktree corruption
  .mcp.json
  .pre-commit-config.yaml
  cli/src/analyzers/verify-engine.ts
  cli/src/cli.ts
  cli/src/commands/audit.ts
  cli/src/commands/farm.ts
  cli/src/core/farm-manifest.ts
  cli/src/core/farm-sync-engine.ts
  cli/src/core/model.ts
  cli/src/globals.d.ts
  cli/src/utils/globals.ts
  cli/src/utils/project-paths.ts
  cli/src/validators/composed-reference-validator.ts
  cli/tests/integration/analyzers/verify-engine.test.ts
  cli/tests/integration/analyzers/verify.test.ts
  cli/tests/integration/audit-populated.test.ts
  cli/tests/integration/audit-snapshots.test.ts
  cli/tests/integration/audit.test.ts
  cli/tests/integration/codebase-path-flag.test.ts
  cli/tests/integration/farm-commands-json.test.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
  cli/tests/integration/farm.test.ts
  cli/tests/integration/flag-effectiveness.test.ts
  cli/tests/unit/dual-root.test.ts
  cli/tests/unit/project-paths.test.ts
  cli/tests/unit/utils/globals.test.ts
  cli/tests/unit/verify-engine-dual-root.test.ts
  docs/FARM_AUTOMATION.md
  spec/neo4j/.gitignore
  spec/neo4j/csv/edges.csv
  spec/neo4j/csv/nodes.csv
  spec/neo4j/import.cypher
  spec/scripts/build-spec.ts
Due: eslint, typescript-check

Fix tsc not found: bake node_modules at /opt/deps instead of /workspace
  Dockerfile.agent
Due: none

Complete repair cycle for issue #918
  cli/tests/integration/analyzers/verify.test.ts
Due: eslint

Fix: Move farm sync state file location to model directory
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Fix: Remove stale comment from farm-sync-state.ts
  cli/src/core/farm-sync-state.ts
Due: eslint, typescript-check

Complete work for issue #920
  cli/src/commands/farm.ts
Due: eslint, typescript-check

Fix: Path traversal protection now rejects farm root directory
  cli/src/commands/farm.ts
Due: eslint, typescript-check

Complete work for issue #921
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Fix: Handle partial similarity renames (R087) and fix test guard conditions
  cli/src/core/farm-sync-engine.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Fix: Create application layer explicitly in tests before adding elements
  cli/tests/integration/farm-sync.test.ts
Due: eslint

Fix: Error handling and status reporting across farm sync pipeline
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/src/core/farm-sync-state.ts
  cli/src/core/model.ts
Due: eslint, typescript-check

Fix: Correct inverted git error filtering logic and remove redundant code
  cli/src/core/farm-sync-engine.ts
  cli/src/core/model.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Fix: Handle 'no tracking information' error in git pull and fix model loading tests
  cli/src/core/farm-sync-engine.ts
  cli/tests/integration/farm-sync.test.ts
Due: eslint, typescript-check

Complete work for issue #923
  cli/src/commands/farm.ts
Due: eslint, typescript-check

Complete work for issue #924
  cli/src/commands/farm.ts
  cli/src/core/farm-sync-engine.ts
  cli/src/core/farm-sync-state.ts
  cli/tests/integration/farm-sync-e2e.test.ts
  cli/tests/integration/farm-sync.test.ts
  cli/tests/integration/farm.test.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^cli/.*\.(ts|js)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  typescript-check: any of: ^cli/src/.*\.ts$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-markdown-specs: any of: ^spec/layers/.*\.md$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

  validate-link-registry: any of: ^(spec/layers/.*\.md|spec/schemas/link-registry\.json)$, but not: (?x)^(
  \.git/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.dr/
)

